[2015-08-21 00:44] #260 closed, assigned to nobody

[2015-08-22 03:43] ad510 opened #517 "todo list allows arbitrary html in task"
The todo workshop's main.js has this line in it:

[code]

Did you really want to let the user add arbitrary HTML in the todo list? If you want the task input to be plain text, you can do this instead:

[code]

[2015-08-22 17:19] jonleung commented on #239
@zachlatta, I am closing this issue because:
1. It does not seem like it is going to get resolved
2. It does not seem like we are going to need the waivers in the future

[2015-08-22 17:19] #239 closed, assigned to nobody

[2015-08-22 17:19] jonleung commented on #239
@zachlatta, please re-open this issue if you think we should still try to complete it.

[2015-08-22 17:20] jonleung commented on #230
As discussed on a call on Sat Aug 22 with @MaxWofford, I am assigning this issue to him.

[2015-08-22 17:23] jonleung commented on #348
This issue was completed by @gemmabusoni in https://github.com/hackedu/hack-camp/commit/98a67b50c7d0bf6a9490f0af19f49fb769a1ec74.

I am therefore closing this issue.

[2015-08-22 17:23] #348 closed, assigned to maxwofford

[2015-08-22 17:28] jonleung commented on #410
@ssun098 and @zachlatta, what is the status of this?

I am closing this for now so that we can meet this objective: https://github.com/hackedu/hack-camp/issues/498.

Please feel free to reopen!

[2015-08-22 17:30] maxwofford commented on #137
Closing because we were too late on this.

[2015-08-22 17:30] #137 closed, assigned to maxwofford

[2015-08-22 17:33] selynna commented on #410
@jonleung I submitted a pr a long time ago

[2015-08-22 17:34] jonleung commented on #493
I transferred this issue to the hackedu repo because this task needs to be done for the club playbook and not the hack camp playbook.

See: https://github.com/hackedu/hackedu/issues/80

[2015-08-22 17:34] #493 closed, assigned to nobody

[2015-08-22 17:39] maxwofford commented on #494
@zachlatta @hellyeah I don't see these calls on the calendar. Is this still actively planned? If not, is it still an effective use of time?

[2015-08-22 18:00] jonleung commented on #517
Thanks @ad510! Thanks for bringing it up! This seems like a serious security vulnerability!

I think that this might be a bit complex for beginners. Perhaps we could add a note at the end of the workshop. If you would like to add a note at the end of the workshop, that could be really helpful!

Would you like to submit a pull request?

[2015-08-22 18:02] zachlatta commented on #517
So this is an interesting topic. This is an XSS vulnerability. Are we okay
teaching people to create XSS vulnerabilities on their site?

On Sat, Aug 22, 2015 at 11:00 AM, Jonathan Leung notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-22 21:35] ad510 commented on #517
I can either change how it sets the task description throughout the entire workshop (at 27 places, which isn't hard), or add a note explaining what XSS is and how to fix it. I'd imagine it's better to just fix the code so we don't have to explain XSS vulnerabilities, right?

If the line is too complex, it's easy to split up into 2 lines like this:

[code]

Do you prefer the 1 line or 2 line versio

[2015-08-22 22:15] jonleung commented on #517
@ad510, the two line version sounds good!

Also, could you add a short explanation of why this step is necessary the first time it is used?

[2015-08-22 22:50] ad510 commented on #517
Hmm, I already submitted a pull request with the 1 line version.

I don't think this is a matter of having an extra step or not, since that is the only place in the todo workshop that uses innerHTML. The first time this is introduced, it looks like this:

[code]

Does that work for you?

Though I'm now noticing that the instagram and messenger workshops have the same problem. I'll update the pull

[2015-08-22 23:14] jonleung commented on #517
@ad510, I think a beginner would view

[code]

as confusing.

Any chance you could break it up into two lines and briefly explain what each of those lines are doing?

Thanks!

[2015-08-22 23:30] jonleung commented on #410
@ssun098, ahh yes I remember! Our bad for failing to be on top of that! Did the pull request get merged? Also, can you please link the pull request? Thanks!

[2015-08-22 23:32] selynna commented on #410
@jonleung just kidding it's a branch called "resources"

[2015-08-22 23:34] jonleung commented on #410
@ssun098, cool, I didn't see a pull request for it yet. Just create a pull request if you want us to merge it in!

[2015-08-23 00:11] selynna commented on #410
Created and assigned you to it

On Sat, Aug 22, 2015 at 4:34 PM Jonathan Leung notifications@github.com
wrote:

[2015-08-24 04:04] maxwofford commented on #495
@zachlatta I closed this because the actionable task (reaching out to all the hackers) was finished.

[2015-08-24 04:06] zachlatta commented on #495
👍

##

Zach Latta
hackEDU| zach@hackedu.us

On Aug 23, 2015, 9:05 PM -0700, Max Woffordnotifications@github.com, wrote:

[2015-08-24 04:07] maxwofford commented on #481
This didn't close for some reason. It was addressed by 98b4e11e9a7cb8dfc5da7e3c487a9c1d3749cf06

[2015-08-24 04:09] zachlatta commented on #481
I don't believe the branch https://github.com/hackedu/hack-camp/commit/98b4e11e9a7cb8dfc5da7e3c487a9c1d3749cf06 is on made it to master, which would prevent it from closing this issue. Still waiting on the PR to be closed.

[2015-08-24 04:10] maxwofford commented on #481
@zachlatta Ah, my bad

[2015-08-24 04:12] maxwofford commented on #350
@ssun098 Is this descriptive enough? #514

[2015-08-24 04:17] selynna commented on #350
Yep!

[2015-08-24 07:17] #481 closed, assigned to zachlatta

[2015-08-24 07:29] zachlatta opened #520 "Clear out food in 3rd floor kitchen of Galvanize"

[2015-08-24 07:31] zachlatta opened #521 "Remove hackEDU food from 5th floor kitchen in Galvanize"
To the right of the leftmost fridge on the 5th floor we have a label for hackEDU food. I don't think it's currently use.

[2015-08-24 07:36] maxwofford commented on #466
The feedback I got from @gemmabusoni was the music was distracting when I turned it on mid-meeting. When the meeting started with the music on, it helped keep people energized.

EDIT: Sorry if you found it distracting! I'll be aware of that next time.

[2015-08-24 15:31] zachlatta commented on #466
Alright, in that case I'm fine with moving forward.

I still personally found it distracting.

On Mon, Aug 24, 2015 at 12:36 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-25 04:34] zachlatta commented on #517
I'd personally opt for `document.innerHTML=""` and point out the XSS issue.

On Sat, Aug 22, 2015 at 4:14 PM, Jonathan Leung notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-25 04:54] zachlatta commented on #494
I just reached out to @gemmabusoni, @saescapa, and @ssun098 about
scheduling a time tomorrow for this.

On Sat, Aug 22, 2015 at 10:39 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-25 05:59] ad510 commented on #517
Sorry for the unresponsiveness. I was using this as a way to procrastinate on doing job applications, which I really should be focusing on for the next few days. I should have time to finish this later this week.

[2015-08-25 06:07] zachlatta commented on #517
No worries! Good luck on the applications!

On Mon, Aug 24, 2015 at 10:59 PM, Andrew Downing notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-25 06:26] zachlatta commented on #372
Any updates on this @MaxWofford?

On Fri, Aug 14, 2015 at 12:53 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-25 16:02] #463 closed, assigned to nobody

[2015-08-25 18:27] jonleung commented on #372
Hey! I unsubscribed from this issue. Please tag me again if you want to ping me with anything. Thanks!

[2015-08-25 18:28] jonleung commented on #517
@ad510, no rush! Good luck!

[2015-08-25 18:28] jonleung commented on #494
:+1:

[2015-08-25 18:29] jonleung commented on #521
**EDIT**: Ignore this comment:

[2015-08-25 18:29] jonleung commented on #521
@zachlatta, oops, I misread! I'll take care of the 5th floor food area!

[2015-08-25 18:31] jonleung commented on #521
I've completed this issue.

[2015-08-25 18:31] #521 closed, assigned to nobody

[2015-08-25 18:31] jonleung commented on #520
@zachlatta, they're hackEDU's snacks. I eat the oatmeal every other day. Thoughts on throwing out the food that is bad and keeping the ones that are good for snacks?

[2015-08-25 19:21] jonleung commented on #410
Reopened issue because this issue is actively being worked on.

[2015-08-25 22:46] zachlatta commented on #494
Alright, I'm taking calls with the following people:
- [x] @ssun098
- [x] @gemmabusoni
- [x] @saescapa

(checked box means I had a call with them)

[2015-08-25 22:51] jonleung commented on #494
:+1:

[2015-08-25 23:00] maxwofford commented on #483
Closed by https://github.com/hackedu/hack-camp/commit/8b044bde84ca129893759d7d5693dbed5f80bc0e

[2015-08-25 23:00] #483 closed, assigned to maxwofford

[2015-08-25 23:02] maxwofford commented on #378
Closed by https://github.com/hackedu/hack-camp/commit/6695213b0875a6355064f711a4729181f8c7d687

[2015-08-25 23:02] #378 closed, assigned to maxwofford

[2015-08-25 23:03] maxwofford commented on #372
I haven't been able to find the documentation for this, and noone in Hack Camp seems to remember. I'm closing this for now and marking with `wontfix`

[2015-08-25 23:03] #372 closed, assigned to maxwofford

[2015-08-25 23:04] maxwofford commented on #350
This is closed by https://github.com/hackedu/hack-camp/commit/faacf3fa6bfcce582c2ee86cb15931d3131ee3e7

[2015-08-25 23:04] #350 closed, assigned to maxwofford

[2015-08-25 23:12] maxwofford commented on #498
Just 7 issues to go! Let's do this!

[2015-08-25 23:13] maxwofford commented on #383
#419 is blocking on merge conflicts

[2015-08-26 03:30] maxwofford commented on #410
This is closed by #519

[2015-08-26 03:30] #410 closed, assigned to selynna

[2015-08-26 03:35] maxwofford commented on #517
Actually @jonleung Considering I'm taking point on #498 and packing for BM, timing is important for this.

[2015-08-26 03:43] jonleung commented on #517
@MaxWofford, we don't need to fix this issue now. It's ok if it's done later. Let's not put pressure on @ad510 because we won't be using the fixes for quite a while.

[2015-08-26 03:43] jonleung commented on #410
:fireworks:

[2015-08-26 14:33] zachlatta commented on #494
Was briefly on the phone @gemmabusoni last night. She's going to write up responses and then send them my way.

[2015-08-26 18:08] maxwofford commented on #230
I could not find documentation on the schedule for this day. Closing because it is not actionable.

[2015-08-26 18:08] #230 closed, assigned to maxwofford

[2015-08-27 01:39] jonleung commented on #404
@MaxWofford any updates on this?

[2015-08-27 01:44] jonleung commented on #520
I will move forward by removing all food that cannot be kept as snacks.

[2015-08-27 01:47] jonleung commented on #498
Below are all of our remaining tasks and their statuses:
- [x] #520: I will take care of this end of day today
- [x] #517: I am deliberately leaving open because @ad510 is still working on this and it's not time sensitive.
- [x] #494: @zachlatta is taking lead on making sure this is done
- [x] #404: @MaxWofford is taking lead on making sure this gets done (waiting for a pull request from @zachlatt

[2015-08-27 02:02] jonleung commented on #383
I made a [new pull request](https://github.com/hackedu/hack-camp/pull/524) and closed the [old one](https://github.com/hackedu/hack-camp/pull/419).

I assigned the new pull request to @zachlatta.

[2015-08-27 03:03] jonleung commented on #520
This is essentially done. I left some snacks in the cabinet.

[2015-08-27 03:03] #520 closed, assigned to nobody

[2015-08-27 03:10] jonleung commented on #404
Ah I see, this is waiting on a merge from @zachlatta.

[2015-08-27 03:11] maxwofford commented on #404
@jonleung If you are available to review/merge the PR, feel free to assign yourself

[2015-08-27 03:15] maxwofford commented on #520
Awesome! Thanks @jonleung

[2015-08-27 16:24] zachlatta commented on #520
Did you remove the sign from the 5th floor?

On Wed, Aug 26, 2015 at 8:15 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 16:31] maxwofford commented on #520
Just checked- there was no sign.

[2015-08-27 16:33] zachlatta commented on #520
Awesome.

On Thu, Aug 27, 2015 at 9:31 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 17:40] zachlatta commented on #372
:+1:

On Tue, Aug 25, 2015 at 4:03 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-27 18:17] #404 closed, assigned to maxwofford

[2015-08-27 18:17] zachlatta commented on #383
Closed by #524.

[2015-08-27 18:17] #383 closed, assigned to nobody

[2015-08-27 18:25] zachlatta commented on #494
I pinged @gemmabusoni, @ssun098, and @saescapa on IRC and Messenger to see if it'd be okay if I shared their testimonials in this repo anonymously.

[2015-08-27 20:06] maxwofford opened #525 "Put warning that Hack Camp is no longer in session"
http://camp.hacked.us has yet to be updated.

[2015-08-27 20:53] zachlatta commented on #525
Closed by #526.

[2015-08-27 20:53] #525 closed, assigned to nobody

[2015-08-28 17:20] zachlatta commented on #494
Alright, they're all cool with it. Going to create a PR to add this.

[2015-08-29 06:17] maxwofford commented on #498
I'll be gone until September 9th. Assigning to @zachlatta

[2015-08-31 21:13] #494 closed, assigned to zachlatta

[2015-09-01 17:15] zachlatta commented on #498
Going to go ahead and close this despite #517 not being done because it's waiting on @ad510.

Great work team, we did it. Hack Camp is now over and we've finalized our work from it.

[2015-09-01 17:15] #498 closed, assigned to zachlatta

[2015-09-02 21:12] #517 closed, assigned to nobody

[2015-09-02 21:13] jonleung commented on #498
I just merged in @ad510 pull request, we have officially completed all the issues from Hack Camp!

![image](https://cloud.githubusercontent.com/assets/654941/9644770/c4e9db2a-517c-11e5-91d5-bda0519c9534.png)

[2015-09-25 05:00] TheThirdOne opened #529 "Add an open source license"
Currently this is under full default copyright.

Creative Commons is probably the most applicable.

[2015-11-03 00:44] #529 closed, assigned to zachlatta

[2016-04-05 01:20] zachlatta opened #535 "Hack Camp 2016"
:raised_hands:

This issue is to track the organization of Hack Camp 2016. I'll be updating it with more information periodically.

Current todos:
- [x] Set schedule and dates for the program (#536)
- [x] Figure out staffing and financials (#540)
- [x] Set time for weekly staff meetings (#547)
- [x] Create website (#541)
- [x] Public launch (#546)
- [ ] Drive 15 applications by Saturday, May 7th (

[2016-04-05 01:23] zachlatta opened #536 "Set dates and structure for the camp"
How many cohorts are we running? How are the cohorts structured? What dates are they happening? Who's leading them? What's going to be taught in them? Where are we going to get the students for them from? How much are we going to charge? My, oh my!

[2016-04-07 00:51] zachlatta commented on #536
I proposed dates in https://starthackclub.slack.com/archives/hack-camp/p1459987960000288

Just to reiterate them here:
- Cohort 1: June 6th - June 17th
- Cohort 2: June 27th - July 8th
- Cohort 3: July 18th - July 29th
- Cohort 4: August 8th - August 18th

[2016-04-12 03:40] zachlatta commented on #536
Okay, after more discussion in the Slack, we're going to move forward with these dates. Will submit a pull request with them.

[2016-04-15 20:31] #536 closed, assigned to zachlatta

[2016-04-19 21:03] zachlatta opened #540 "Figure out staffing and financials for 2016"
Who is going to run the camp? Will we pay them? How much? How much money do we need to make to pay our staff? How much do we need to charge attendees?

We should figure out good answers to all of these and then launch our website.

[2016-04-19 21:05] zachlatta opened #541 "Landing page for 2016"
Create a website to market 2016. Here's our website for 2015:

![screencapture-camp-hackclub-com-1461099855929](https://cloud.githubusercontent.com/assets/992248/14655544/a0571d02-0637-11e6-953a-1fc58c835f4c.png)

Any ideas for what we should do for 2016?

/cc @jkwok91 @MaxWofford @ssun098

[2016-04-20 03:26] maxwofford commented on #541
@hackclub/staff What problems were there with the 2015 website? (Not saying we should keep it, I'd just like to start thinking about how to do better this time)

[2016-04-20 17:27] zachlatta commented on #541
I thought last year's website was great, no major complaints. We're going
to be charging more for the camp this time around, so we'll want to make it
look a bit more "professional" (spend more time on getting the copy right,
maybe have less colors like orange).

I did not like Unrejector though. I thought that was a huge pain to manage
and would love to use some sort of alternative solution this t

[2016-04-20 18:25] maxwofford commented on #541
![that is a very good point](https://media.giphy.com/media/xzMs8O1KQh17i/giphy.gif)

How about we use a database this year.

[2016-04-22 01:10] zachlatta commented on #541
You have no idea how much you made me laugh.

I'll get back to you on this.

On Wed, Apr 20, 2016 at 11:25 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-22 05:32] zachlatta commented on #541
Yeah, let's use a database this year. Or something like Wufoo.

Re: website, do you think you could get started on this, Max? Would be
great to launch and start marketing next week.

On Thu, Apr 21, 2016 at 6:10 PM, Zach Latta zach@zachlatta.com wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-22 11:05] maxwofford commented on #541
Happy to. Will update when I get a draft done.

[2016-04-22 20:46] zachlatta commented on #541
:raised_hands:

On Fri, Apr 22, 2016 at 4:05 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-23 20:30] maxwofford commented on #541
@hackclub/staff I've just set up a branch for the new site in #542. Any comments or feedback is much appreciated.

Here's a screencap of the current version (as of this post):
![shot-20160423-19139-1afxrqi](https://cloud.githubusercontent.com/assets/5891442/14763833/68df4e76-0970-11e6-9939-f4d2a5250d2d.png)

[2016-04-23 20:47] maxwofford commented on #541
@hackclub/staff I have to get to work on a few other things (school) for the rest of today. Will finish this site up based on your comments and converted to something with a backend on Sunday (earliest).

[2016-04-23 21:50] zachlatta commented on #541
I like where you're going with this. Some comments:
- The header needs more contrast. It's really difficult to read.
- We need wording to indicate that we're running four two-week cohorts
- I'm confused by the red boxes near the bottom
- We should highlight feedback, projects (maybe), and testimonials from
  last year
- More photos!
- Location information – we should make it clear that it's gonna

[2016-04-26 02:20] maxwofford commented on #541
Going to add a new issue for the application page and payment processing. This issue is now just to track the landing page.

[2016-04-26 02:20] maxwofford opened #543 "Application for 2016 camp"

[2016-04-26 02:21] maxwofford commented on #541
Application page and payment processing is tracked by https://github.com/hackclub/hackcamp/issues/543.

[2016-04-26 02:21] maxwofford commented on #541
(I'm doing this because the landing page can be sent out early with info on it without blocking on the application page)

[2016-04-26 04:02] zachlatta commented on #541
Sounds great, when can we get the landing page out by? I'd like to start
marketing ASAP.

On Mon, Apr 25, 2016 at 7:21 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-26 04:02] zachlatta commented on #543
This is done, right? I remember you sending a link on the Slack.

On Mon, Apr 25, 2016 at 7:20 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-04-26 04:02] zachlatta commented on #541
Sounds fantastic.

On Mon, Apr 25, 2016 at 7:20 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-26 06:01] zachlatta opened #544 "Secure a venue"
Just what it sounds like.

[2016-04-26 11:15] maxwofford commented on #543
The Google form is done, but it still needs an html form in front of it

[2016-04-26 11:16] maxwofford commented on #541
@zachlatta current ETA is by eod

[2016-04-26 13:14] KrishMunot commented on #541
Hey @MaxWofford! I would love to look at the website. Also, it would be really cool if you did make the website every year opensource and part of the hackclub repos.

[2016-04-26 13:35] maxwofford commented on #541
@KrishMunot Thanks! There's a screenshot of the current version of the site [over here](https://github.com/hackclub/hackcamp/issues/541#issuecomment-213825678). You can find the code for the 2016 website in #542. The previous website is in the [gh-pages branch](https://github.com/hackclub/hackcamp/tree/gh-pages).

[2016-04-26 16:57] zachlatta opened #546 "Launch Hack Camp marketing"
Depends on #541 and #543 being done.

Launch Hack Camp itself.
- [x] Post on Facebook (#552)
  - [x] Hack Club Facebook
  - [x] Other Facebook groups
  - [x] Hackathon Facebook groups (Los Altos Hacks, etc)
- [x] Post on Twitter (#552)
- [x] Send email to community(#551)
- [x] Post to SFUSD (#550)
- [x] Post to blog (hackclub/blog#24)

[2016-04-26 16:59] zachlatta opened #547 "Lock in a time for weekly staff meetings"
We're going to have weekly meetings between all staff members to keep people updated and continuously set objectives for camp preparation.

This issue is to track the creation of that call.

[2016-04-26 17:07] zachlatta opened #548 "Drive 15 applications by 05.01.16"
Immediately after we launch (#546), we're going to want to do a heavy push to drive applications. We want to hit 15 by 05.01.16 (this Sunday).

[2016-04-26 17:10] zachlatta commented on #544
Current goal:
- [ ] ~~Reach out to 5 venues by the end of Tuesday, April 26th (ideally with warm intros)~~
- [ ] ~~Get 5 venues to the "in talks" stage in [the spreadsheet](https://docs.google.com/spreadsheets/d/1HCh5YtN_Y3JXbIMoiUdv-FgYiPZZD1kGg5QnfbsxiCw/edit#gid=0) by the end of this Sunday, May 1st.~~

_Updated by @MaxWofford. See next comment._

[2016-04-27 15:54] maxwofford commented on #543
This is finished. I'll close the issue once #541 is live

[2016-04-27 15:59] maxwofford commented on #547
The calls will be on Sunday at 1pm PST.

A calendar invite went out to anyone who voiced interest in slack.

[2016-04-27 15:59] #547 closed, assigned to maxwofford

[2016-04-27 16:05] maxwofford commented on #540
@zachlatta Where does this need to be documented for us to close this?

[2016-04-27 17:03] zachlatta commented on #540
I'll create a sheet in the main Hack Camp spreadsheet with the staffing
info once I have stuff finalized. Currently waiting on @gemmabusoni and
@hardmath123 to get back to me with whether they're interested and their
availability.

On Wed, Apr 27, 2016 at 9:05 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-27 17:04] zachlatta commented on #547
:ok_hand:

On Wed, Apr 27, 2016 at 8:59 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-27 17:04] zachlatta commented on #543
:ok_hand:

On Wed, Apr 27, 2016 at 8:54 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-28 02:38] maxwofford opened #549 "hack.camp"
We should get hack.camp as our domain.

[2016-04-28 07:00] zachlatta commented on #549
Taken :-(.

On Wed, Apr 27, 2016 at 7:38 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-04-28 18:57] maxwofford commented on #549
:(

[2016-04-28 18:57] #549 closed, assigned to nobody

[2016-04-28 18:57] maxwofford commented on #543
We're live! https://camp.hackclub.com/application.html

[2016-04-28 18:58] maxwofford commented on #541
We're live! https://camp.hackclub.com

[2016-04-28 19:04] maxwofford commented on #543
![yes](https://media.giphy.com/media/aWRWTF27ilPzy/giphy.gif)

[2016-04-28 19:04] #543 closed, assigned to maxwofford

[2016-04-28 19:07] maxwofford commented on #541
![to the moon](https://cloud.githubusercontent.com/assets/5891442/14898072/e821370e-0d52-11e6-89d6-5f34132af557.gif)

[2016-04-28 19:07] #541 closed, assigned to maxwofford

[2016-04-28 21:04] maxwofford opened #550 "Send Hack Club email to SFUSD"
I'll be emailing a contact at SFUSD to see if we can get a message on their bulletin.

[2016-04-28 21:05] maxwofford opened #551 "Send email to community about Hack Camp"
@zachlatta Would you be interested in taking point on this?

[2016-04-28 21:13] zachlatta commented on #551
Most certainly.

On Thu, Apr 28, 2016 at 2:05 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-04-28 21:15] maxwofford commented on #551
@zachlatta This probably has some overlap with https://github.com/hackclub/blog/issues/24. Down to sync up on slack before working on it?

[2016-04-28 21:15] selynna opened #552 "Promoting Hack Camp on Facebook/Twitter"
Sub issue for #546
- [x] Post on Facebook
  - [x] Hack Club Facebook
  - [x] Other Facebook groups (HS Hackers, HH, etc)
  - [x] Hackathon Facebook groups (Los Altos Hacks, etc)
- [x] Post on Twitter

[2016-04-28 21:23] zachlatta commented on #551
Sure thing. @jkwok91 and I are about to run a workshop at a school, but I'll be free later tonight

On Apr 28, 2016, 2:15 PM -0700, Max Woffordnotifications@github.com, wrote:

[2016-04-28 23:08] maxwofford opened #557 "Style hover and active states of buttons and links"

[2016-04-29 02:54] selynna commented on #552
Done!

[2016-04-29 02:54] #552 closed, assigned to selynna

[2016-04-29 02:59] maxwofford commented on #552
![screenshot_2015-11-05_093014](https://cloud.githubusercontent.com/assets/5891442/14907310/e0626532-0d94-11e6-858e-97baf6ca8fca.png)

Thanks @ssun098 !

[2016-04-30 23:22] maxwofford commented on #544
Goal updates from our [call](https://gist.github.com/MaxWofford/d84f2950c9f011373fabca8d94c97660):
- [x] Reach out to 10 venues by Tuesday, May 3rd (@zachlatta)
- [x] 15 potential venues added to [the list](https://docs.google.com/spreadsheets/d/1HCh5YtN_Y3JXbIMoiUdv-FgYiPZZD1kGg5QnfbsxiCw) (@MaxWofford)

[2016-05-01 00:52] maxwofford commented on #544
@zachlatta I've just added 15 locations to the list with the criteria that they look big enough to support an extra ~25 people  for Hack Camp. If you want more locations or a stricter selection filter, just tell me!

[2016-05-01 01:08] maxwofford commented on #540
@zachlatta I'm going to assign myself to this. I'll move the spreadsheet we worked on in our call today into the Hack Club drive and ping you on updates from @gemmabusoni and @hardmath123 in the Sunday Hack Camp call.

[2016-05-01 20:57] maxwofford commented on #557
Closed by #569

[2016-05-01 20:57] #557 closed, assigned to nobody

[2016-05-01 21:00] selynna opened #574 "Adding Hack Camp info onto the front of the Hack Club page"

[2016-05-01 21:04] maxwofford commented on #574
Moving to https://github.com/hackclub/website/issues/230

[2016-05-01 21:04] #574 closed, assigned to maxwofford

[2016-05-01 21:09] maxwofford commented on #540
Just added financials to the Hack Club drive in https://docs.google.com/spreadsheets/d/1H8yp8XIfT6K2cBCMSQqU_j2FEhEFpOR-DVMraI9OziE/edit#gid=2099788275.

[2016-05-01 21:09] #540 closed, assigned to maxwofford

[2016-05-02 12:24] KrishMunot commented on #548
@zachlatta Please update the status of this issue. Are we on target?

[2016-05-02 14:07] maxwofford commented on #548
@KrishMunot We're currently at 10 signups.

[2016-05-02 14:07] #548 closed, assigned to maxwofford

[2016-05-02 14:07] maxwofford commented on #548
Closing because the deadline was yesterday.

[2016-05-02 14:08] maxwofford opened #575 "Drive 15 criteria applications by 05.07.16"
Applications are tracked in https://docs.google.com/spreadsheets/d/1HCh5YtN_Y3JXbIMoiUdv-FgYiPZZD1kGg5QnfbsxiCw/edit#gid=149588015

[2016-05-02 14:57] maxwofford commented on #548
The new goal is https://github.com/hackclub/hackcamp/issues/575

[2016-05-02 15:32] selynna opened #576 "Finalize plan for in-person SFUSD marketing"
Finalizing after call with @MaxWofford on May 8th

[2016-05-02 23:59] maxwofford opened #577 "Send out email on BPN"
Currently working with Sooz to get this posted

[2016-05-03 01:56] maxwofford opened #578 "Associate Hack Camp with Hack Club"
Right now https://camp.hackclub.com doesn't include many references to Hack Club beyond a single paragraph in the summary section. It would be cool to also add Hack Club to the footer (and maybe include a tax-id).

[2016-05-03 02:12] zachlatta commented on #578
I like the way we included it in the header last year – maybe we could do
something similar?

On Mon, May 2, 2016 at 6:56 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-03 02:15] zachlatta commented on #577
:ok_hand:

On Mon, May 2, 2016 at 4:59 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-03 03:14] maxwofford commented on #550
Update! Just reached out to Ellen Reller to see if she can add us to their bulletin

[2016-05-03 09:30] zachlatta commented on #540
Max, you're the best.

[2016-05-03 11:51] maxwofford opened #580 "Hack Camp stickers"
These would be amazing!

[2016-05-03 13:05] KrishMunot commented on #549
Can we ask Mike Swift to give us the domain maybe?

[2016-05-03 17:44] maxwofford commented on #551
Looks like this was sent out. @zachlatta: is there anything else left to the issue?

[2016-05-03 17:47] zachlatta commented on #549
Oh, that's interesting. You're right, @KrishMunot. It's actually
@theycallmeswift that owns the domain. Small world.

On Tue, May 3, 2016 at 6:05 AM, Krish Munot notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-03 17:48] zachlatta commented on #580
@jkwok91

On Tue, May 3, 2016 at 4:51 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-03 17:48] zachlatta commented on #551
We're good to close!

[2016-05-03 17:48] #551 closed, assigned to zachlatta

[2016-05-03 18:01] maxwofford commented on #549
Wait, that's amazing

[2016-05-03 22:57] maxwofford commented on #551
@zachlatta I didn't see an email to our mailchimp mailing list. Was this issue just for emailing club leaders?

[2016-05-03 23:31] KrishMunot opened #581 "Hack Camp swag"
- [ ] Hack Camp t-shirts (#583)
- [ ] Hack Camp stickers (#580)

[2016-05-04 01:45] maxwofford commented on #550
We're on the bulletin.

 ![](https://media.giphy.com/media/IWGw3C8b6HGQo/giphy.gif)

[2016-05-04 01:45] #550 closed, assigned to maxwofford

[2016-05-04 01:45] maxwofford commented on #581
This probably includes #580. @KrishMunot What other things were you thinking?

[2016-05-04 03:27] KrishMunot commented on #581
I was thinking of hack camp tees for campers or volunteers. Also if the budget suffices, we can have something more fancy.

[2016-05-04 08:45] zachlatta commented on #550
Wow, this GIF is amazing.

On Tue, May 3, 2016 at 6:45 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-04 13:32] maxwofford commented on #581
Would you be interested in this @jkwok91?

[2016-05-04 17:19] maxwofford opened #582 "Make 'coding experience' form question required"

[2016-05-05 13:43] KrishMunot commented on #546
I guess we are done with all the issues listed here. Safe to close this now or do we update our agenda?

[2016-05-05 14:59] maxwofford commented on #546
Yep! Thanks @KrishMunot
![yes](https://cloud.githubusercontent.com/assets/5891442/15046948/6b29aafc-12b0-11e6-89b0-097dc4581383.gif)

[2016-05-05 14:59] #546 closed, assigned to maxwofford

[2016-05-05 15:02] maxwofford commented on #535
It looks like I'll be taking point on all the issues tracked here. Assigning myself

[2016-05-05 15:03] maxwofford commented on #581
@KrishMunot I'll add those to the description

[2016-05-05 15:03] maxwofford opened #583 "Hack Camp t-shirts"

[2016-05-05 15:37] maxwofford opened #585 "Draft volunteer information blurb"

[2016-05-05 15:58] maxwofford commented on #582
@zachlatta Just tested this. The field is already required on the website, but somehow an application got through without this info. Thoughts?

[2016-05-05 16:07] maxwofford commented on #582
Until this can be replicated, going to close this.

[2016-05-05 16:07] #582 closed, assigned to maxwofford

[2016-05-05 16:08] maxwofford commented on #578
I'll play with the design later today

[2016-05-05 16:18] zachlatta commented on #585
Have we already figured out how we want to handle volunteers?

On Thu, May 5, 2016 at 8:37 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-05 17:23] maxwofford commented on #585
@zachlatta Not yet. I'll be working on figuring that out tomorrow.

[2016-05-05 21:18] zachlatta commented on #582
They probably had JavaScript disabled (or something along those lines).

On Thu, May 5, 2016 at 9:07 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-05 21:21] zachlatta commented on #535
:raised_hands:

On Thu, May 5, 2016 at 8:02 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-05 21:56] zachlatta commented on #578
:raised_hands:

Looking forward to seeing it.

On Thu, May 5, 2016 at 9:08 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-05 21:58] zachlatta commented on #583
:raised_hands:

On Thu, May 5, 2016 at 8:03 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-06 01:13] maxwofford opened #589 "Reach out to SFUSD Principals"
Turns out each school has it's own specific bulletin, so we have to reach out to each individually

[2016-05-06 01:16] maxwofford commented on #535
I'll be closing this with #575 instead of updating it with new issues so we can track all of Hack Camp's organization in https://github.com/hackclub/hackcamp/milestones/Organize%20Hack%20Camp%202016

[2016-05-06 01:25] maxwofford commented on #575
Current tasks to meet our goal:
- [x] #589 Reach out to SFUSD Principals (@MaxWofford)
- [ ] #577 Send out email on BPN (@MaxWofford)
- [ ] #576 Finalize plan for in-person SFUSD marketing (@ssun098)
- [x] #591 Set up Facebook ads for Hack Camp (@MaxWofford)

[2016-05-06 02:58] maxwofford commented on #589
Just sent out emails to 9/16 schools. The other 7 don't publicly list their principals' contact info as far as I've seen. Going to mark this as closed and open a new issue for the final 7 if there's a large number of applicants from the 9.

[2016-05-06 02:58] #589 closed, assigned to maxwofford

[2016-05-06 13:10] maxwofford opened #591 "Set up Facebook ads for Hack Camp"

[2016-05-06 13:17] maxwofford commented on #589
*Edited the title to be more indicative of what was done to close this issue

[2016-05-06 14:14] maxwofford commented on #591
The ad has been set up. Last step is to add fb pixel to the site (#592)

[2016-05-06 14:31] zachlatta commented on #591
:raised_hands:

On Fri, May 6, 2016 at 7:14 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-06 15:14] maxwofford commented on #591
Now that we're using Segment for an analytics proxy, the FB side of this has been finished. Going to close this and open a new issue for setting up Segment.

[2016-05-06 15:14] #591 closed, assigned to maxwofford

[2016-05-06 15:14] maxwofford opened #595 "Set up Segment analytics with FB"
Closed by #594

[2016-05-07 03:06] maxwofford opened #596 "Reach out to SFUSD CS teachers"
Contacting SFUSD principals (#589) seems to have been rather effective. Let's try contacting computer science teachers at the remaining 7 schools.

[2016-05-07 03:07] maxwofford opened #597 "Organize Hack Camp 2016"
This issue is to track the status of everything that needs to be prepared for Hack Camp. We'll be regularly updating this issue with progress.
## Weekly checklist
### ~~Week: May 1-7~~
- [x] Figure out staffing and financials for 2016 (#540, @MaxWofford)
- [x] Lock in a time for weekly staff meetings (#547, @MaxWofford)
- [x] Launch Hack Camp marketing (#546, @MaxWofford)
  - [x] Website for 2016

[2016-05-07 03:08] maxwofford commented on #535
Closing this issue in favor of #597. Everything tracked in this has been moved over.

[2016-05-07 03:08] #535 closed, assigned to maxwofford

[2016-05-07 03:29] zachlatta commented on #535
:thumbs_up:

On Fri, May 6, 2016 at 8:08 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-07 03:29] zachlatta commented on #596
Sounds fantastic. Can I help out with this at all?

On Fri, May 6, 2016 at 8:06 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-07 03:55] KrishMunot commented on #544
@MaxWofford: Do we need to track the progress of this issue or has it been resolved?

[2016-05-08 15:41] maxwofford opened #598 "Chat with staff members who haven't been in a check-in call"
I'll be setting up calls with anyone looking to be a staff member but was not at the first check-in call.

[2016-05-08 18:23] KrishMunot commented on #575
Do we update the deadline?

[2016-05-08 18:27] maxwofford opened #599 "Update application deadline on main camp page"
Change line that says 'applications close on 9th' to the '16th'

[2016-05-08 18:28] maxwofford commented on #575
@KrishMunot Thanks for pinging me on this! I'll close this when I open a new issue to track next week's goal

[2016-05-09 05:24] maxwofford commented on #599
@KrishMunot Are you interested in taking this?

[2016-05-09 15:30] theycallmeswift commented on #549
I do own Hack.camp haha.  Sadly I do already have plans for it though :(

[2016-05-09 18:26] KrishMunot commented on #599
Sure @MaxWofford! Done! :+1:

[2016-05-09 18:26] #599 closed, assigned to nobody

[2016-05-09 20:01] maxwofford commented on #578
Hmmm... Having trouble covering this with my other tasks.

@KrishMunot Would you be interested in this?

[2016-05-09 20:06] maxwofford opened #600 "Add future deadlines to Hack Camp organization issue"
We'll be recording goals and tasks for future weeks in #597. I need to add them.

[2016-05-09 20:08] #595 closed, assigned to maxwofford

[2016-05-09 23:41] maxwofford opened #602 "Drive 25 qualified applications by Saturday, May 14th"
Applications are tracked in https://docs.google.com/spreadsheets/d/1HCh5YtN_Y3JXbIMoiUdv-FgYiPZZD1kGg5QnfbsxiCw/edit#gid=149588015

[2016-05-09 23:41] maxwofford commented on #575
Actually, updating it now seems like a better plan.

[2016-05-09 23:41] maxwofford commented on #575
New goal is at https://github.com/hackclub/hackcamp/issues/602

[2016-05-09 23:41] #575 closed, assigned to maxwofford

[2016-05-10 01:00] maxwofford commented on #600
Also need to add a checklist on the issue of everything that needs to get done by the first day of Hack Camp "e.g., slides for intro presentation"

[2016-05-10 11:00] maxwofford commented on #602
Oops. This issues title is wrong. Thanks @KrishMunot. Will update when on computer

[2016-05-10 17:01] maxwofford commented on #600
I've just ordered goals and tasks for future weeks, as well as added a 'first day checklist' section

[2016-05-10 17:01] #600 closed, assigned to maxwofford

[2016-05-10 17:06] zachlatta commented on #600
👏

[2016-05-10 23:00] maxwofford opened #603 "Send confirmation email to Hack Camp applicants"
Send a  confirmation email to Hack Camp applicants that says "we've recieved your form"

[2016-05-10 23:27] zachlatta commented on #603
Here's a draft:

Hey {firstName}!

Thank you for applying to Hack Camp. This email is to confirm that we've
received your application. We're currently accepting applications on a
rolling basis and will get back to you soon.

Here's a copy of your application for your records:

_First and last name_

Ned Stark

_Email_

ned@stark.house

and so on...

On Tue, May 10, 2016 at 4:00 PM, Max Wofford not

[2016-05-11 00:10] zachlatta commented on #603
Okay, I just implemented this using Zapier. Go ahead and submit an application at https://camp.hackclub.com/application.html to see what the confirmation looks like.

I know Zapier isn't ideal because it isn't accessible to the rest of the team, but it's something for the time being. @MaxWofford and I talked about having Zapier pull the application template from a file in this GitHub repo, but onc

[2016-05-11 00:10] #603 closed, assigned to zachlatta

[2016-05-11 00:53] maxwofford commented on #603
This is great! Thanks so much @zachlatta

[2016-05-11 14:10] zachlatta commented on #544
We still have a good amount of work to do. I'll be keeping this issue updated.

[2016-05-11 14:55] maxwofford opened #608 "Create Hack Camp promo codes"
This issue entails creating an optional field on the form that records promo code

[2016-05-11 15:04] zachlatta commented on #598
How's this going? Would it make sense to deprioritize this, since there's so many other things to do?

[2016-05-11 15:05] zachlatta commented on #585
Any updates on this?

[2016-05-11 15:05] zachlatta commented on #578
Ping @KrishMunot.

[2016-05-11 15:05] zachlatta commented on #577
Any updates on this?

[2016-05-11 15:07] maxwofford opened #609 "Send parent-facing blurb to Gemma"

[2016-05-11 15:09] KrishMunot commented on #578
I am on it fam

[2016-05-11 15:09] zachlatta opened #610 "Get three venues to "in talks" by this Friday (05.13.16)"
Per our goals for this week in #597, I'm responsible for getting three potential venues to the "in talks" stage by the end of this week. Currently I'm on track to complete this.

For Hack Club/Camp staff, this is tracked in https://docs.google.com/spreadsheets/d/1HCh5YtN_Y3JXbIMoiUdv-FgYiPZZD1kGg5QnfbsxiCw/edit#gid=0 (unfortunately we can't make this public, because that same spreadsheet has stude

[2016-05-11 15:10] zachlatta commented on #544
Venue goal for this week is tracked in #610.

[2016-05-11 15:13] maxwofford commented on #609
Does your teen want to learn to build websites and make games?

Hack Camp is a two-week summer program in downtown San Francisco designed for first-time coders, aged 14-18. We'll bring campers from their first line of code to publishing websites and games.

Spots are limited. Learn more and apply now at https://camp.hackclub.com.

[2016-05-11 15:24] maxwofford commented on #577
Sooz is unresponsive, @gemmabusoni may have a way to get a blurb posted.

[2016-05-11 15:25] maxwofford commented on #598
@zachlatta Yep. Going to keep the issue open, but drop it from this week's deadline.

[2016-05-11 15:26] maxwofford commented on #609
Just sent to @gemmabusoni

[2016-05-11 15:26] #609 closed, assigned to maxwofford

[2016-05-11 15:31] maxwofford opened #612 "Ping SFUSD contacts who haven't responded"

[2016-05-11 22:08] zachlatta commented on #577
Okay, cool. Thanks for the update.

Gemma, any idea if your mom has acted to the Berkeley Parent Network?

[2016-05-11 23:28] maxwofford commented on #596
@zachlatta would you please send the list of emails from Dariana to both @ssun098 and I?

[2016-05-12 03:45] maxwofford commented on #608
UPDATE: I've just created a textbox on the google form for applicants to add  a promo code. It's name is `entry.2053418849`.

[2016-05-12 13:36] maxwofford commented on #576
@ssun098 Can we close this?

[2016-05-12 13:38] jkwok91 commented on #580
drafts will be posted here

[2016-05-12 17:03] zachlatta commented on #608
@KrishMunot: want to add a field to the application on the website for a promo code? (and, as a result, take point on this issue)

[2016-05-12 17:04] zachlatta commented on #596
Done!

[2016-05-12 17:53] KrishMunot commented on #608
@zachlatta: Sure! I will take care of this.

[2016-05-12 21:01] #608 closed, assigned to nobody

[2016-05-13 01:19] maxwofford commented on #596
The next step in this issue to to call the following schools and ask for CS teacher emails:

Academy of Arts and Sciences
Asawa San Francisco School Of The Arts (SOTA)
Balboa High School
Burton, Phillip and Sala High School
Downtown High School
Galileo High School
Independence High School
International Studies Academy
Jordan, June High School
Marshall, Thurgood High School
Mission High School
O'Co

[2016-05-13 03:51] selynna opened #617 "Reach out to SF libraries for venue"

[2016-05-13 03:52] zachlatta commented on #617
:raised_hands:

On Thu, May 12, 2016 at 8:51 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-13 03:56] zachlatta commented on #596
No need to call, let's email the contacts of the principals we have.

On Thu, May 12, 2016 at 6:19 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-13 03:56] zachlatta commented on #596
Basically, we want to get the highest return for our investment. Calling
will be super time intensive.

On Thu, May 12, 2016 at 8:56 PM, Zach Latta zach@zachlatta.com wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-13 04:37] maxwofford commented on #617
@ssun098 Is this a goal for this week or next? (asking so I can update #597)

[2016-05-13 15:15] maxwofford commented on #612
Just sent out a wave of emails.

[2016-05-13 15:15] #612 closed, assigned to maxwofford

[2016-05-13 18:15] selynna commented on #617
@MaxWofford sorry for late reply! Yeah, this is a goal for next week.

[2016-05-13 18:27] selynna opened #618 "Reach out to previous Hack Campers"
For distributing flyers at their schools, giving potential presentations, getting in contact with administration

[2016-05-13 18:28] selynna opened #619 "Reach out to Bay Area hackathon organizers"
Giving small talks about Hack Camp at opening ceremony
- [x] CodeDay Bay Area
- [x] BASEHacks
- [x] CUHacks

[2016-05-13 18:30] selynna commented on #576
@MaxWofford yup!

[2016-05-13 18:30] #576 closed, assigned to selynna

[2016-05-16 18:38] zachlatta commented on #610
Did this.

[2016-05-16 18:38] #610 closed, assigned to zachlatta

[2016-05-17 00:14] maxwofford commented on #610
Nice! ![](http://cultofthepartyparrot.com/parrots/parrotdad.gif)

[2016-05-17 00:16] zachlatta commented on #610
Did you make that parrot? It is horrifying.

On Mon, May 16, 2016 at 5:14 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-17 00:16] zachlatta commented on #610
(in the best kind of way)

On Mon, May 16, 2016 at 5:16 PM, Zach Latta zach@zachlatta.com wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-17 00:17] maxwofford commented on #610
Nope! but here's the source: http://cultofthepartyparrot.com/ (https://i.imgur.com/USC90yq.gif)

[2016-05-17 00:25] zachlatta commented on #610
I mean, did you make that specific GIF of the parrot?

On Mon, May 16, 2016 at 5:17 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-17 00:57] zachlatta commented on #578
Any updates on this @KrishMunot?

[2016-05-18 01:56] #596 closed, assigned to maxwofford

[2016-05-18 15:50] maxwofford commented on #598
Just had a chat with @gemmabusoni. Going to close this now.

[2016-05-18 15:50] #598 closed, assigned to maxwofford

[2016-05-23 18:27] maxwofford opened #630 "Create applicant confirmation/payment form"
Create payment form for applicants using stripe.

[2016-05-23 18:54] zachlatta commented on #630
So, just to clarify, this is what we'll send accepted applicants to collect
their tuition payments, yes?

On Mon, May 23, 2016 at 11:46 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-23 19:35] maxwofford commented on #630
Yes

[2016-05-23 22:29] maxwofford commented on #585
Going to go ahead and close this. I'll just be contacting the volunteers directly.

[2016-05-23 22:29] #585 closed, assigned to maxwofford

[2016-05-23 22:30] maxwofford commented on #577
Going to close this for now. Haven't heard a response.

[2016-05-23 22:30] #577 closed, assigned to maxwofford

[2016-05-23 22:30] maxwofford commented on #602
Going to close this for now because we are tracking signups per day now.

[2016-05-23 22:30] #602 closed, assigned to maxwofford

[2016-05-25 16:13] maxwofford opened #631 "Close applications for the first session this Saturday"

[2016-05-25 23:54] selynna commented on #580
@jkwok91 can we get updates posted here? :)

[2016-05-26 14:50] maxwofford commented on #617
@ssun098 Are we still doing this?

[2016-05-26 14:54] maxwofford commented on #618
Going to go ahead and close this. We didn't pursue it.

[2016-05-26 14:54] #618 closed, assigned to nobody

[2016-05-26 15:58] zachlatta commented on #617
Let's close, we're good on venue (at least for the first cohort).

Sent from my mobile

[2016-05-26 19:22] #617 closed, assigned to selynna

[2016-05-27 00:23] zachlatta commented on #630
Created a Wufoo form for this :raised_hands:. Link: https://hackclub.wufoo.com/forms/z1x0dwtm11iqd30/

[2016-05-27 00:23] #630 closed, assigned to zachlatta

[2016-05-27 01:14] maxwofford commented on #630
Thanks @zachlatta!

![53yhutg](https://cloud.githubusercontent.com/assets/5891442/15594780/bc69665a-236d-11e6-9d86-d54f61e79d33.png)

[2016-05-27 03:12] zachlatta commented on #630
This is the most amazing Orpheus.

On Thu, May 26, 2016 at 6:14 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-27 05:24] saescapa opened #636 "Update "When are applications due" for next session on the website"
Title
Also, is there a way for applicants to apply for specific sessions?

[2016-05-27 05:26] selynna commented on #636
@saescapa there isn't a way for them to apply to specific sessions, though we'll get into contact with them later about that

[2016-05-27 05:41] maxwofford commented on #636
@saescapa: we're currently planning on putting up a deadline for the next session this Saturday, after the first session sign up ends.

[2016-05-27 06:23] saescapa commented on #636
@MaxWofford hasn't the first session sign up ended? it says May 16th on website

[2016-05-27 13:45] maxwofford commented on #636
@saescapa: thanks for catching that!

[2016-05-27 15:52] maxwofford commented on #636
Just closed by #637

[2016-05-27 15:52] #636 closed, assigned to maxwofford

[2016-05-28 00:34] maxwofford opened #638 "First day of Hack Camp"
/cc @hackclub/hack-camp

Here's what we need to have a kickass first day of Hack Camp 2016:
- [ ] Set up venue
  - [x] Go to venue and add new tasks to this list
  - [ ] Distribute keys to staff (x5) @MaxWofford
  - [x] Clean up venue @MaxWofford
  - [x] Power @MaxWofford
  - [x] Internet (repeater) @MaxWofford
  - [x] Tables (x4) @gemmabusoni
  - [x] Chairs (x25) @gemmabusoni
  - [ ] ~~Ethernet c

[2016-05-28 00:35] maxwofford commented on #597
Nuking this issue and replacing it with #638.

[2016-05-28 00:35] #597 closed, assigned to nobody

[2016-05-28 00:36] maxwofford commented on #544
We have Teespring's warehouse confirmed for first cohort!

[2016-05-28 00:36] #544 closed, assigned to zachlatta

[2016-05-28 00:36] maxwofford commented on #544
Thanks @zachlatta!

[2016-05-28 00:36] maxwofford commented on #583
Closing this so we can track it in #638.

[2016-05-28 00:36] #583 closed, assigned to nobody

[2016-05-28 00:36] maxwofford commented on #581
Closing this so we can track it in #638.

[2016-05-28 00:36] #581 closed, assigned to nobody

[2016-05-28 00:36] maxwofford commented on #580
Closing this so we can track it in #638.

[2016-05-28 00:36] #580 closed, assigned to nobody

[2016-05-28 00:46] maxwofford commented on #631
Fin will send a reminder to @zachlatta on Saturday to merge #639. Going to close this.

[2016-05-28 00:46] #631 closed, assigned to nobody

[2016-05-28 06:30] maxwofford opened #640 "Ask available dates in Hack Camp application form"
Something like the following with checkboxes:

1) Which dates are you available for?
- [ ] June 6th - June 17th
- [ ] June 27th - July 8th
- [ ] July 18th - July 29th
- [ ] August 8th - August 19th

[2016-05-29 02:21] zachlatta commented on #640
+1

On Fri, May 27, 2016 at 11:30 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-05-29 21:44] maxwofford opened #643 "'Hometown' question on application should be 'Current town'"

[2016-05-30 15:00] #643 closed, assigned to nobody

[2016-05-31 20:29] selynna commented on #619
Update: BASEHacks is down for a 2-3 minute slot at opening ceremony, + a table. CUHacks we'll be going for the opening ceremony and leaving right after (so I don't get locked in)

@zachlatta

[2016-05-31 22:11] zachlatta commented on #619
:raised_hands:

Sounds awesome – what's the date for it again and what time do we have to
get there?

On Tue, May 31, 2016 at 1:29 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-05-31 22:16] selynna commented on #619
Both are on June 11th, and I still have to confirm opening ceremony time.
We might have to split between the hackathons.

On Tue, May 31, 2016 at 3:11 PM Zach Latta notifications@github.com wrote:

[2016-05-31 22:19] zachlatta commented on #619
Oh sweet, awesome. How much do you think we'll get out of being at both for
the entire hackathons?

What if we just did opening ceremonies, handed out tons of stickers, then
called it from there?

On Tue, May 31, 2016 at 3:16 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-06-01 01:08] selynna commented on #619
I think BASEHacks might be worth staying for, but CUHacks I was thinking we
just do opening and hand out a crap ton of stickers

On Tue, May 31, 2016 at 3:19 PM Zach Latta notifications@github.com wrote:

[2016-06-01 15:47] zachlatta commented on #619
Cool, let's plan on it. Can you put this on the team calendar?

On Tue, May 31, 2016 at 6:08 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-06-02 00:13] selynna commented on #619
On the calendar :)

[2016-06-02 02:17] zachlatta opened #648 "Fix coding experience radio buttons on mobile"
_From @MaxWofford on May 20, 2016 21:47_

http://peek.usertesting.com/result/14941866645557?autoplay=true

At the 2:30 mark, the radio buttons are on different lines to their labels

_Copied from original issue: hackclub/hackclub#831_

[2016-06-03 01:28] #640 closed, assigned to nobody

[2016-06-04 14:54] maxwofford commented on #648
Thanks for moving this @zachlatta!

![](https://media.giphy.com/media/vndqDYjLFzry0/giphy.gif)

[2016-06-06 22:23] selynna opened #656 "Add labels onto keys"
Sub-spreadsheet already created in Hack Camp 2016

[2016-06-07 14:08] maxwofford commented on #638
Closing because we ran the first day :100:

[2016-06-07 14:08] #638 closed, assigned to nobody

[2016-06-07 16:45] zachlatta commented on #638
👏👏👏

Sent from my mobile

[2016-06-08 00:39] maxwofford opened #658 "Aquire projector for Wednesday (08/06/2016)"

[2016-06-08 02:50] maxwofford commented on #656
I've got new copies from Cliffs, will take them in for labeling tomorrow

[2016-06-08 04:32] maxwofford opened #660 "Bring games to venue"
Board games, card games, etc.

[2016-06-08 15:33] zachlatta commented on #660
good games, lame games, meme games, etc

On Tue, Jun 7, 2016 at 9:32 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-06-08 17:25] selynna commented on #658
Acquired

[2016-06-08 17:25] #658 closed, assigned to nobody

[2016-06-08 17:47] maxwofford commented on #658
Woooo!

[2016-06-08 17:47] maxwofford commented on #660
![github_reactions](https://cloud.githubusercontent.com/assets/5891442/15904574/611c30fe-2d66-11e6-8087-3dbaade8e2ce.png)

[2016-06-08 22:12] maxwofford opened #662 "Bring scooters to venue"

[2016-06-09 00:10] zachlatta commented on #662
For fun? Or practical purposes?

On Wed, Jun 8, 2016 at 3:12 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-06-09 05:44] selynna commented on #662
For fun

[2016-06-09 05:53] zachlatta commented on #662
I am okay with this.

Sent from my mobile

[2016-06-09 18:46] #662 closed, assigned to maxwofford

[2016-06-09 21:24] maxwofford commented on #656
I've distributed the keys to staff. Is it cool if I close?

[2016-06-09 22:37] zachlatta commented on #656
Go for it

Sent from my mobile

[2016-06-10 22:26] zachlatta commented on #656
Reopening because it turns out labels still need to be added to the keys. @MaxWofford can you handle this?

[2016-06-10 23:26] selynna commented on #619
Just FYI - we have to be at BASEHacks by 10am, and CUHacks by 5pm.

@zachlatta @MaxWofford

[2016-06-10 23:39] zachlatta commented on #619
:thumbsup:

On Fri, Jun 10, 2016 at 4:26 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-06-11 00:37] selynna opened #666 "Obtain a fridge/microwave"
no guarantees though

[2016-06-12 00:54] selynna commented on #619
Gonna close this since we're basically done at this point

[2016-06-12 00:54] #619 closed, assigned to selynna

[2016-06-12 02:26] maxwofford opened #667 "Bring sleeping bag to venue"

[2016-06-12 02:26] maxwofford opened #668 "Bring post-it notes to venue"

[2016-06-12 05:42] selynna commented on #666
Picking it up Monday 🎉🎉🎉

[2016-06-12 05:42] ssun098 commented on #666
Picking it up Monday 🎉🎉🎉

[2016-06-13 03:06] maxwofford commented on #656
Yep! Just added the labels and recorded them in https://docs.google.com/spreadsheets/d/1HCh5YtN_Y3JXbIMoiUdv-FgYiPZZD1kGg5QnfbsxiCw/edit#gid=1683930002

[2016-06-13 03:06] #656 closed, assigned to maxwofford

[2016-06-14 15:54] maxwofford commented on #666
Obtained (and installed at venue)

[2016-06-14 15:54] #666 closed, assigned to selynna

[2016-06-15 15:00] maxwofford commented on #668
Chatted with @ssun098 about taking point on this because I'll be out of commission soon.

[2016-06-15 15:01] maxwofford commented on #660
@ssun098 Could we keep the cards you brought in at the venue so we can close this?

[2016-06-15 16:27] selynna commented on #668
Done!

[2016-06-15 16:27] #668 closed, assigned to nobody

[2016-06-15 16:31] selynna commented on #667
Closing this because I don't think it's really necessary for the time being

[2016-06-15 16:31] #667 closed, assigned to nobody

[2016-06-16 15:57] selynna opened #676 "Bring marshmallows and spaghetti"

[2016-06-16 23:24] maxwofford commented on #676
I've got spaghetti

[2016-06-16 23:27] selynna commented on #676
I'll get marshmallows

[2016-06-16 23:44] maxwofford commented on #676
Just talked about this with @ssun098 in person. I'll take point on marshmallows.

[2016-06-16 23:48] maxwofford commented on #676
Assigning @ssun098 for a test

[2016-06-17 03:31] maxwofford opened #682 "Bring in cookies for last day of first session"
I've got some doughbies credits, so I'll order some for everyone.

[2016-06-18 02:46] maxwofford commented on #682
Finished!

[2016-06-18 02:46] #682 closed, assigned to maxwofford

[2016-06-18 02:46] maxwofford commented on #676
Finished!

[2016-06-18 02:46] #676 closed, assigned to maxwofford

[2016-06-18 02:47] maxwofford commented on #660
We've got cards, so I'll close this issue.

[2016-06-18 02:47] #660 closed, assigned to nobody

[2016-06-18 02:49] maxwofford opened #684 "Post on social media about mentors for session 2"

[2016-06-18 04:47] selynna commented on #660
I bring my cards everywhere so it shouldn't be too much of a struggle
On Fri, Jun 17, 2016 at 7:47 PM Max Wofford notifications@github.com
wrote:

[2016-06-18 05:40] zachlatta commented on #660
I maintain that we need Hack Club cards.

Sent from my mobile

[2016-06-18 05:41] selynna commented on #660
I would buy so many tbh
On Fri, Jun 17, 2016 at 10:40 PM Zach Latta notifications@github.com
wrote:

[2016-06-18 06:06] zachlatta commented on #660
We could have the sweet gradient on the back of the cards.

Sent from my mobile

[2016-06-18 09:34] maxwofford commented on #660
With dinosaurs on each of the face cards

[2016-06-18 12:26] zachlatta commented on #660
Prophet Orpheus could bend his/her body into the shapes of the different numbers and suits.

Sent from my mobile

[2016-06-18 12:54] zachlatta opened #685 "Refund tuition deposits for full scholarships from session 1"
Refund the $100 tuition deposits for the full scholarship recipients.

[2016-06-18 12:54] zachlatta commented on #685
Did this and sent out confirmation emails to them.

[2016-06-18 12:54] #685 closed, assigned to zachlatta

[2016-06-19 01:51] selynna commented on #684
https://www.facebook.com/groups/hackathonhackers/permalink/1274381632617319/

[2016-06-19 01:51] #684 closed, assigned to nobody

[2016-06-19 01:53] selynna commented on #660
![image](https://cloud.githubusercontent.com/assets/7741746/16174734/f1427f4a-3585-11e6-9d20-f5cd9149c1e4.png)
send help i can't do this

[2016-06-19 01:58] selynna commented on #660
i make myself cringe

![image](https://cloud.githubusercontent.com/assets/7741746/16174748/9e7c1e1e-3586-11e6-95b7-df8571dc626d.png)

[2016-06-19 23:32] maxwofford opened #687 "Second session folder"

[2016-06-19 23:39] zachlatta commented on #687
Do we want to organize the documents per session line we did last year?

I actually think it'd be beneficial to just continue to improve the docs we make as we go, session by session.

Sent from my mobile

[2016-06-20 06:55] maxwofford commented on #687
@ssun098 do you have thoughts on this?

[2016-06-20 06:59] selynna commented on #687
I think either way is fine, but I feel like the folders would make it
better for tracking stuff between sessions, otherwise you'd have to
constantly look through commit history to see what was in the previous

On Sun, Jun 19, 2016 at 11:55 PM Max Wofford notifications@github.com
wrote:

[2016-06-20 13:18] zachlatta commented on #687
@MaxWofford: any preference?

If both of you prefer separate folders, I'm down with this. But I also don't see harm in just using git history to see past work (after all, that's what it's for).

Sent from my mobile

[2016-06-20 13:50] jkwok91 commented on #687
For the second session it seems like we're making a very experimental(?) set of changes, which we might want a separate folder for.

[2016-06-20 14:32] zachlatta commented on #687
Okay, I'm totally cool with it in that case. Proceed as planned.

On Mon, Jun 20, 2016 at 6:50 AM, JESSICA notifications@github.com wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-06-20 16:17] maxwofford opened #689 "Add documentation for applicant calls"

[2016-06-20 16:17] maxwofford opened #690 "Get 3-5 confirmed volunteer mentors for second session"

[2016-06-20 16:18] maxwofford opened #691 "Facilitator run through of chat workshop"
https://workshops.hackclub.com/chat

[2016-06-20 16:52] zachlatta commented on #691
What does this entail?

On Mon, Jun 20, 2016 at 9:18 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-06-20 16:53] zachlatta commented on #690
How involved does a mentor need to be?

On Mon, Jun 20, 2016 at 9:17 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-06-20 17:09] maxwofford commented on #691
@ssun098 and I will run through the chat workshop ourselves to make sure we are ready to run it during the second session.

[2016-06-20 17:12] maxwofford commented on #690
We're looking for people who can volunteer for the 9-5:30 the camp is running for. That being said, we might have part-time mentors on a case-by-case basis.

[2016-06-20 17:16] zachlatta commented on #690
Gotcha. I think getting full-time mentors will be extremely difficult –
most people will probably be working then.

What if we shot to have 3-5 part-time mentors?

On Mon, Jun 20, 2016 at 10:12 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-06-20 17:52] maxwofford commented on #690
Yeah, I'm down for that.

[2016-06-20 19:20] selynna opened #692 "Get 7 hackers confirmed and paid for second session"
- Reach out to all hackers not accounted for

[2016-06-20 19:21] selynna opened #693 "Schedule for second session"

[2016-06-20 19:44] #687 closed, assigned to maxwofford

[2016-06-21 01:12] maxwofford commented on #691
![screenshot_2016-06-20_18 08 02](https://cloud.githubusercontent.com/assets/5891442/16214956/6994db72-3712-11e6-84c0-e80869b1e910.png)

![happy dance](https://media.giphy.com/media/mHolTJoRuxPiw/giphy.gif)

[2016-06-21 01:12] #691 closed, assigned to maxwofford

[2016-06-21 16:34] maxwofford opened #695 "Get enough tables and chairs for everyone in second session"
We can close this once all the hackers and volunteers have a chair and table space.

[2016-06-21 16:34] selynna commented on #693
Done and merged!

[2016-06-21 16:34] #693 closed, assigned to selynna

[2016-06-21 18:27] selynna opened #696 "Update Howdy to include feedback for curriculum"

[2016-06-22 19:42] selynna commented on #696
Done!

![image](https://cloud.githubusercontent.com/assets/7741746/16280917/c25e251e-3876-11e6-9670-9f9a8325ba3c.png)

[2016-06-22 19:42] #696 closed, assigned to selynna

[2016-06-23 17:06] selynna commented on #695
Will bring all the tables and chairs up to SF on Saturday

[2016-06-26 00:00] selynna commented on #695
Done!
![img_6779](https://cloud.githubusercontent.com/assets/7741746/16359745/3d39f25a-3af6-11e6-8a61-24b4f927a493.JPG)

[2016-06-26 00:00] #695 closed, assigned to nobody

[2016-06-26 02:11] selynna commented on #692
Done

[2016-06-26 02:11] #692 closed, assigned to selynna

[2016-06-27 02:42] maxwofford opened #699 "Reschedule Howdy's feedback form task to 5:25pm"
Based on the [schedule](https://github.com/hackclub/hackcamp/blob/master/2016/playbook/session_2/SCHEDULE.md#day-1)

[2016-06-27 02:49] maxwofford opened #700 "Train Howdy to collect demo links"
This can be closed once we can run `howdy schedule collect demo links @hacker @names @here`

[2016-06-27 02:49] #699 closed, assigned to maxwofford

[2016-06-27 03:22] #700 closed, assigned to maxwofford

[2016-06-28 06:51] maxwofford opened #704 "Add session 2 day 2 schedule"
Add documentation for https://github.com/hackclub/hackcamp/blob/master/2016/playbook/session_2/SCHEDULE.md#day-2

[2016-06-28 06:59] maxwofford opened #705 "Record feedback from Howdy's task"
Dariana needs access to Howdy's feedback notes so she can record hacker feedback in the Hack Camp spreadsheet. This issue can be closed once
1. [x] Dariana has access to Howdy's feedback notes
2. [x] Dariana has been sent a guide on how to record notes from Howdy

[2016-06-28 07:01] maxwofford opened #706 "Get extension cable"
The tables we're using at Hack Camp are long enough that hackers on the far sides of the table have trouble plugging their laptops into the surge protectors at the center of the table. We need to put an extension cable between two of the surge protectors so they can be spread out.

This issue can be closed once power outlets are accessible over any part of the table.

Extra power outlets and surge

[2016-06-28 07:03] maxwofford opened #707 "Setup router"
There is a spare router and USB hotspot on the 1st floor of the venue. We need to take it upstairs and install it with @MaxWofford's sim card. Not totally sure the steps of how to set up the router, so you'll need to search for details on how to set it up with a new sim + USB hotspot.

This issue can be closed once there is a network on the 3rd floor that can handle at least 6 connections (one for

[2016-06-28 07:08] maxwofford opened #708 "Replace "-5 to 5" question on feedback form with NPS question"
Howdy currently asks hackers `Please rate from -5 to 5 how satisfied you are with today's camp?`. We need to retrain Howdy to instead ask for a net promoter score.

For example: "How likely is it that you would recommend Hack Camp to a friend?"

This can be closed once a screenshot of Howdy running the updated feedback form is posted in this chat.

[2016-06-28 07:08] maxwofford opened #709 "Add Hack Cheer to the daily schedule"
At the end of the day, we circle up with hackers and on three yell "Hack!". This was [documented last year](https://github.com/hackclub/hackcamp/blob/c768bc6b6d235ea71fee30a0020ad3df933fb6ae/2015/cohort_4/playbook/ACTIVITIES.md#finishing-off-the-day) and needs to be added to this year's schedule.

This issue can be closed once the Hack Cheer is added to [ACTIVITIES.md](https://github.com/hackclub/

[2016-06-29 01:23] ssun098 commented on #706
@MaxWofford can we close this?

[2016-06-29 04:44] maxwofford commented on #706
I've got a surge protector with a long power cable in my backpack. We can use it as an extension cord.

[2016-06-29 04:45] maxwofford commented on #705
@ssun098 can you take this?

[2016-06-29 05:28] sayanb06 commented on #708
Hey @MaxWofford, I worked on changing the NPS score question. I think the issue is good to close.

Howdy asking feedback questions:
![image](https://cloud.githubusercontent.com/assets/10102361/16441397/f3b94834-3d7e-11e6-84f4-acfbaa6ea2a5.png)

Howdy recording my responses:
![image](https://cloud.githubusercontent.com/assets/10102361/16441411/1b612370-3d7f-11e6-8068-1f75125c0e15.png)

Sayan

[2016-06-29 05:28] maxwofford commented on #708
Thanks for the contribution @sayanb06!

[2016-06-29 05:28] #708 closed, assigned to nobody

[2016-06-29 05:36] selynna commented on #709
Can we close? https://github.com/hackclub/hackcamp/pull/712

[2016-06-29 05:38] selynna commented on #704
Can this be closed?

[2016-06-29 05:40] maxwofford commented on #704
Yep!

[2016-06-29 05:40] #704 closed, assigned to maxwofford

[2016-06-29 05:41] maxwofford commented on #709
Go for it @ssun098

![](https://media3.giphy.com/media/GVMhZwYv8U5NK/200.gif)

[2016-06-29 05:41] maxwofford opened #713 "Add 2016 session 2 day 3 schedule"

[2016-06-29 05:41] selynna commented on #709
yay

[2016-06-29 05:41] #709 closed, assigned to nobody

[2016-06-29 05:44] maxwofford commented on #690
Confirmed! We've got 3 confirmed mentors for the rest of the session

[2016-06-29 05:44] #690 closed, assigned to maxwofford

[2016-06-29 14:35] maxwofford commented on #706
![image](https://cloud.githubusercontent.com/assets/5891442/16456208/03630cc8-3dcc-11e6-9e07-77c6f809d2bc.jpeg)

[2016-06-29 14:35] #706 closed, assigned to maxwofford

[2016-06-29 15:54] #713 closed, assigned to nobody

[2016-07-01 21:08] selynna opened #719 "Add Day 5 Session 2 schedule"

[2016-07-02 00:29] maxwofford commented on #719
Closed by https://github.com/hackclub/hackcamp/pull/718

[2016-07-02 00:29] #719 closed, assigned to selynna

[2016-07-02 00:55] maxwofford commented on #707
Ended up buying a t-mobile hotspot.

[2016-07-02 00:55] #707 closed, assigned to nobody

[2016-07-02 04:00] maxwofford opened #720 "Food for Hack Camp session 2 week 2"
This can be closed once the food is either scheduled to be delivered to the venue or already at the venue.
- [x] Chips
- [ ] Chocolate (This was requested, not sure how much we should get)
- [x] Water
- [x] Cheez-It®
- [x] Pop-Tarts®

[2016-07-02 04:00] maxwofford commented on #720
@ssun098 anything else we should get?

[2016-07-02 04:08] maxwofford opened #721 "Add mentor on-boarding documentation"

[2016-07-02 04:08] maxwofford opened #722 "Get 2 mentors onboarded by EOD Sunday (7/3)"
We need 2 more mentors confirmed on on-boarded by the end of the week.

This issue can be closed once they've confirmed their spots for the second week and have completed the tasks for their on-boarding (on-boarding protocol is in-progress https://github.com/hackclub/hackcamp/issues/721).

[2016-07-02 04:18] maxwofford commented on #578
Closing this along with https://github.com/hackclub/hackcamp/pull/622.

[2016-07-02 04:18] #578 closed, assigned to nobody

[2016-07-02 04:22] selynna commented on #720
Refills of cheese its and poptarts i guess?

On Fri, Jul 1, 2016 at 9:00 PM Max Wofford notifications@github.com wrote:

[2016-07-02 04:24] maxwofford commented on #720
Added to the list

[2016-07-04 01:39] selynna commented on #720
@MaxWofford can you take point on the food? I can't get to the venue in time, so it doesn't make sense for me to get it

[2016-07-04 01:39] selynna commented on #705
@MaxWofford rip sorry I missed this notification, yeah I'll take point on it

[2016-07-04 02:13] maxwofford commented on #720
Will do!

[2016-07-06 03:02] selynna commented on #722
@MaxWofford can this be closed? date already passed and I don't think we're going to get too much extra help for this week

[2016-07-06 03:03] selynna commented on #720
@MaxWofford can we close this? I think we're fine on food

[2016-07-06 03:15] maxwofford commented on #720
Sounds good!

[2016-07-06 03:15] #720 closed, assigned to maxwofford

[2016-07-06 03:16] maxwofford commented on #722
Yep, going to close.

[2016-07-06 03:16] #722 closed, assigned to nobody

[2016-07-06 22:34] maxwofford opened #729 "Buy marshmallows and spaghetti"
This issue can be closed once we have marshmallows and spaghetti at the venue.

[2016-07-07 00:28] selynna opened #730 "Learn a new card game"

[2016-07-07 14:46] zachlatta commented on #730
Hearts? Spades? Texas hold 'em?

_werewolf_

On Wed, Jul 6, 2016 at 5:28 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-07-07 14:49] selynna commented on #730
Oh dang I totally forgot about hearts - will do that one. Thanks!
On Thu, Jul 7, 2016 at 7:46 AM Zach Latta notifications@github.com wrote:

[2016-07-08 00:13] #730 closed, assigned to selynna

[2016-07-08 02:27] maxwofford opened #731 "Write a "thank you" letter to @johndbritton"
The GitHub tour was fantastic – let's send John Britton a "thank you" letter.

[2016-07-08 16:49] maxwofford commented on #731
@ssun098 What if we turn this issue into a "Thank You" note and tag him on it?

[2016-07-08 16:54] maxwofford opened #734 "Secure venue for 3rd session"
@zachlatta Can you take point on this?

[2016-07-08 17:04] LordDarkMelon commented on #731
Thanks for the hoodies John, they're awesome

ps: remember: the "octogon"

[2016-07-08 17:06] strik0za commented on #731
Thank you so much for the Github tour! It was really cool seeing a tiny bit of the culture behind Github, plus the hoodies/stickers are fantastic.

[2016-07-08 17:06] iando407 commented on #731
Thanks John for the great tour. 7 out of 9 of us are still wearing the github hoodie so thank you for that as well.

[2016-07-08 17:06] anntheknee commented on #731
Thanks for the github tour John. The food and office was amazing. Also thanks for the hoodie :)

[2016-07-08 17:07] fqfernando commented on #731
Thank you so much for everything!!! . The lunch was amazing !! loved the pool table!

[2016-07-08 17:07] brandon65438 commented on #731
Thank you John. I appreciate the hoodies you gave us for free and the tour of github.

[2016-07-08 17:09] ginabrin commented on #731
THANKS JOHN!! Thanks for taking time out of your day to show us around GitHub! Your library was super cool, unfortunately it would take too long to read every book i wanted :P. Thanks for the hoodies and for the tour!

[2016-07-09 00:42] maxwofford commented on #731
cc @johndbritton

[2016-07-09 11:12] zachlatta commented on #734
Fo' sure.

On Fri, Jul 8, 2016 at 9:54 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-07-10 22:28] selynna commented on #729
@MaxWofford whoops I think we totally forgot about this, can this be closed?

[2016-07-10 23:37] #729 closed, assigned to maxwofford

[2016-07-13 15:52] maxwofford commented on #705
I said I'd take point on this in-person.

[2016-07-13 16:03] maxwofford commented on #689
Closing this for the time being because it hasn't been done yet and I don't have the bandwidth to do it quickly enough for it to be useful.

[2016-07-13 16:18] #731 closed, assigned to maxwofford

[2016-07-13 16:33] maxwofford commented on #705
I've just emailed Dariana about this.

[2016-07-13 16:34] maxwofford commented on #705
I'll close this once all the info is in the spreadsheet at https://docs.google.com/spreadsheets/d/1HCh5YtN_Y3JXbIMoiUdv-FgYiPZZD1kGg5QnfbsxiCw/edit#gid=1669794560.

[2016-07-13 16:36] #689 closed, assigned to maxwofford

[2016-07-13 16:41] maxwofford opened #735 "Packets signed for 2016 session 3 hackers"

[2016-07-13 16:41] maxwofford opened #736 "6 hackers confirmed and paid"

[2016-07-13 16:42] maxwofford opened #737 "Content changes for 2016 session 3 day 1"

[2016-07-13 18:01] zachlatta commented on #705
:raised_hands:

On Wed, Jul 13, 2016 at 9:34 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
Hack Club | zach@hackclub.com

[2016-07-13 18:13] maxwofford commented on #735
Here's the packet: [composite.pdf](https://github.com/hackclub/hackcamp/files/362142/composite.pdf)

[2016-07-13 19:45] zachlatta commented on #734
Going to reduce scope of this issue to just venue for third session.

[2016-07-13 19:47] maxwofford opened #738 "Set up 2016 session 3 venue"
Ensure the following are all ready for camp:
    - [ ] Breakfast
    - [ ] Tables
    - [ ] Chairs
    - [ ] Internet

[2016-07-13 19:47] maxwofford commented on #738
Blocking on #734

[2016-07-13 19:47] zachlatta opened #739 "Secure venue for 4th session"
Hopefully #734 will also get us this, but I'm moving this to a separate issue just in case the venue for third session doesn't want to host us for the fourth.

[2016-07-13 19:53] maxwofford opened #740 "Change start and end time in liability packet"

[2016-07-13 19:54] zachlatta commented on #734
Waiting on a response from a contact who said they might be able to do it.

[2016-07-13 19:54] maxwofford commented on #740
The packet should say Hack Camp starts at 10AM and ends at 4:30PM

[2016-07-13 19:57] zachlatta opened #741 "Onboard mentors for third session of Hack Camp"
- [ ] Onboard @99anthonylam
- [ ] Write onboarding documentation

[2016-07-13 19:57] selynna opened #742 "Create day 1 schedule for Hack Camp Session 3"

[2016-07-13 19:58] maxwofford commented on #742
This will be a modified schedule with hackers arriving at 10AM and leaving at 4:30PM

[2016-07-13 20:05] maxwofford opened #743 "Hack Camp Session 3"

[2016-07-13 20:14] ssun098 commented on #735
Blocking on updated packet

[2016-07-13 20:29] selynna commented on #737
CLosing because duplicate in #742

[2016-07-13 20:29] #737 closed, assigned to maxwofford

[2016-07-13 20:32] zachlatta commented on #648
Going to go ahead and close this because we're not focused on maintaining Hack Camp's site anymore.

[2016-07-13 20:32] #648 closed, assigned to nobody

[2016-07-13 21:01] zachlatta opened #745 "Rename repo to just "camp""
It's shorter, it's more succinct, and it helps us Make The World A Better Place™.

[2016-07-13 21:01] zachlatta commented on #745
And it's done.

[2016-07-13 21:01] #745 closed, assigned to zachlatta

[2016-07-13 21:11] maxwofford commented on #740
The correct packet for 2016 session 3  is here:
[composite.pdf](https://github.com/hackclub/camp/files/362457/composite.pdf).

[2016-07-13 21:11] #740 closed, assigned to maxwofford

[2016-07-13 21:12] maxwofford commented on #739
Keeping the title consistent with https://github.com/hackclub/camp/issues/734

[2016-07-14 01:06] selynna commented on #734
Waiting on responses from 2 potential venues

[2016-07-14 01:26] selynna commented on #735
Blocking until we resolve #734

EDIT: sending this packet out with all the updated info for Hack Camp, but no venue yet

[2016-07-14 01:38] selynna commented on #739
Reached out to 2 potential venues about 3rd and 4th, just fyi here

[2016-07-14 21:57] maxwofford commented on #742
Closed by #748

[2016-07-14 22:13] selynna commented on #742
#748 merged!

[2016-07-14 22:13] #742 closed, assigned to maxwofford

[2016-07-15 00:00] maxwofford commented on #743
Going to close this because we're not reviewing this at standups.

[2016-07-15 00:00] #743 closed, assigned to nobody

[2016-07-15 00:58] maxwofford opened #749 "Get list of Hack Night Summer meetups that have 5 or more participants"
This is so we can send them food.

[2016-07-15 00:59] maxwofford commented on #705
Adding blocking label because I'm just waiting for Dariana to do this.

[2016-07-15 01:02] maxwofford commented on #749
This issue was moved to hackclub/meta#607

[2016-07-15 01:02] #749 closed, assigned to maxwofford

[2016-07-15 02:12] zachlatta commented on #734
Okay, I have a tentative yes for 448 Bryant to re-host. They're gonna finalize tomorrow AM with me.

Let's move forward assuming they're a yes and we'll just deal with it if we need to find an alternative. I have a couple good leads and the spot in San Mateo is a yes.

[2016-07-15 02:12] zachlatta commented on #734
Going to unblock the issues that are blocking on this.

[2016-07-15 02:12] zachlatta commented on #735
Unblocking because of latest progress with #734.

[2016-07-15 02:13] zachlatta commented on #734
This is now blocking on their response, so leaving blocking label on.

[2016-07-15 02:13] zachlatta commented on #738
Going to let this continue blocking on #734 despite latest progress until tomorrow AM gives us a resolution.

[2016-07-15 02:34] maxwofford opened #750 "Create list of actionable tasks for club leaders to replicate club social environment in Hack Camp"
This issue can be closed once we document a list of actionable tasks for club leaders to replicate.

We'll need to document the specific experiments we're running (e.g. pair programming sessions) in this issue as camp progresses.

[2016-07-15 21:22] zachlatta commented on #734
Alright, so 448 Bryant is not down, but Torch Communications in FiDi is down to host. Closing now that we have a venue.

[2016-07-15 21:22] #734 closed, assigned to zachlatta

[2016-07-15 21:22] zachlatta commented on #738
Unblocking because we now have a venue.

[2016-07-15 23:29] maxwofford commented on #721
Consolidated with #741

[2016-07-15 23:29] #721 closed, assigned to maxwofford

[2016-07-15 23:52] maxwofford opened #751 "Move session 3 start time to 11am"

[2016-07-16 00:04] selynna commented on #735
Packets sent out!

[2016-07-16 02:57] johndbritton commented on #731
You're welcome! Thanks for coming by.

:octocat: :heart: 🎓

[2016-07-17 16:12] maxwofford commented on #751
This can be closed once Hack Camp starts at 11 AM in SCHEDULE.md.

[2016-07-17 20:02] #705 closed, assigned to maxwofford

[2016-07-17 20:02] maxwofford commented on #751
Closed by #755

[2016-07-17 20:02] #751 closed, assigned to maxwofford

[2016-07-18 16:39] zachlatta commented on #736
Aaaand we're done! Camp starts soon.

[2016-07-18 16:39] #736 closed, assigned to zachlatta

[2016-07-19 00:15] selynna opened #758 "Retrain and reschedule Howdy"
- [x] Demo links
- [x] Feedback (stuff was from last session last day)

[2016-07-19 01:27] selynna opened #759 "Set reminder for hackers to get food for lunch on time"
This issue was created by @99anthonylam using @ssun098's account. @99anthonylam does not have access to the board to be assigned yet, but this issue will be updated soon.

[2016-07-19 01:28] selynna commented on #759
This issue can be closed after lunch of Hack Camp session 3 day 2.

[2016-07-19 01:31] selynna opened #760 "Find a card game/activity to run during lunch"
This issue was created by @99anthonylam using @ssun098's account. @99anthonylam does not have access to the board to be assigned yet, but this issue will be updated soon.

[2016-07-19 01:31] selynna commented on #760
This can be closed after lunch of Hack Camp Session 3 Day 2

[2016-07-19 01:46] maxwofford opened #761 "Announce precedent of hackers asking other hackers before asking mentors"
This issue can be closed at tomorrow's Hack Camp recap.

[2016-07-19 01:47] maxwofford commented on #761
Ah, just submitted the issue before  I was done editing.

I'll make the announcement at tomorrow's intro talk and explain it's an experiment to see if we can increase hackers' comfort with reaching out for help.

[2016-07-19 01:48] maxwofford opened #762 "Add schedule & documentation for 2016 session 3 day 2"

[2016-07-19 01:49] maxwofford opened #763 "Bring HDMI to DisplayPort adapter for projector to venue"
@zachlatta do you have a spare?

[2016-07-19 04:44] maxwofford commented on #741
Closing this because it doesn't make sense to track as an issue.

[2016-07-19 04:45] #741 closed, assigned to maxwofford

[2016-07-19 04:57] maxwofford commented on #738
Going to close this because we've just run the first day.

[2016-07-19 04:57] #738 closed, assigned to maxwofford

[2016-07-19 06:17] #762 closed, assigned to maxwofford

[2016-07-19 06:33] selynna commented on #758
Can't attach screenshots, but everything's double checked in the dashboard and verified in #hack-camp-leaders

[2016-07-19 06:33] #758 closed, assigned to selynna

[2016-07-19 06:34] selynna opened #765 "Find energizer to facilitate teamwork and interaction"

[2016-07-19 06:34] selynna commented on #735
@zachlatta waiting on 2 hackers, do you think you could reach out to them?

[2016-07-19 06:38] selynna opened #766 "Get food for Hack Camp"
- [ ] Cups
- [ ] Granola bars

This issue can be closed once all the food is at the venue
Also can someone give me ideas for more food

[2016-07-19 14:35] maxwofford commented on #763
@zachlatta do you have a spare?

[2016-07-19 14:36] maxwofford commented on #763
Oops, sorry for the duplicate message- the description wasn't showing up on mobile.

[2016-07-19 16:11] maxwofford commented on #735
@ssun098 If you DM me the names on Slack, I'm happy to reach out.

[2016-07-19 17:11] zachlatta commented on #763
Brought mine.

[2016-07-19 17:11] #763 closed, assigned to maxwofford

[2016-07-19 17:14] #766 closed, assigned to selynna

[2016-07-19 21:35] anntheknee commented on #759
done

[2016-07-19 21:35] #759 closed, assigned to nobody

[2016-07-19 21:36] anntheknee commented on #760
Lunch split into 2 groups worked well

[2016-07-19 21:36] #760 closed, assigned to nobody

[2016-07-20 00:49] selynna commented on #765
Done!

[2016-07-20 00:49] #765 closed, assigned to selynna

[2016-07-20 00:55] selynna opened #767 "Find examples for Hack Club workshops"

[2016-07-20 00:55] maxwofford opened #768 "Duplicate venue keys"

[2016-07-20 00:57] zachlatta commented on #739
Giving this to @ssun098 to take over.

[2016-07-20 00:57] zachlatta commented on #767
This is specifically for the Geometric Pattern workshop, yes?

[2016-07-20 00:59] selynna commented on #767
CLosing to move to hackclub/hackclub

[2016-07-20 05:06] selynna commented on #735
All signed

[2016-07-20 05:06] #735 closed, assigned to nobody

[2016-07-20 08:25] #767 closed, assigned to selynna

[2016-07-20 17:30] maxwofford commented on #761
Closing this because it was documented in https://github.com/hackclub/camp/pull/769/commits/8805550bb907fefcc4afa0c0e0d37d5ab9f1206f

[2016-07-20 17:30] #761 closed, assigned to maxwofford

[2016-07-20 17:42] anntheknee opened #771 "Run activity during lunches to create conversation and increase productivity of hackers"
@99anthonylam commented on [Wed Jul 20 2016](https://github.com/hackclub/meta/issues/624)

This can be closed after lunch of Hack Camp Session 3 Day 4

[2016-07-20 23:36] selynna commented on #739
@zachlatta unassigning you as I assume you meant to do so in standups yetserday

[2016-07-20 23:36] maxwofford commented on #750
This issue is being closed because it's an unclear duplicate of Hack Camp's goal.

[2016-07-20 23:36] #750 closed, assigned to maxwofford

[2016-07-20 23:57] anntheknee commented on #771
Ran 3 Rounds of Mafia during lunch. Unsure if overall success was accomplished or not. Will continue experiment tomorrow.

[2016-07-21 00:47] anntheknee commented on #771
This can be closed after conclusion is posted.

[2016-07-22 01:01] anntheknee commented on #771
Continuation of experiment canceled.

[2016-07-22 01:01] #771 closed, assigned to anntheknee

[2016-07-23 04:47] anntheknee opened #779 "Files with colons in their name break Windows"
Screenshots of errors are attached below

![gitstatuserror2](https://cloud.githubusercontent.com/assets/15256269/17075844/8976efb4-5055-11e6-9c07-d812a0cc2e8b.png)
![gitstatuserror](https://cloud.githubusercontent.com/assets/15256269/17075845/8979f916-5055-11e6-9843-804f814b4478.png)

[2016-07-23 16:40] maxwofford commented on #779
Apparently our docs aren't supported  on windows.

![](https://media.giphy.com/media/83QtfwKWdmSEo/giphy.gif)

[2016-07-23 17:15] zachlatta commented on #779
Can you clarify what you mean by this? Do our workshops not work on Windows?

Sent from my mobile

[2016-07-23 22:00] maxwofford commented on #779
Filenames on Windows can't have `:` in them. Some images in our repo had `:`s in the file name.

[2016-07-24 23:49] maxwofford commented on #768
Closing this issue because the keys say `do not duplicate`.

[2016-07-24 23:49] #768 closed, assigned to maxwofford

[2016-07-26 14:03] zachlatta commented on #779
Closed by #780.

[2016-07-26 14:03] #779 closed, assigned to maxwofford

[2016-07-27 00:05] maxwofford opened #785 "Document hypotheses not owned by Hack Camp organizers"

[2016-07-29 00:24] maxwofford commented on #739
Going to close this because no longer planning on running a 4th session.

[2016-07-29 00:24] #739 closed, assigned to nobody

[2016-07-29 00:27] maxwofford opened #786 "Cancel 4th session for 2016"
At our all-hands, @hackclub/staff decided to cancel the 4th session to give us time to prep for the 2016-2017 school year.

[2016-07-29 00:29] zachlatta commented on #786
Can you clarify what this issue entails?

Sent from my mobile

[2016-07-29 02:06] maxwofford commented on #786
Here's a list of what I can think of right now:
- [x] Reach out to 4th session applicants and inform them it's canceled
- [x] Notify venues we've asked about hosting us
- [x] Updating https://camp.hackclub.com
- [x] Notify hackers we didn't accept to any session

Anything to add @hackclub/camp?

[2016-07-29 02:57] zachlatta commented on #786
We should also let all applicants that we didn't accept know that we didn't
have them this semester.

On Thu, Jul 28, 2016 at 7:06 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-07-29 02:57] zachlatta commented on #786
*this summer

On Thu, Jul 28, 2016 at 7:57 PM, Zach Latta zach@zachlatta.com wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-07-29 06:08] maxwofford commented on #786
@zachlatta Gotcha, just added it to the list

[2016-08-03 00:52] maxwofford commented on #786
@hackclub/camp: I've just opened https://github.com/hackclub/camp/pull/787 to update https://camp.hackclub.com. It's currently assigned to @ssun098, but if you want to review and merge yourself, go for it.

[2016-08-03 00:53] maxwofford commented on #786
Also -- I just sent out an email to each of the 4th session applicants informing them it's canceled. As far as I can tell, only 1 needs to be reimbursed.

[2016-08-03 02:08] maxwofford commented on #786
Just mailed all the hackers who weren't slotted into a session that we're not accepting anyone.

[2016-08-03 02:09] maxwofford commented on #786
@zachlatta @ssun098 What do we have to do to notify venues we reached out to?

[2016-08-03 12:05] zachlatta commented on #786
I'm all set on my end for notifying venues – don't need to do it because
the discussions I've been having with people have been pretty generic.

On Tue, Aug 2, 2016 at 4:09 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-08-04 06:08] selynna commented on #786
I'm also set on my end about reaching out to venues

On Wed, Aug 3, 2016 at 5:32 AM Zach Latta notifications@github.com wrote:

[2016-08-05 04:51] maxwofford commented on #786
#787 just got merged, so it looks like this can be closed

[2016-08-05 04:51] #786 closed, assigned to maxwofford

[2016-08-05 04:51] maxwofford commented on #786
If anyone has any other tasks to add, please comment them here!

[2016-08-05 15:58] zachlatta commented on #786
I probably missed it, but did we ever send out an email to applicants that
we didn't accept to any session? If we did, what's the subject of the email?

On Thu, Aug 4, 2016 at 9:51 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
https://zachlatta.com http://zachlatta.com

[2016-08-05 16:16] maxwofford commented on #786
"Hack Camp is closing up"

[2016-08-09 20:25] maxwofford opened #788 "Deprecate workshops that are no longer relevant"
We need to decide on how to deprecate workshops that are no longer relevant:

https://docs.google.com/a/hackedu.us/spreadsheets/d/1CyzgILRlMZKDgp7oB0c9STRKQKAxxzds8Zvo8wVM1k4/edit?usp=

Do we remove them from the list on workshops/README.md?

@hackclub/staff thoughts?

[2016-08-09 20:45] maxwofford commented on #788
This issue was moved to hackclub/hackclub#890

[2016-08-09 20:45] #788 closed, assigned to maxwofford

[2016-08-10 01:32] selynna opened #789 "Refunds for Hack Campers"

[2016-08-10 18:33] maxwofford commented on #785
Closing in favor of working on things to prep for the school year.

[2016-08-10 18:33] #785 closed, assigned to maxwofford

[2016-08-10 18:38] maxwofford commented on #789
We've already refunded the applicants to Hack Camp session 4

[2016-08-10 19:03] selynna commented on #789
Session 3 people didn't get it

[2016-08-10 19:03] selynna commented on #789
A camper reached out to me about it yesterday

[2016-08-14 23:24] selynna commented on #789
@zachlatta status?

[2016-08-18 01:48] selynna commented on #789
Done

[2016-08-18 01:48] #789 closed, assigned to selynna

[2018-01-06 07:18] ifvictr opened #790 "Update website to clarify Hack Camp has been discontinued"
Since we don’t do Hack Camp anymore, we should say so on the old website. The reason for this is because people are still reaching out to ask about it and if they can participate.

Updated site should explain that:
- Hack Club is focusing its efforts on the main program, and direct to main website
- Hack Camp applications are now closed

[2018-01-07 23:18] #790 closed, assigned to nobody

[2018-12-09 09:24] lachlanjc opened #794 "Archive this repo?"
Will let @MaxWofford decide here since I wasn’t involved with this project.

[2018-12-09 19:40] maxwofford commented on #794
+1 for archiving. I'll do that right now, can you fix the page? https://hackclub.com/camp

[2018-12-09 19:40] #794 closed, assigned to nobody