[2015-05-18 06:18] jonleung opened #2 "Add Deadline to Website"

[2015-05-18 16:37] maxwofford commented on #2
Is this deadline for sign-ups?

[2015-05-18 16:53] zachlatta commented on #2
I think so

[2015-05-18 17:07] maxwofford commented on #2
I thought we were doing rolling admissions with no sign-up deadline @jonleung @zachlatta

[2015-05-18 18:33] zachlatta commented on #2
I think that was the original plan, but we decided to impose a deadline to drive applications now.

What if we did "deadline for June 1st cohort is this Saturday (then put the date)" or something like that?

[2015-05-19 05:34] #2 closed, assigned to nobody

[2015-05-19 16:48] jonleung opened #4 "Add Google Analytics"

[2015-05-19 19:37] #4 closed, assigned to nobody

[2015-05-21 18:27] jonleung opened #9 "Explicit about Transportation"
We should add something like "Transportation: Students are responsible for their own transportation to and from our San Francisco venue and to special field trips."

@zachlatta Please reword for unknown location.

[2015-05-21 18:59] zachlatta commented on #9
Have we been getting questions about this? Agreed we should probably add.

[2015-05-21 20:15] maxwofford opened #11 "Remove faq question"
All our questions are above the alumni projects area already, with 3 trailing questions in the faq.

[2015-05-21 20:52] maxwofford commented on #9
Do we have any field-trips explicitly planned, or should I keep this vague?

[2015-05-21 21:17] maxwofford commented on #11
Closing this because questions migrated to faq in #12

[2015-05-21 21:17] #11 closed, assigned to nobody

[2015-05-21 23:45] zachlatta commented on #9
Not explicitly yet. @jonleung---can you provide input here? You have a
much better idea of curriculum than I.

[2015-05-22 01:48] maxwofford commented on #9
Resolved inperson with @jonleung. Fieldtrips are cut.

[2015-05-22 01:48] #9 closed, assigned to maxwofford

[2015-05-22 23:03] zachlatta opened #14 "Fix date ranges to start on Mondays and end on Fridays"
Haven't checked the other date ranges yet, but I had a parent reach out to me to clarify July 6th - July 20th and whether the camp ends on Friday the 17th or Monday the 20th. I believe the other date ranges have this issues as well.

[2015-05-23 09:36] maxwofford commented on #14
They do, though the dates in #13 should be fixed.

[2015-05-23 18:09] zachlatta commented on #14
Hmm? It looks like June 15th - June 29th also has this issue.

![tmp](https://cloud.githubusercontent.com/assets/992248/7785246/24eb0260-013c-11e5-9baf-ad9930b7276b.png)

[2015-05-23 22:28] maxwofford commented on #14
@zachlatta Ah, thnx. Ignore the #13 for now. I'll update it to work with our sinatra branch.

[2015-05-23 22:40] zachlatta commented on #14
Sounds good.

[2015-05-23 23:47] jonleung opened #15 "Finalizing G Space"
The deadlines listed are hopeful:

Monday
- [x] Negotiate with R**\* to finalize contract with G********
- [x] Member Agreement Signed
- [ ] Memo of Understanding Sent (@zachlatta)
- [x] Members Onboarding

MVP Done June 1st
- [ ] Classroom Upgrading (they may continue to renovate after june 1st in the evenings)

[2015-05-24 00:23] maxwofford commented on #15
Is it effective to put this type of information here if we are going to redact it? Maybe the Finances repo would be better?

[2015-05-24 19:16] zachlatta commented on #15
Do we need to redact the information?

[2015-05-24 19:58] maxwofford commented on #15
We already have it public in our irc channel.

[2015-05-24 20:00] zachlatta commented on #15
Yeah--that's what I figure.

[2015-05-25 02:05] maxwofford commented on #14
#13 should be merged; it fixes a different issue. I hadn't realized this issue was about the form dates on the application page. It would be great if that could be clarified.

[2015-05-25 02:06] maxwofford commented on #14
#16 fixes this issue

[2015-05-25 04:31] zachlatta opened #20 "Not using Sinatra settings to store configuration"
Right now we're accessing the environment directly to get configuration, like so:

[code]

What we should be doing is:

[code]

[2015-05-25 05:12] #20 closed, assigned to nobody

[2015-05-25 05:17] jonleung opened #22 "It's not clear that it's M-F, 9:20 - 4:00pm (the m-f part is the most important)"
@MaxWofford  @zachlatta

[2015-05-25 05:19] jonleung opened #23 "Can you make it clear that we can't provide housing?"
Something along the lines of:
- we want to try our best to make hack camp great for anyone who comes
- right now it is not in our ability to provide housing

@MaxWofford @zachlatta

[2015-05-25 05:22] zachlatta commented on #23
Want to take lead on this?

[2015-05-25 05:26] jonleung opened #24 "Questions to add to the form"
Something along the lines of:

If you've coded before, can you briefly (3-5 sentences) talk about a project or anything that you've worked on and how it works? My objective is to get to know their coding ability.

Does your school have AP CS?
Have you taken AP CS at your school?

(Knowing if their school had AP cs lets us say we provided this experience to X number of people who wanted to learn to

[2015-05-25 15:22] #14 closed, assigned to nobody

[2015-05-25 15:48] maxwofford commented on #24
Don't we have their school already? Can't we look up access to CS class by their school?

EDIT: Grammar

[2015-05-25 16:02] maxwofford commented on #23
@jonleung I'd love to get feedback on the wording in 4d112c0

[2015-05-25 16:08] maxwofford commented on #24
@jonleung Asking people to talk about their past projects might be a scary thing for the ones who don't have any past code experience. Maybe this would be better as a mailmerge to only the ones who said they've coded before?

[2015-05-25 16:31] #22 closed, assigned to maxwofford

[2015-05-25 17:56] jonleung commented on #24
@MaxWofford perhaps we can make the question pop up ONLY if they've coded before. We can ask "Can you tell us about something you've coded before?"

[2015-05-25 18:02] maxwofford commented on #24
:+1: this

[2015-05-25 18:14] jonleung commented on #24
@zachlatta @MaxWofford can we have this up for this round of applications? (ie the ones that's open now?)

Rewording: "Can you briefly (3-5 sentences) tell us about something you've coded before and how it worked? Don't necessarily try to sound impressive, our goal is to admit beginners. We just want to know where you are so we can best meet your needs!"

[2015-05-25 18:32] jonleung commented on #24
@MaxWofford can we also add the questions: "In 2-3 sentences, why do you want to go to hack camp?"

[2015-05-25 18:47] maxwofford commented on #24
@jonleung Do you think it is worth the effort to have these questions? Such a long form may discourage people.

[2015-05-25 19:12] jonleung opened #29 "We need to figure out what insurance we need for the camp."

[2015-05-25 19:17] jonleung opened #30 "Exploring using Github or other tool that lets people easily contribute as PM system."
Willing to experiment with this current system first @zachlatta it feels a little bit difficult for people who are not the PM at the moment to contribute with the way things are currently lined up. Perhaps Org mode is analogous to my spreadsheets, it's where you do your own work but we need some public place like the spreadsheet where the PM is done. Definitely ask about this on your calls but I d

[2015-05-25 19:20] zachlatta commented on #30
Agreed. Will need to automate exports/making it easier for others to see
stuff. Going to see how others do it at other companies this week during
the calls.

[2015-05-25 20:36] zachlatta commented on #29
Insurance for whom? The students? What if we had them sign a liability form waiving liability?

[2015-05-25 22:14] jonleung commented on #23
We really wish we could accommodate out-of-state students with housing, but
unfortunately won't be able this first year.

?

[2015-05-25 22:15] maxwofford commented on #23
@jonleung I'm not sure how to respond to that question. Would you please elaborate?

[2015-05-25 22:15] jonleung commented on #24
Max, I agree, but I think it will be worth it for admitting students. What if we added a middle stage for the application process where we asked these questions? Seems pretty standard.

1) Round 1: General Information
2) Give us more info
3) Admit

@zachlatta  thoughts as well?

[2015-05-25 22:17] maxwofford commented on #24
We can def add this to the payment page @zachlatta

[2015-05-25 22:18] MaxWofford commented on #23
test @jonleung

[2015-05-25 22:18] MaxWofford commented on #23
test @jonleung

[2015-05-25 22:19] MaxWofford commented on #23
test @jonleung

[2015-05-25 22:19] jonleung commented on #23
Yo!

[2015-05-25 22:19] jonleung commented on #23
What are your thoughts on this phrasing @MaxWofford "We really wish we could accommodate out-of-state students with housing, but unfortunately won't be able this first year."

[2015-05-25 22:23] maxwofford commented on #23
:+1: Thanks @jonleung. Amended

[2015-05-26 20:52] jonleung opened #37 "Add beautiful pictures of Galvanize on main website."
@zachlatta @MaxWofford

[2015-05-27 05:18] jonleung opened #39 "Insurance"
We need to talk to these guys ASAP: https://www.insurancefornonprofits.org/ to figure out what kind of insurance we need to get!

[2015-05-27 05:53] jonleung opened #40 "Ask Students for Media Release and Health Forms"
http://cl.ly/322v0K23443h
http://cl.ly/2S2v0Q1m1k18
http://cl.ly/413X0q190c1w

[2015-05-27 23:40] jonleung opened #41 "Rolling Admissions"
People are currently expecting to know about application decisions within the next week or so, no matter what dates they said that they could go to (i.e. even if they signed up for late July).We need to make their expectations so that they know that they may not receive an admissions email until much later in the summer.

I've been talking to people on the phone a lot and they're expecting to know

[2015-05-28 00:47] andreadeng opened #42 "Order Breakfast"
cheerios
oatmeal
bananas
mandarins

[2015-05-28 00:47] andreadeng opened #43 "Supplies"
For brainstorming exercises
-post-its (large pack maybe of 10?)
-markers (2 packs of colored markers 12 pens each)

[2015-05-28 01:26] jonleung opened #44 "Schedule a call with Schoozilla guy for metrics"

[2015-05-28 17:06] jonleung opened #45 "Student Onboarding"
These are things to communicate with parents and students.

Make sure they both know this information (i.e. perhaps email them)
- [x] **Forms** SUNDAY
  - [x] Waiver
  - [x] Health Form
    - [x] Make sure this asks for allergies / food restrictions
  - [x] Media Release Form
- [x] **Send Information to Students**
      - [x] *_Link Pre-Program Questionnaire_ - ask @andreadeng
  - [x] **Times**

[2015-05-28 23:42] maxwofford commented on #42
@andreadeng Would you please add a more descriptive comment on this. It might help people volunteering to help hackEDU keep up to date with events if issues are easy to understand :)

[2015-05-28 23:43] maxwofford commented on #43
@andreadeng It would be awesome if this could have an explanation also.

[2015-05-28 23:49] andreadeng commented on #43
@jonleung FAILEDDDD at telling ppl he already ordered this

[2015-05-28 23:49] #43 closed, assigned to nobody

[2015-05-28 23:49] andreadeng commented on #42
@jonleung FAILED AGAINN LOL he ordered already

[2015-05-28 23:50] #42 closed, assigned to nobody

[2015-05-28 23:55] zachlatta commented on #44
With whom?

[2015-05-28 23:55] zachlatta commented on #44
As in with whom from the team?

[2015-05-29 00:02] maxwofford commented on #24
@jonleung was a conclusion reached on this in-person?

[2015-05-29 00:44] zachlatta commented on #24
I think we're just gonna find out this information from calls with applicants or add it to the application form.

[2015-05-29 02:52] #23 closed, assigned to maxwofford

[2015-05-29 02:54] zachlatta commented on #24
Closed by #28.

[2015-05-29 02:54] #24 closed, assigned to zachlatta

[2015-05-29 02:58] #41 closed, assigned to maxwofford

[2015-05-29 03:07] zachlatta commented on #39
Insurance for our employees? For our participants?

[2015-05-29 03:30] zachlatta commented on #37
I don't think @MaxWofford or I have the bandwidth to do this because
it'd require restructuring the website to allow for pictures.

Closing for now.

[2015-05-29 03:30] #37 closed, assigned to nobody

[2015-05-29 04:35] maxwofford commented on #37
@jonleung If you have 3-9 pictures in mind I have a div waiting for them.

[2015-05-30 01:34] jonleung opened #46 "Send An email acknowledging that we got someone's application immediately after they apply."
Whenever someone applies, automatically send them an email that's like, "Hey, we got your application, we're doing admissions on a rolling basis. We'll get back to you by at least 2 weeks before the cohort starts, let us know if you need to know earlier.

Please feel free to reach out for questions.

If it's helpful, it's easy to write a script in Google Scripts so that when you receive a form, it

[2015-05-31 01:26] zachlatta opened #47 "Automatically set up LiveReload with Cloud9"
Create a script that sets up LiveReload with Cloud9.

[2015-05-31 01:47] maxwofford commented on #47
Cloud9 can generate a workspace based on a github repo. Maybe have a script that adds itself to .bashrc on its first run, and pulls from github. That way we can include whatever we want in a repo and have students computers auto-update whenever they reload them.

[2015-05-31 01:53] maxwofford commented on #15
@jonleung Have there been any updates to this?

[2015-05-31 10:12] zachlatta commented on #15
Ping as well.

[2015-05-31 10:52] zachlatta commented on #45
Sent acceptance email with all this.

[2015-05-31 10:52] #45 closed, assigned to nobody

[2015-05-31 10:53] zachlatta commented on #45
Hmm, GitHub is having trouble checking off the checkboxes. Don't worry that they're not all checked off.
![recorded](https://cloud.githubusercontent.com/assets/992248/7901668/a9a9dc3a-0748-11e5-9b4c-4ddf1ae8c6af.gif)

[2015-05-31 17:14] jonleung commented on #15
Negotiations are basically done, I need to transfer venue ownership to someone else. I'm thinking @andreadeng

[2015-05-31 20:04] zachlatta commented on #15
I'm happy to take over this.

[2015-06-02 05:37] zachlatta opened #48 "Accept 6 applicants for cohort 2"
- 4 beginners, no coding experience
- 2 some experience, not finished a project

[2015-06-05 04:14] maxwofford opened #50 "Dynamically update application deadlines"
Probably @jonleung

[2015-06-05 04:53] maxwofford commented on #47
@zachlatta is this finished?

[2015-06-05 04:54] maxwofford commented on #15
@zachlatta @jonleung any updates on this?

[2015-06-05 04:55] zachlatta commented on #47
Still gotta add it to the repo, has some issues...

[2015-06-05 04:55] zachlatta commented on #47
(minor changes I need to make before adding it here)

[2015-06-05 04:55] maxwofford commented on #40
@jonleung @zachlatta If we've received these from our first cohort, let's close this.

[2015-06-05 04:55] #40 closed, assigned to zachlatta

[2015-06-05 04:56] zachlatta commented on #40
Good call.

[2015-06-05 04:56] zachlatta commented on #29
To my understanding, we don't need any. Closing for now.

[2015-06-05 04:56] #29 closed, assigned to nobody

[2015-06-05 04:57] maxwofford commented on #48
Oops, wrong button :V

[2015-06-05 04:57] jonleung commented on #15
@zachlatta, all you

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Thu, Jun 4, 2015 at 9:54 PM, Max Wofford notifications@github.com
wrote:

[2015-06-05 04:59] jonleung commented on #40
@andreadeng (ignore this now, this is for later), can you scan and document
these digitally in the Google Drive in a new folder?
ᐧ

[2015-06-05 05:01] zachlatta commented on #40
What if we actually did this in the Hack Camp folder in our Dropbox?
It'd be great if we could keep our Google Drive usage to a minimum
because it doesn't have a Linux client.

[2015-06-05 05:08] jonleung commented on #40
ᐧ

[2015-06-05 05:50] zachlatta commented on #40
Very insightful reply, @jonleung :-P.

[2015-06-05 11:02] jonleung commented on #40
Sounds good.

##

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

[2015-06-05 20:27] maxwofford opened #52 "exhilerating => exhilarating"

[2015-06-05 20:49] #52 closed, assigned to nobody

[2015-06-11 21:28] maxwofford commented on #39
@jonleung Any updates on this?

[2015-06-11 21:29] maxwofford commented on #48
@zachlatta Can we close this?

[2015-06-11 21:30] maxwofford commented on #15
Closing this due to inactivity. @jonleung @zachlatta

[2015-06-11 21:30] #15 closed, assigned to nobody

[2015-06-11 21:30] maxwofford commented on #47
@zachlatta Updates on this?

[2015-06-11 21:31] maxwofford commented on #30
@zachlatta Any updates on this?

[2015-06-11 23:44] zachlatta commented on #30
I believe we figured this out offline. Closing for now, reopen if any objections.

[2015-06-11 23:44] #30 closed, assigned to nobody

[2015-06-12 02:02] jonleung commented on #39
No? I thought we needed insurance for the things. I thought you did
research on this and said we didn't @zachlatta?
ᐧ

[2015-06-12 03:07] zachlatta commented on #39
We only need insurance for directors and officers, which we can get later.

[2015-06-12 03:07] #39 closed, assigned to nobody

[2015-06-12 03:49] jonleung commented on #39
@zachlatta, when's later?
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Thu, Jun 11, 2015 at 8:07 PM, Zach Latta notifications@github.com
wrote:

[2015-06-12 04:02] zachlatta commented on #39
Probably once we have a board & officers set up. The only insurance we'd go after is for the directors and officers.

[2015-06-12 20:30] zachlatta opened #56 "Create MOU with Galvanize for venue"
Create a memo-of-understand with Galvanize and get both parties to sign it to confirm the venue in writing.

[2015-06-14 18:45] zachlatta commented on #48
Not yet - need to confirm that all is done for this.

[2015-06-15 15:51] zachlatta commented on #44
Is this still relevant?

[2015-06-15 15:51] zachlatta commented on #44
Closing for now due to lack of responses.

[2015-06-16 02:54] jonleung commented on #44
I don't know, you told me to make an issue to ask him about how to do metrics!

[2015-06-16 17:34] jonleung opened #57 "Planning experience curriculum for Cohort2"

[2015-06-16 17:44] maxwofford commented on #44
@jonleung @zachlatta Let's leave this closed until there is an actionable objective to the issue. We'll still get notifications of comments on closed issues.

[2015-06-16 17:44] #44 closed, assigned to zachlatta

[2015-06-16 17:54] zachlatta commented on #44
@jonleung who should the call with him be with? You? Me? Max? Andrea?

[2015-06-16 18:14] andreadeng opened #58 "Write up Cohort 1 Andrea energizers"

[2015-06-16 18:15] andreadeng opened #59 "Setup formula for growth/grit questionarres"

[2015-06-16 18:24] maxwofford commented on #59
@andreadeng Just curious, is this for Hack Camp cohort 2?

[2015-06-16 18:27] jonleung commented on #57
Closed because it was not specific enough

[2015-06-16 18:28] zachlatta commented on #57
Did you mean to reopen this?

[2015-06-16 18:29] jonleung opened #60 "Create list of tasks to build curriculum for Cohort 2"
Go through feedback/reflect on cohort 1 and create a list of tasks to do this week to build the curriculum for our second cohort.

Will need to work with @MaxWofford and @andreadeng synchronously doing.

[2015-06-16 18:30] maxwofford commented on #60
@jonleung Doesn't this already exist? https://github.com/hackedu/hack-camp/issues/57

[2015-06-16 18:30] #57 closed, assigned to nobody

[2015-06-16 18:43] zachlatta commented on #56
@jonleung I need you to send me a list of everything they've agreed to give us (with dates).

[2015-06-17 01:14] andreadeng opened #61 "Finalize Cohort 2 Schedule (non-coding parts)"
- [x] Allocate days for each energizer
- [x] Allocate days for student led energizers
- [x] Ensure that there are enough breaks built in
- [x] For w2d1, start having students try to run he energizers
- [x] Allocate start and end times for
  - [x] standups at 9am for 10 minutes
  - [x] camp itself
  - [x] breakfast
  - [x] lunch
  - [x] breaks (including a longer break)
  - [x] review time after cl

[2015-06-17 01:49] andreadeng opened #62 "Email Cohort 2 students about July 3rd (friday) being federal holiday and that we're running a third week"
Ask students if they can make the day.

[2015-06-17 02:45] maxwofford commented on #60
@jonleung Can I close this?

[2015-06-17 02:46] maxwofford opened #63 "Bring in card & board games from home"

[2015-06-17 02:49] maxwofford opened #64 "Create personal notes folder for next cohort"
A folder where we can put our personal notes and observations from cohort 2.

[2015-06-17 15:48] andreadeng opened #65 "Test out camera and recording location in classroom"

[2015-06-17 15:50] andreadeng opened #66 "Create cohort 2 metrics"
- [x] Attendance Sheet - add names
- [x] Pre Program Survey (first time they take "Camp Questionarre")
  - [x] Add the questions to get a sense of where someone is before they enter
    - "List the programming languages have you used before?"
    - "If you have worked with code before, briefly describe one of the most difficult projects that you've worked on and how it was technically implmeented"

[2015-06-17 15:50] andreadeng opened #67 "Research Energizers"
research for more energizers through transformative institute and improv website

[2015-06-17 15:52] andreadeng opened #68 "Create a system to remember to videotape throughout camp"
- [ ] Make sure you are prepared to record all the energizers
- [ ] Make sure you are prepared to record all the video lectures.

[2015-06-17 15:57] maxwofford commented on #60
These were added as issues for each person it involved.

[2015-06-17 16:04] jonleung opened #69 "Create document that has schedule for technical curriculum"
- [ ] First, outline all of the things that needs to be covered, the requirements!

Outline flow of new technical curriculum such that every day has...
- an objective
- a vehicle
- concepts covered
- what is shipped at the end of each day
  - presentation?
  - github website?

Strategy: focus on breadth, not depth!

w1d1
- shout
- mention coldcalling
- github

w2d1
- A letter to yourself

[2015-06-17 16:06] jonleung opened #70 "Ashley"
- read q
- read thorough own notes
- Look through GWC
- funcs
- you have lots if project time
- testing knowledge
- training how?
- idea of tutting everything
- lack of motivation in beginning

[2015-06-17 16:06] #58 closed, assigned to nobody

[2015-06-17 16:06] #61 closed, assigned to nobody

[2015-06-17 16:07] #60 closed, assigned to nobody

[2015-06-17 16:12] #70 closed, assigned to nobody

[2015-06-17 16:13] maxwofford commented on #70
This is a duplicate of https://github.com/hackedu/hackedu/issues/29

[2015-06-17 16:16] maxwofford commented on #62
Ask participants over email if they can show up that day.

[2015-06-17 16:24] maxwofford commented on #68
Where system is a reoccurring email, daily schedule, etc.

[2015-06-17 17:13] jonleung opened #71 "Order breakfast items on instacart for Cohort 2"

[2015-06-17 17:59] zachlatta opened #72 "Change header picture to one taken at the camp"
![hack-camp-website-mockup](https://cloud.githubusercontent.com/assets/992248/8214673/a44b54c2-14df-11e5-9d05-a434439ed2c7.png)

Thoughts on changing that header background image to the following?

![11391491_1612127925694680_7715844144696665944_n](https://cloud.githubusercontent.com/assets/992248/8214701/cfac2c40-14df-11e5-8685-bfcd9c5a4229.jpg)

_Hold off on this for now, waiting on getting a hi

[2015-06-17 18:35] zachlatta commented on #72
Never mind – a higher res version doesn't exist.

[2015-06-17 18:35] #72 closed, assigned to nobody

[2015-06-17 19:08] zachlatta commented on #48
Okay three are paid, two we are yet to confirm, need to call and accept one more.

[2015-06-17 20:05] maxwofford commented on #64
@jonleung @andreadeng @zachlatta Notes can now be added on the `notes` branch of hack-camp

[2015-06-17 21:13] zachlatta commented on #48
Called and accepted one more. Deadline is noon tomorrow for the others.

[2015-06-17 21:54] andreadeng opened #73 "Create self-efficacy test for metrics"

[2015-06-17 21:59] jonleung opened #74 "Write Ashley a rough draft of our curriculum for Cohort 2"

[2015-06-18 04:23] jonleung opened #75 "Create and write descriptions Cohort 2 tasks generated in the brainstorming session"
For the below tasks

https://gist.github.com/jonleung/e79e1de50a0724bf3337

1) Make sure that they're not already tasks in the Kanban
2) If they are not already a task, create the task and make the description human readable such that anyone in the organizaiton would be able to complete it.

[2015-06-18 16:25] zachlatta commented on #71
Don't do oatmeal.

[2015-06-18 16:31] zachlatta commented on #75
Closing for now for @MaxWofford.

[2015-06-18 16:31] #75 closed, assigned to nobody

[2015-06-18 20:14] jonleung opened #76 "Create HTML examples for cohort 2"
1.  [ ] Figure out what main phaser-like examples should be (note this is not necessarily to create them but they can be found as well). Each example should be very small and only focus on a very specific concept and one and only one concept. Also, there should be many examples to illustrate a wide variety of concepts. For HTML for example:
   a. w3 school examples
   b. css tricks
2.  [ ] Outline

[2015-06-18 20:14] jonleung opened #77 "Create CSS examples for cohort 2"
1.  [ ] Figure out what main phaser-like examples should be (note this is not necessarily to create them but they can be found as well). Each example should be very small and only focus on a very specific concept and one and only one concept. Also, there should be many examples to illustrate a wide variety of concepts. For CSS for example:
   a. w3 school examples
   b. css tricks
2.  [ ] Outline

[2015-06-18 20:15] jonleung opened #78 "Create Javascript examples for cohort 2"
1.  [ ] Figure out what main phaser-like examples should be (note this is not necessarily to create them but they can be found as well). Each example should be very small and only focus on a very specific concept and one and only one concept. Also, there should be many examples to illustrate a wide variety of concepts.
2.  [ ] Outline the examples you are planning on making and review your potenti

[2015-06-18 20:20] jonleung opened #79 "Create Dom Manipulation in javascript examples for cohort 2"
1.  [ ] Figure out what main phaser-like examples should be (note this is not necessarily to create them but they can be found as well). Each example should be very small and only focus on a very specific concept and one and only one concept. Also, there should be many examples to illustrate a wide variety of concepts.
2.  [ ] Outline the examples you are planning on making and review your potenti

[2015-06-18 20:58] jonleung opened #80 "Create day to day curriculum timeline for three weeks"
Create a bullet point list of topics covered and deliverables for each day for the course of the three weeks.

[2015-06-18 21:05] jonleung opened #81 "Bullet point guidelines for running kinesthetic exercises."

[2015-06-18 21:07] jonleung opened #82 "Maestro bootstrap template"
starting point for maestro projects

[2015-06-18 21:07] jonleung opened #83 "Phaser bootstrap template"
starting point for phaser projects
- See Zed Shaw's python template.

[2015-06-19 00:48] maxwofford commented on #71
@jonleung @zachlatta Do we have instacart credit?

[2015-06-19 00:49] maxwofford commented on #80
@jonleung Maybe this should only be for 2 weeks, and we let them explore on the last week?

[2015-06-19 06:42] zachlatta commented on #48
Gotta tell people who didn't confirm yet that they lost their spots and then send an email accepting Sam.

[2015-06-19 16:12] andreadeng commented on #80
this is a duplicate of #69. Closing.

[2015-06-19 16:12] #80 closed, assigned to nobody

[2015-06-19 16:39] andreadeng opened #84 "Plan brainstorming session for what needs to happen to set up labs program"

[2015-06-19 16:42] andreadeng opened #85 "Plan brainstorming session for what needs to happen to get generic "club things" in box"
There are many things that _any_ successful club needs to do, like have good recruitment and fundraising, that we're not currently accounting for at all in the club-in-a-box.

Plan a brainstorming session to brainstorm what things we need to include to account for these generic "club things". Perhaps bring existing club leaders and leaders of successful clubs (even if not coding) into the discussi

[2015-06-19 17:07] jonleung commented on #83
@zachlatta, hit me up before you start working on this so we can talk requirements so that the template is something we actually use. Thanks!

[2015-06-19 17:10] jonleung commented on #71
We do not have instacart credit @maxwofford
ᐧ

[2015-06-19 19:55] zachlatta opened #87 "Incorrect title on applicant page"
Pretty sure this was caused by 1db0e2b4839cdac1598747f95dddf9a9b1dc2269.

![tmp](https://cloud.githubusercontent.com/assets/992248/8261829/6dc86878-1682-11e5-8389-5a94a5e6e16a.png)

Notice how the title of the page is `expression` when it should be `Hack Camp by hackEDU`.

[2015-06-20 01:30] zachlatta opened #88 "Accept applicants for cohort 3"
Third cohort will be taking place from July 13th - July 24th.

@jonleung how many people should we accept for this?

[2015-06-20 01:42] maxwofford opened #89 "One Month accounts for Max"
@jonleung I'd really like to get access to their curriculum and see how they teach. This could be good for Hack Camp's modular labs model.

[2015-06-21 23:33] zachlatta commented on #64
Does it make sense to have these in a branch and not in a directory?

[2015-06-21 23:56] maxwofford commented on #64
@zachlatta fixed in #90

[2015-06-22 15:22] zachlatta commented on #48
Ended up only accepting 5.

[2015-06-22 15:32] zachlatta commented on #76
@MaxWofford can you say which repo this was moved to and close it?

[2015-06-22 15:32] zachlatta commented on #77
@MaxWofford can you say which repo this was moved to and close it?

[2015-06-22 15:32] zachlatta commented on #78
@MaxWofford can you say which repo this was moved to and close it?

[2015-06-22 15:37] zachlatta opened #91 "Accept people for cohort 3"
The time to accept cohort 3 has come!

Acceptance process:
1. Identify people to accept (@jonleung needs to provide criteria/hacker breakdown he wants)
2. Give every accepted person a call letting them know that we'd like to accept them to Hack Camp and telling them that we'll send an email with more information. Don't worry about asking them about financial aid, we already know who needs it and w

[2015-06-22 15:39] #48 closed, assigned to zachlatta

[2015-06-22 15:39] #71 closed, assigned to nobody

[2015-06-23 03:59] jonleung commented on #69
We realized that we don't have enough time to write the detailed schedule for every day (we will do the day to day just in time). Tuesday (tomorrow) has been planned, wednesday will be started soon (a little bit will be started tonight) and Thursday and subsequent days will be done later. Here is the [potential plan](https://docs.google.com/spreadsheets/d/1x_3Bh3LqjKSpDTQb8sr2alhsORp-su2oKxS9zKEPQ

[2015-06-23 04:00] jonleung commented on #65
Just ordered the proper batteries to get the camera to work properly, waiting for it to arrive tomorrow evening.

[2015-06-23 04:55] jonleung opened #92 "Create, find, or aggregate HTML & CSS concepts for day 1 and day 2."

[2015-06-23 05:04] jonleung opened #93 "Cohort 2 w1d2: Create HTML "Do Now""
Create a review exercise <15 minutes that reviews what they learned about HTML + CSS
- Make it look like X
- Use the following things:
  - have a class

[2015-06-23 05:07] jonleung opened #94 "Cohort 2 w1d2: Create CSS Presentation"
- [ ] New HTML Content:
  - [ ] introduce box-model
  - [ ] display: inline, block, and inline-block

[2015-06-23 05:08] jonleung opened #95 "Cohort 2 w2d2: Aggregate at least 3 websites that hackers are able to copy"

[2015-06-23 05:13] jonleung opened #96 "Cohort 2 w1d2: Prepare for second half of the afteroon"

[2015-06-23 05:23] jonleung opened #97 "Cohort 2 w1d2: Review during standup"
#93
#94
#95
#96

[2015-06-23 05:23] jonleung commented on #97
Closed because I decided against creating this issue.

[2015-06-23 05:23] #97 closed, assigned to nobody

[2015-06-23 05:37] jonleung opened #98 "Create student facing outline for the entirety of Hack Camp"

[2015-06-23 05:50] jonleung commented on #92
Decided not to do this because bandwidth

[2015-06-23 05:50] #92 closed, assigned to nobody

[2015-06-23 07:32] maxwofford commented on #76
transfered to hackedu/cohort-2-curriculum

[2015-06-23 07:32] maxwofford commented on #77
issue transfered to hackedu/cohort-2-curriculum

[2015-06-23 09:08] maxwofford commented on #96
Completed by https://github.com/hackedu/cohort-2-curriculum/pull/22

[2015-06-23 09:08] maxwofford commented on #78
This was moved to https://github.com/hackedu/cohort-2-curriculum/

[2015-06-23 15:36] #95 closed, assigned to nobody

[2015-06-23 15:36] #94 closed, assigned to nobody

[2015-06-23 15:37] #78 closed, assigned to maxwofford

[2015-06-23 15:37] #77 closed, assigned to maxwofford

[2015-06-23 15:37] #76 closed, assigned to maxwofford

[2015-06-23 15:38] #96 closed, assigned to maxwofford

[2015-06-23 15:39] #93 closed, assigned to nobody

[2015-06-23 15:40] #69 closed, assigned to nobody

[2015-06-23 15:40] #66 closed, assigned to nobody

[2015-06-23 15:40] #74 closed, assigned to nobody

[2015-06-23 15:40] #63 closed, assigned to maxwofford

[2015-06-23 15:47] maxwofford commented on #82
Max correspond with @zachlatta

[2015-06-23 16:29] zachlatta commented on #69
@MaxWofford – is this level of detail good for your needs? If not, we
can work together as a team to make sure everyone's needs are met.

[2015-06-23 16:35] zachlatta commented on #92
Does that warrant closing the issue? Perhaps someone else could take it?

[2015-06-23 16:36] zachlatta commented on #95
Where's the deliverable for this?

[2015-06-23 16:36] zachlatta commented on #94
Where's the deliverable for this?

[2015-06-23 16:37] zachlatta commented on #93
Where's the deliverable for this?

[2015-06-23 19:08] jonleung opened #99 "Create Teacher Cheat Sheet"
This is reinforced based on the conversation with the MB teacher as well.
## v2
- [ ] video demos of each concept

Examples:

Teacher Pro Tips
- Predicting timing
- Any synchronous things:
  - Build things from the perspective from the student
  - If you hit concepts that need to be reinforced, cold call on the person to tell you what the concept is
  - Cold calling during this process to keep eng

[2015-06-23 19:11] zachlatta commented on #99
Can you include a few more details in this issue?

[2015-06-23 19:38] jonleung commented on #99
@zachlatta, added some more details

[2015-06-23 19:39] zachlatta commented on #99
Who's "the MB teacher"?

I still don't quite understand what this issue is about.

[2015-06-23 19:48] jonleung opened #100 "Cohort 2 w1d2: Add a self report component on their understanding of HTML + CSS"

[2015-06-23 19:52] jonleung commented on #62
@zachlatta Is there a signup or some way for them to acknowledge that they are coming or not?

[2015-06-24 04:08] maxwofford opened #101 "Day 3 Hack Camp schedule + curriculum"
Create modules for day 3 curriculum of Hack Camp. This includes schedule + curriculum + metrics.
- [x] Pencil code lesson
- [x] Day 3 schedule
- [ ] Metrics and data collection
- [ ] Daily checklist for Hack Camp
- [ ] Add to Github
- [ ] Creat Metrics

[2015-06-24 15:34] jonleung opened #102 "Have students fill out hack camp availability form for July 3 and 3rd week."

[2015-06-24 15:37] jonleung commented on #88
@zachlatta lets discuss at meeting today!

[2015-06-24 15:39] jonleung commented on #98
https://docs.google.com/spreadsheets/d/1x_3Bh3LqjKSpDTQb8sr2alhsORp-su2oKxS9zKEPQWU/edit#gid=1956850792

[2015-06-24 15:43] jonleung opened #103 "Create feedback form for day 3 objectives."
Link to day 3 objectives
https://scratch.hackedu.us/p/aweijaew

[2015-06-24 19:19] zachlatta commented on #103
Any chance we could put that directly in the issue? Remember that our scratchpad is ephemeral and can be deleted at any time :-).

[2015-06-24 19:20] zachlatta commented on #88
Can you make sure to schedule this? I don't see anything on my calendar.

[2015-06-24 21:21] zachlatta commented on #102
When should send out the email for #62?

[2015-06-24 21:29] zachlatta commented on #101
Should we go ahead and close this now that day 3 is upon us?

[2015-06-24 22:13] zachlatta commented on #62
@jonleung we can make a Google Form asking if they can't make it (so we'll only collect info from people who can't) or something along those lines.

[2015-06-24 22:15] zachlatta opened #104 "Creating a cohort-2 tag."
Thoughts on creating an issue tag for `cohort-2`? Or perhaps we could make a milestone?

[2015-06-25 00:57] andreadeng commented on #91
@jonleung can you comment with types of people you want to accept for cohort 3?

[2015-06-25 03:56] maxwofford opened #106 "Tell => Share in day-to-day feedback form"
@andreadeng: A suggestion by @zachlatta was to change this in this feedback form:

`Anything else you would like to tell us?` => `Is there anything else you would like to share with us?`

[2015-06-25 03:58] zachlatta commented on #106
Indeed I did!

[2015-06-25 15:38] #100 closed, assigned to nobody

[2015-06-25 15:38] #101 closed, assigned to nobody

[2015-06-25 15:38] #103 closed, assigned to nobody

[2015-06-25 15:43] jonleung opened #107 "Add questions to day 4 feedback form to test whether students have met the day's objectives."

[2015-06-25 15:48] jonleung opened #108 "Make Agar and Breakout for day 4."
1. See whether it is viable to build game in Pencilcode.
2. If not, build it in Scratch.

[2015-06-25 17:13] zachlatta commented on #108
What's the deliverable for this issue?

[2015-06-25 17:13] zachlatta commented on #107
What are the day's objectives?

[2015-06-25 17:17] zachlatta commented on #101
Was this completed? Or did we just close it because day 3 passed?

[2015-06-25 17:17] zachlatta commented on #100
What was the deliverable for this?

[2015-06-25 17:18] zachlatta commented on #104
We discussed this offline and decided to go ahead and create a tag.

/cc @jonleung @MaxWofford @andreadeng

[2015-06-25 17:18] zachlatta commented on #104
Alright, created a `cohort-2` tag.

[2015-06-25 17:18] #104 closed, assigned to nobody

[2015-06-25 17:19] zachlatta commented on #102
Ping.

[2015-06-25 17:20] zachlatta commented on #99
Ping.

[2015-06-25 17:20] zachlatta commented on #98
What's the status on this?

[2015-06-25 17:21] zachlatta commented on #91
@jonleung ping, would be great to move on this ASAP!

[2015-06-25 17:22] zachlatta commented on #83
Is this still needed?

[2015-06-25 17:22] zachlatta commented on #82
Is this still needed?

[2015-06-25 17:22] zachlatta commented on #81
Is this still needed?

[2015-06-25 17:22] zachlatta commented on #79
Is this still needed?

[2015-06-25 17:23] zachlatta commented on #73
Is this still needed?

[2015-06-25 17:23] zachlatta commented on #68
Is this still needed?

[2015-06-25 17:23] zachlatta commented on #67
Is this still needed?

[2015-06-25 17:24] zachlatta commented on #65
Status on this?

[2015-06-25 17:24] zachlatta commented on #64
Closed by #90.

[2015-06-25 17:24] #64 closed, assigned to maxwofford

[2015-06-25 17:25] zachlatta commented on #62
@jonleung ping for #102.

[2015-06-25 17:25] zachlatta commented on #59
Ping?

[2015-06-26 07:48] maxwofford commented on #108
Agar and breakout are not viable for Pencilcode.

If someone is at the level they can build agar in scratch, they should probably be doing agar/breakout in canvas. Can we close this?

[2015-06-26 15:31] #102 closed, assigned to nobody

[2015-06-26 15:31] #106 closed, assigned to nobody

[2015-06-26 15:32] jonleung commented on #108
Yes @MaxWofford

[2015-06-26 15:32] #108 closed, assigned to nobody

[2015-06-26 15:33] jonleung commented on #91
@zachlatta @andreadeng  https://docs.google.com/spreadsheets/d/1HrEIzm76U9RaQvVpNvSPocfmbbC22nxQnYSWsTs4zrw/edit#gid=0

[2015-06-26 15:34] jonleung commented on #91
As discussed in standups @andreadeng is currently blocking on @zachlatta for
- [x] Links for payments for each of the 10 students
- [ ] An updated acceptance packet

[2015-06-26 15:35] jonleung opened #109 "Zach, send cohort 3 acceptance materials to Andrea"
- [x] Links for payments for each of the 10 students
- [x] An updated acceptance packet

[2015-06-26 15:37] jonleung opened #110 "Create Cohort 2 day 5 feedback form"

[2015-06-26 15:40] jonleung commented on #62
@zachlatta, @andreadeng can help with this. Thoughts?

[2015-06-26 15:40] jonleung commented on #62
@andreadeng already made a survey for this

[2015-06-26 15:43] jonleung commented on #88
Closing because it is a duplicate of the active task #91

[2015-06-26 15:43] #88 closed, assigned to nobody

[2015-06-26 15:44] jonleung opened #111 "Cohort 2 w1d5: Create HTML CSS Do Now"
15 minute max

[2015-06-26 15:47] jonleung opened #112 "Cohort 2 w1d4: Obtain missing student work from w1d4"
I believe that some of the projects we collected in the spreadsheet for student work do not contain all of the students projects.

[2015-06-26 15:48] jonleung opened #113 "Cohort 2 w1d5: Add question to obtain student work on feedback form"
Include a link to the non-anonymous student work feedback form.

[2015-06-26 15:49] jonleung opened #114 "Cohort 2 w1d5: Outline schedule and objectives the Daily Schedule document + a .md file"

[2015-06-26 15:50] jonleung commented on #111
Sync up with @jonleung for this.

[2015-06-28 20:24] jonleung opened #115 "Acquire CodeHS accounts for each student at hack camp's cohorts 1, 2, 3, and 4"
Total ~== 35 accounts.

Can we also give us teacher accounts as well to view their progress?

Thanks!

[2015-06-28 21:19] jonleung opened #116 "Write up something that helps us make and use modules +@jonleung +@maxwofford"
We're not entirely sure how we might do this so we deliberately kept it vague.

[2015-06-28 21:20] jonleung opened #117 "Create chronological outline that indicates when / how soon modules may be used"

[2015-06-28 21:20] jonleung opened #118 "Make / Find everything that we need for monday"
- [x] Transfer my personal notes to markdown
- [x] Sync up with Max on Maestro

[2015-06-28 21:31] jonleung opened #119 "Potential Improvements to Metrics"
Review camp satisfaction scale in daily metrics form
@MaxWofford potentially suggests changing the legend
@jonleung potentially suggests changing the the legend and the scale

For Submission of Work, it would be great if we could include a self assessment which could contain something like this (the below is a really rough idea and seems a bit long...) @jonleung
- What are some things that you tho

[2015-06-28 21:42] jonleung opened #120 "Create a do's and don'ts list for facillitators"
- Don't
  - Hover
- Do
  - Encourage students, google, to ask each other for help
  - Partnering on Projects
  - Projects
  - Walk people through baby projects before larger ones

[2015-06-29 01:23] jonleung opened #121 "Acquire TreeHouse accounts for each student at hack camp's cohorts 1, 2, 3, and 4"

[2015-06-29 03:48] jonleung opened #122 "Rescheduling Deep Feedback + Kudos to Thursday?"
Jonathan will be gone Friday the 3rd, @zachlatta, can you take lead on rescheduling them, perhaps to Thursday the 2nd?

[2015-06-29 03:56] jonleung opened #123 "Write draft MVP objectives for Hack Camp + Cohorts 2, 3, 4"
Submit a PR to https://github.com/hackedu/hack-camp/tree/hack-camp-objectives

Also as a note for Jonathan, think about how the team may work while you are gone for preparation of cohort 3.
# Consider the the below notes as personal to Jonathan (not for public consumption)

The atmosphere and attitude we take to learning how to do things is critically important
- [ ] Openness to feedback => Iterat

[2015-06-29 04:02] jonleung commented on #111
@MaxWofford closing because it is no longer relevant

[2015-06-29 04:02] #111 closed, assigned to maxwofford

[2015-06-29 04:05] jonleung commented on #65
@zachlatta I moved this to the ice box because it is no longer that relevant to record things from this cohort because our focus is more on creating great curriculum, not about documenting it.

[2015-06-29 04:08] jonleung commented on #89
@MaxWofford, I just PM-ed you the information on IRC

[2015-06-29 04:08] #89 closed, assigned to nobody

[2015-06-29 04:14] jonleung commented on #114
closed because it is no longer relevant

[2015-06-29 04:14] #114 closed, assigned to nobody

[2015-06-29 04:21] jonleung commented on #98
@zachlatta, This probably won't be finished in time for cohort 2. Moving as a task for cohort 3 in icebox

[2015-06-29 04:23] jonleung commented on #109
@zachlatta @andreadeng curious to what the status of this is?

[2015-06-29 04:29] jonleung commented on #47
@zachlatta updates on this?

[2015-06-29 04:52] jonleung opened #124 "Ask Galvanize for more space"
Cohort 3 is 10ppl + 3facillitators (_13_)
Cohort 4 is 14ppl + 3facillitators (_17_)

Our classroom fits 10 maximum.

I should have saw this coming initially, I didn't think we'd try to attempt getting such large cohort sizes + accounting for facilitator seats. I HAVE FAILED!

So, we need to talk to Ryan about getting a larger classroom in the basement. They have one that they rent out (occasionall

[2015-06-29 04:53] jonleung commented on #56
@zachlatta, see #124
- G4E space.

Other than that, I don't think anything else is too relevant?

[2015-06-29 04:54] jonleung commented on #62
@zachlatta  @andreadeng  what are the actionable things we need to do for this?

[2015-06-29 04:55] jonleung commented on #83
@zachlatta no, it is not, I we've decided not to do phaser this cohort

[2015-06-29 04:55] #83 closed, assigned to zachlatta

[2015-06-29 04:56] jonleung commented on #50
@MaxWofford closing because this no longer seems relevant

[2015-06-29 04:56] #50 closed, assigned to maxwofford

[2015-06-29 05:04] jonleung commented on #123
@zachlatta I unfortunately didn't have time to get to this this weekend. I have failed! I apologize for that.

[2015-06-29 05:04] jonleung commented on #123
I'll try to finish it tomorrow.

[2015-06-29 15:53] jonleung commented on #91
As discussed during standups, the next step is to identify who has already paid for @zachlatta to respond to @andreadeng's questions?

If people who did not respond, try calling them again.

[2015-06-29 18:36] jonleung opened #125 "Obtain more Twilio credits for Maestro"
EDIT:
Changed Edit => Obtain

[2015-06-29 20:22] zachlatta commented on #47
Just need to get to working on this, I'm a bit backlogged right now (ohgodemailswhy).

[2015-06-29 20:28] zachlatta commented on #125
Can you take lead on this? I believe you're the only person who knows Eva.

[2015-06-29 20:33] zachlatta commented on #122
@andreadeng has to leave early on Thursday. So it's either you or her that miss it. Thoughts?

[2015-06-29 20:34] zachlatta commented on #124
Yup, let's find a time today or tomorrow to chat about this. We should tackle this ASAP.

[2015-06-29 20:38] zachlatta commented on #123
Can we shoot to get this by tonight? Happy to work together on it. I
think it's really critical to have these clarified ASAP.

[2015-06-29 20:40] zachlatta commented on #62
I'd say that the issue's title is pretty actionable. Still waiting on you to respond to my question in #102.

[2015-06-29 20:43] zachlatta commented on #56
Still waiting on you to send me a list of everything they've agreed to give us with dates. These include the basement classroom area, key-fobs for everyone on the team, etc. #124 refers to how we need to ask them for more things. This issue is about creating an MOU for our current agreement.

If we're able to get more things from them for #124, then we can amend the MOU with any new agreements.

[2015-06-29 20:46] zachlatta commented on #109
All students have been registered on https://invite-camp.hackedu.us and I've sent @andreadeng the updated acceptance packet.

[2015-06-29 20:49] #109 closed, assigned to zachlatta

[2015-06-29 20:50] zachlatta commented on #98
Does it make sense to do this task for cohort 3?

[2015-06-29 20:51] zachlatta commented on #114
Why is it no longer relevant?

Can you be a bit more specific and say something like the following?

[2015-06-29 20:53] zachlatta commented on #65
Does it make sense to do this task? Perhaps we could close it and reopen it later if we find it makes sense to do it?

[2015-06-29 20:53] zachlatta commented on #111
Can you be a bit more specific when you say it's no longer relevant? Why is it no longer relevant?

[2015-06-29 20:54] zachlatta commented on #121
How many accounts do we need?

[2015-06-29 21:00] zachlatta opened #126 "Change payment deadline to Tuesday, June 30th at 8PM"
/cc @andreadeng

[2015-06-29 21:01] zachlatta opened #127 "Update "looking forward to seeing you" text"
Change "looking forward to seeing you on Monday (06/22)" to "looking forward to seeing you on Monday (07/13)"

[2015-06-29 21:35] zachlatta commented on #127
Whoops! This was closed by 38fa5ba6e340bcaa539098bb07f6c3f79032a8a0, but that didn't end up getting deployed.

[2015-06-29 21:35] #127 closed, assigned to zachlatta

[2015-06-29 21:46] #87 closed, assigned to zachlatta

[2015-06-29 21:46] #126 closed, assigned to zachlatta

[2015-06-29 22:06] zachlatta opened #129 "HTTP traffic is not redirected to HTTPS"

[2015-06-29 22:07] #129 closed, assigned to zachlatta

[2015-06-29 22:13] zachlatta commented on #120
Does it make sense to do this right now, given that we're not focused on documentation (yet)?

[2015-06-29 22:14] zachlatta commented on #119
This is nitpicky, but you've mentioned you'd like me to call you out on grammar things.

Do you mean to say "@MaxWofford suggests potentially changing the legend"?

[2015-06-29 22:16] zachlatta commented on #118
How's this going?

[2015-06-29 22:18] zachlatta commented on #117
Does it make sense to do this given we're not currently focusing on documentation?

[2015-06-29 22:19] zachlatta commented on #116
Instead of putting +@jonleung and +@MaxWofford, it may make more sense to just put `/cc @jonleung @MaxWofford` in the issue body. See https://guides.github.com/features/issues/ for more info.

[2015-06-29 22:26] zachlatta commented on #92
Ping.

[2015-06-29 22:28] zachlatta commented on #91
Can you clarify what you mean by "identify who has already paid for @zachlatta to respond to @andreadeng's questions?"

[2015-06-29 22:29] zachlatta commented on #102
Ping? Can you include a bit more info about why this issue was closed?

[2015-06-29 22:54] maxwofford opened #130 "Create template projects for maestro + documentation"
/cc @jonleung

[2015-06-29 23:29] zachlatta commented on #124
Alright, per our in-person discussion, we'll be asking Ryan for the "Mission Bay" room in the basement from July 13th to July 23rd (cohort 3) and for two weeks in August (we haven't confirmed the dates yet for cohort 4).

[2015-06-29 23:59] zachlatta commented on #115
Just sent them an email requesting this, waiting on response.

[2015-06-30 00:09] zachlatta commented on #115
Boom, and we're good. Sign up links:
- Cohort 1: https://codehs.com/go/F57E
- Cohort 2: https://codehs.com/go/82F8
- Cohort 3: https://codehs.com/go/AFC0
- Cohort 4: https://codehs.com/go/DCF1

Ping me on IRC when you have a chance and I can add you to the courses as a teacher.

[2015-06-30 00:10] jonleung commented on #115
Thanks!

On Monday, June 29, 2015, Zach Latta <notifications@github.com> wrote:

--

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

[2015-06-30 00:38] andreadeng opened #131 "send acceptance packet to cohort 3 students who paid"

[2015-06-30 03:51] jonleung commented on #124
@zachlatta just to keep you updated, Ryan was busy today and rescheduled tomorrow so I'll be asking him tomorrow.

[2015-06-30 03:53] jonleung opened #132 "Read emails for things related to CMK"

[2015-06-30 03:54] jonleung commented on #132
cloased because accidentally created

[2015-06-30 03:54] #132 closed, assigned to nobody

[2015-06-30 03:57] jonleung opened #133 "Create plan for students for Tuesday"
Needs to account for the fact that students don't want to just watch videos all day because it gets boring. Some ways around this is to primarily have people working on projects as their primary objective (one great thing about CodeHS's project deliverables is that it is very clear that it works or not).

[2015-06-30 03:58] jonleung commented on #130
Closed because this is a subset of #133

[2015-06-30 03:58] #130 closed, assigned to nobody

[2015-06-30 06:14] jonleung commented on #123
@zachlatta I think that it may not be high leverage for me to put this in an official written form (i.e. a PR) until we have the rough draft validated. Here is the rough draft:
https://workflowy.com/s/lVKtQ1Lkcr

[2015-06-30 15:28] jonleung opened #135 "Work with @maxwofford to create Problems and linked to Resources for the day."

[2015-06-30 15:30] jonleung opened #136 "Move Maestro Documentation inside the Hack Camp folder and update it"
- [ ] with the ruby like examples we need for the problems today
- [ ] with live JS bin examples

[2015-06-30 15:38] jonleung commented on #118
https://github.com/hackedu/cohort-2-curriculum/blob/master/modules/week_2_student_outline.md

[2015-06-30 15:41] #115 closed, assigned to zachlatta

[2015-06-30 15:43] #107 closed, assigned to nobody

[2015-06-30 15:44] andreadeng commented on #107
in the Google drive

[2015-06-30 15:50] jonleung commented on #136
We need to figure out if I or @MaxWofford will work on this

[2015-06-30 15:51] jonleung commented on #133
Closed because it is duplicate of #135

[2015-06-30 15:51] #133 closed, assigned to nobody

[2015-06-30 15:53] jonleung commented on #124
Woops, accidently closed it ^

[2015-06-30 15:55] jonleung commented on #122
@andreadeng @zachlatta we can do it Wed?

[2015-06-30 15:57] jonleung commented on #85
When is the latest that we can do this such that it is still actionable?

[2015-06-30 16:00] zachlatta commented on #131
During standups today we decided to put the progress on this straight in #131 and not it's own issue.

[2015-06-30 16:00] #131 closed, assigned to nobody

[2015-06-30 16:08] andreadeng commented on #110
in google drive
https://docs.google.com/a/berkeley.edu/forms/d/1UmYspe3VLLolH5pAIhWJDTKgoqfv3Pb-63pNk7a1rlM/edit

[2015-06-30 16:08] #110 closed, assigned to nobody

[2015-06-30 16:08] andreadeng commented on #113
in google drive
https://docs.google.com/a/berkeley.edu/forms/d/1UmYspe3VLLolH5pAIhWJDTKgoqfv3Pb-63pNk7a1rlM/edit

[2015-06-30 16:08] #113 closed, assigned to nobody

[2015-06-30 16:09] andreadeng commented on #119
in google drive
https://docs.google.com/a/berkeley.edu/forms/d/1luRx0021o0Hhnlp6FP3WwpyNjR7SIIF5GPtsBJPisNM/edit

[2015-06-30 16:09] #119 closed, assigned to nobody

[2015-06-30 18:09] zachlatta commented on #122
Wednesday seems pretty early in the week for this sort of reflection and
both you and I already have stuff scheduled ~5PM on Wednesday. What if
we just do it on Friday (and unfortunately won't have you in it)?

[2015-06-30 22:46] andreadeng opened #137 "Print tshirts for campers"

[2015-07-01 06:21] jonleung commented on #123
Updating: https://workflowy.com/s/lVKtQ1Lkcr#/c86cc2fa5a8f

[2015-07-01 06:22] jonleung commented on #122
@zachlatta that's fine

[2015-07-01 15:19] zachlatta commented on #122
As discussed in person with @jonleung last night, we won't be rescheduling these to Thursday and they'll happen on Friday as planned.

[2015-07-01 15:20] zachlatta commented on #122
Whoops, accidentally closed! Will review this during standups today.

[2015-07-01 15:27] jonleung commented on #123
@zachlatta Here is an updated version: https://gist.github.com/jonleung/495577313853034e0d4f

[2015-07-01 15:28] jonleung opened #138 "Rebase Hack Camp Objectives into PR"
Sync with @zachlatta or @MaxWofford  on how @jonleung might incorporate the hack camp objectives into the hack camp repo with rebase.

[2015-07-01 15:29] jonleung commented on #135
Deliverables: https://github.com/hackedu/cohort-2-curriculum/blob/master/modules/maestro/student-facing-documentation-on-self-paced-units.md

[2015-07-01 15:29] zachlatta commented on #138
Why do you need to rebase? What if you just delete the old branch and make a new one and commit on that?

[2015-07-01 15:32] jonleung commented on #136
Deliverables: https://github.com/hackedu/cohort-2-curriculum/blob/master/modules/maestro/student-facing-documentation-on-self-paced-units.md

[2015-07-01 15:33] jonleung commented on #124
Ryan isn't responding : /
Going to ping him again for a time to meetup today

[2015-07-01 15:34] jonleung commented on #124
Just messaged him

[2015-07-01 15:35] #122 closed, assigned to zachlatta

[2015-07-01 15:36] #135 closed, assigned to nobody

[2015-07-01 15:36] #136 closed, assigned to nobody

[2015-07-01 15:39] maxwofford commented on #123
As discussed during standups today, @zachlatta will iterate on this and incorporate it into #105.

[2015-07-01 15:41] jonleung commented on #62
@andreadeng can you sync up with @zachlatta on this (as discussed at standups)

[2015-07-01 15:43] jonleung commented on #56
Currently it's only the new classroom space to fit more people
& Our desk space at galvanize

[2015-07-01 15:44] #118 closed, assigned to nobody

[2015-07-01 15:49] jonleung opened #139 "Create a brainstorming session for how we want to re-integrate with our existing club leaders"
Currently our club leaders are going to proceed as they did last year. We want to change this to something else.

[2015-07-01 15:53] zachlatta commented on #56
Going to go ahead and assign you to this because I'm waiting on you to respond.

[2015-07-01 15:55] zachlatta commented on #117
As discussed during standups this morning, we agreed that this was no longer a high leverage activity and I'll close this.

[2015-07-01 15:55] #117 closed, assigned to maxwofford

[2015-07-01 15:55] jonleung commented on #56
@zachlatta I anticipate that this is just going to keep getting pushed back further and further and can only be done after you talk with Ryan about the new space

[2015-07-01 15:57] zachlatta commented on #137
Went ahead and assigned you to this because I'm feeling backlogged.

Happy to work with you to get this done – I know someone who can print t-shirts for cheap, just ping me on IRC.

[2015-07-01 16:01] zachlatta commented on #139
Going to go ahead and close this, as discussed this morning during standups. We'll eventually find a time to start working on club things for next semester.

[2015-07-01 16:01] #139 closed, assigned to nobody

[2015-07-01 16:34] maxwofford commented on #82
Web bootstrap is only relevant to hackers (in Hack Camp) on a case-by-case basis.

Maestro web bootstrap is at https://github.com/MaxWofford/maestro-bootstrap for cloning into c9.io

[2015-07-01 16:35] maxwofford commented on #82
My bad, clicked close on accident.

[2015-07-01 16:39] zachlatta commented on #124
Just sent Ryan an email – hopefully he'll get back soon.

[2015-07-01 18:16] zachlatta commented on #123
Alright – went ahead and incorporated your changes into #105 :-).

As discussed, we'll iterate on the objectives as needed.

[2015-07-01 18:36] zachlatta commented on #85
I've gone ahead and set a time on the 15th and been inviting select club leaders to it. Trying to go for people with a fair amount of experience.

Will move this to done once I have everyone confirmed.

[2015-07-01 18:40] zachlatta commented on #84
Went ahead and set a time on the 13th for this (check your emails for invites). I invited @jonleung and @MaxWofford. @andreadeng do you want to be in this as well?

[2015-07-01 18:46] zachlatta commented on #62
Assigning to @andreadeng while I wait for her to get back to me.

[2015-07-01 18:46] zachlatta commented on #62
Whoops, sorry @amandadoan!

[2015-07-01 20:02] maxwofford commented on #137
Happy to complete this @zachlatta & @andreadeng if someone pm's the contact info for the printer.

[2015-07-01 20:15] #47 closed, assigned to zachlatta

[2015-07-01 20:34] zachlatta commented on #47
Alright, it works!

The commit that closed this issue has the script itself. Here's a one-liner for installing and running the script (specifically from that commit, the script won't get the latest version):

[code]

[2015-07-01 22:38] zachlatta commented on #84
Alright, people are confirmed.

[2015-07-01 22:40] zachlatta commented on #85
Alright, people are confirmed.

Looking forward to seeing ya'll in it.

/cc @raphaelrk @amysorto @infinitebattery7 @jonleung

[2015-07-01 22:40] zachlatta commented on #124
Alright, he got back and looped a few others into the discussion. Will correspond with them and keep ya'll updated.

[2015-07-01 23:35] zachlatta commented on #137
`Tom Morrison <morrisonpro@earthlink.net>` is the printer I've previously used. He's in downtown SF. You'll have to email him directly or google for "Morrison Productions" and call to get in touch with him.

[The file I sent him last time we got shirts printed.](https://files.zenhub.io/559478d927ca35b74f68dc59)

Last time we had the logo 5 1/2 inches wide and with the following location on the shi

[2015-07-02 02:00] maxwofford commented on #125
@jonleung It would also be great if we could get auto-recharging accounts. It seems like we use twilio for quite a few projects we host.

[2015-07-02 02:20] maxwofford commented on #46
This seems to work when I tested it on my own form:

[code]

@andreadeng @jonleung What message would be good to send them?

[2015-07-02 03:44] jonleung commented on #46
ᐧ
@andreadeng, I'll defer to you!

[2015-07-02 03:56] jonleung commented on #125
@zachlatta @MaxWofford just an update that I just emailed Eva

[2015-07-02 04:09] jonleung commented on #85
@zachlatta, is there a calendar event for this?
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Wed, Jul 1, 2015 at 3:40 PM, Zach Latta notifications@github.com wrote:

[2015-07-02 04:11] jonleung commented on #84
@zachlatta, I'll be remote so can I join via http://partytime.hackedu.us (can
you add this to the calendar event)?
ᐧ

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

On Wed, Jul 1, 2015 at 3:38 PM, Zach Latta notifications@github.com wrote:

[2015-07-02 04:53] jonleung commented on #130
ᐧ
@maxwofford I think we got everything here yeah?

[2015-07-02 05:02] jonleung commented on #138
Closing because @zachlatta addressed this in #123,

[2015-07-02 05:02] #138 closed, assigned to nobody

[2015-07-02 05:03] jonleung commented on #112
Added the work here: https://docs.google.com/spreadsheets/d/1PnwXNa4vSjIe28RrG21VH7UZ_O2Qe-z0Vb7uC5oftYs/edit

[2015-07-02 05:03] jonleung commented on #112
Didn't mean to close ^

[2015-07-02 05:36] maxwofford commented on #130
@jonleung I think so.

[2015-07-02 15:41] #82 closed, assigned to maxwofford

[2015-07-02 15:43] #123 closed, assigned to zachlatta

[2015-07-02 15:44] #84 closed, assigned to zachlatta

[2015-07-02 15:44] #85 closed, assigned to zachlatta

[2015-07-02 15:44] #112 closed, assigned to nobody

[2015-07-02 15:46] jonleung commented on #91
Updates from Standups:
- 6 paid

[2015-07-02 16:16] jonleung commented on #62
Closing this issue because we asked who would be interested in a 3rd week and 2 students said they could make some and 1 person said they could make all. The task at hand is not to email them about the 3rd week but rather to decide whether we want to even run a 3rd week in this scenario. @zachlatta thoughts on specificity?

[2015-07-02 16:16] #62 closed, assigned to nobody

[2015-07-02 16:18] jonleung opened #143 "Schedule a discussion on who we want to run Cohort 4"

[2015-07-02 23:18] zachlatta commented on #85
Yup, check your email for an invite.

[2015-07-02 23:34] jonleung opened #146 "Fix connection issue for certain people's Shout accounts"
Students who had Shout accounts that work:
- Selyna (ssun)

Students who had Shout accounts that didn't work:
- Emily (ezhu)
- Matthew
- Sam

Screenshot for what it looks like if it doesn't work:
![](https://s3.amazonaws.com/f.cl.ly/items/0N1t370R1t2h1o1n0j1G/Image%202015-07-02%20at%204.16.00%20PM.png)

[2015-07-03 07:17] jonleung opened #147 "Tell Hack Camp applicant whether we want to accept or reject her."
Earlier today, an applicant called me and asked if there were any openings in subsequent cohorts. I told her that I was not in charge of admissions and that the person in charge of admissions would get back to. I'll let @andreadeng make the decision to admit her or not.  She says that either email or phone work for her (I would just text her if you want a faster response)

EDIT: Took out applicant

[2015-07-03 09:19] maxwofford commented on #147
@jonleung Not sure if we want applicant contact info to be public.

EDIT: For now, taking it out of the description and putting it in a pm over IRC to @andreadeng & @jonleung.

[2015-07-03 15:06] jonleung opened #148 "Collect end of cohort 2 metrics"
We need to make sure that we collect the the end of program metrics. There are 2 forms:
- [ ] the Pre-Program Growth Mindset / Grit Questionnaire [here is a link to the form we have been using for Cohort 1 & Cohort 2](https://docs.google.com/forms/d/1OmBQ3rS6VtMH_5jc4FR01SQ_0Je5NI64q5rNEHOGtlk/edit) (no modification required)
- [ ] Here is the Post Program Questionaire [here is a link to the  form

[2015-07-03 15:36] maxwofford commented on #137
@zachlatta, would you please review the copy I send via IRC?

[2015-07-03 17:32] Jarred-Sumner commented on #137
oh that's why i got an email about this

[2015-07-03 19:46] jonleung commented on #147
:+1:

[2015-07-03 20:24] jonleung opened #149 "Acquire CodeHS beta content"
@zachlatta, as discussed during our one on one on the roof top, can you inquire about CodeHS's beta content ASAP (this could be game changing for our curriculum)? I'm not sure if it is public what they're beta content is so I'll PM you the specific. Thanks!

[2015-07-06 05:00] zachlatta opened #150 "Hack Camp logo"
What if we created a simple logo for Hack Camp? Would be nice to have something pretty to put into the readme.

Thoughts?

/cc @hackedu/hack-camp @andreadeng

[2015-07-06 05:48] zachlatta commented on #148
@andreadeng did we ever end up collecting the growth mindset / grit questionnaire?

[2015-07-06 06:05] zachlatta commented on #125
Any updates on this?

[2015-07-06 06:06] zachlatta commented on #125
Also, heads up, you don't need to worry about specifying your edits to the title. GitHub automatically keeps and shows a changelog.

[2015-07-06 08:47] maxwofford commented on #150
Should I hold off on shirts for the time being so we can have the Hack Camp logo on them?

[2015-07-06 15:41] zachlatta commented on #137
Responded with feedback!

[2015-07-06 16:18] zachlatta commented on #150
Yeah – hold off right now. @andreadeng what are your thoughts on
creating a logo for Hack Camp?

[2015-07-06 16:48] Jarred-Sumner commented on #137
💩
On Mon, Jul 6, 2015 at 8:41 AM Zach Latta notifications@github.com wrote:

[2015-07-06 23:59] zachlatta opened #151 "Order breakfast for cohort 3"

[2015-07-06 23:59] zachlatta opened #152 "Email hackers to make sure everyone brings their own lunch"

[2015-07-07 00:00] zachlatta opened #153 "Create logo for Hack Camp"

[2015-07-07 00:00] zachlatta opened #154 "Plan end of summer Demo Day"

[2015-07-07 00:01] zachlatta opened #155 "Order Hack Camp stickers"
Waiting on #150 before this can happen. Once you've completed #150, @andreadeng can you make a sticker-ready logo?

[2015-07-07 00:03] zachlatta opened #156 "Allocate time in schedule for hackers to run energizers"

[2015-07-07 00:14] zachlatta commented on #147
Status on this?

[2015-07-07 00:15] zachlatta commented on #153
Whoops, duplicate of #150.

[2015-07-07 00:15] #153 closed, assigned to nobody

[2015-07-07 00:15] zachlatta commented on #150
As discussed this morning, we're going to go ahead and do this.

[2015-07-07 00:16] zachlatta commented on #81
Closing due to cohort 2 being over.

[2015-07-07 00:16] #81 closed, assigned to nobody

[2015-07-07 00:18] zachlatta commented on #79
Closing due to cohort 2 being over.

[2015-07-07 00:18] #79 closed, assigned to nobody

[2015-07-07 00:18] zachlatta commented on #99
Closing due to cohort 2 being over.

[2015-07-07 00:18] #99 closed, assigned to nobody

[2015-07-07 00:18] zachlatta commented on #73
Closing due to cohort 2 being over.

[2015-07-07 00:18] #73 closed, assigned to nobody

[2015-07-07 00:18] zachlatta commented on #120
Closing due to cohort 2 being over.

[2015-07-07 00:18] #120 closed, assigned to nobody

[2015-07-07 00:19] zachlatta commented on #68
Closing due to cohort 2 being over.

[2015-07-07 00:19] #68 closed, assigned to nobody

[2015-07-07 00:19] zachlatta commented on #59
Closing due to cohort 2 being over.

[2015-07-07 00:19] #59 closed, assigned to nobody

[2015-07-07 00:19] zachlatta commented on #67
Closing due to cohort 2 being over.

[2015-07-07 00:19] #67 closed, assigned to nobody

[2015-07-07 00:19] zachlatta commented on #121
Ping?

[2015-07-07 00:21] zachlatta commented on #116
Closing due to using a different format for this upcoming cohort. See 0bc45c5a215fdd23a2d2e6933be20f54422577d5 for our notes from the planning session this morning.

[2015-07-07 00:21] #116 closed, assigned to maxwofford

[2015-07-07 00:21] zachlatta commented on #98
Closing due to using a different format for this upcoming cohort. See 0bc45c5a215fdd23a2d2e6933be20f54422577d5 for our notes from the planning session this morning.

[2015-07-07 00:21] #98 closed, assigned to nobody

[2015-07-07 00:24] #56 closed, assigned to zachlatta

[2015-07-07 00:37] maxwofford opened #157 "Create a portfolio workshop"
This workshop covers
- HTML
- CSS
- c9.io
- Git

[2015-07-07 00:43] maxwofford opened #158 "Create a Maestro + webpage workshop"
Student deliverable: Send text message from webpage
Notes:
- JavaScript fundamentals
- Show Maestro doc with examples

[2015-07-07 00:45] maxwofford opened #159 "Create an SMS bot workshop"
Student deliverable: simple SMS bot (see [hackedu/steward](https://github.com/hackedu/steward)).

Notes:
- More JavaScript fundamentals

[2015-07-07 00:46] maxwofford opened #160 "Create a messenger app workshop"
Topic: Messenger

Notes:
- Firebase
- User auth
- Group chat only

[2015-07-07 00:48] maxwofford opened #161 "Create a todo-list workshop"
Student deliverable: Todo List app
Notes:
- User auth (users should have separate tasks)
- Firebase

[2015-07-07 00:57] andreadeng commented on #148
GROWTH/GRIT
https://docs.google.com/spreadsheets/d/1ooBimVKiI9ztIQDu8BJ9iRgkN7JCXQH9HtTq2XxS4oA/edit#gid=2028509598

[2015-07-07 15:24] zachlatta commented on #124
I'm pinging him trying to get a response.

[2015-07-07 15:49] #148 closed, assigned to nobody

[2015-07-07 15:51] zachlatta opened #163 "Finalize dates for cohort 4"
@andreadeng can you send me the dates you currently have marked for cohort 4?

[2015-07-07 16:01] maxwofford commented on #137
Currently waiting on #150 so we have a logo for the shirts.

[2015-07-07 16:05] maxwofford commented on #152
Restaurants are bad.

[2015-07-07 16:10] maxwofford opened #164 "Schedule time to observe Berkeley coding camp"

[2015-07-07 21:09] zachlatta commented on #146
Done! They work now.

[2015-07-07 21:09] #146 closed, assigned to zachlatta

[2015-07-07 22:41] andreadeng commented on #46
Hi [Name of applicant],

We have received your application and will look over it carefully. We are doing admissions on a rolling basis and will get back to you by at least 2 weeks before the cohort starts. Let us know if you need to be notified earlier. Please feel free to reach out to us with questions!

Best,
[Sender Name]

[2015-07-07 22:42] andreadeng commented on #46
Hi Hacker,

We have received your application and will look over it carefully. We are doing admissions on a rolling basis and will get back to you by at least 2 weeks before the cohort starts. Let us know if you need to be notified earlier. Please feel free to reach out to us with questions!

Best,
hackEDU Team

[2015-07-07 22:53] zachlatta commented on #124
Pinged him again.

[2015-07-07 23:13] zachlatta commented on #143
Done! Check your emails for invites.

/cc @jonleung @MaxWofford @andreadeng

[2015-07-07 23:13] #143 closed, assigned to zachlatta

[2015-07-07 23:28] zachlatta commented on #163
As discussed in IRC, August 3 - August 14th.

[2015-07-07 23:29] #163 closed, assigned to zachlatta

[2015-07-08 18:35] #91 closed, assigned to nobody

[2015-07-08 18:38] andreadeng commented on #164
7/16 9-3pm - added to calendar

[2015-07-08 19:13] #164 closed, assigned to nobody

[2015-07-09 18:00] zachlatta commented on #124
Aaaand we're confirmed for the Mission Bay room next week.

[2015-07-09 20:08] maxwofford commented on #158
MVP finished: :shipit: https://github.com/hackedu/hack-camp/pull/167

[2015-07-09 20:14] maxwofford commented on #124
cohort 3: ![](https://a248.e.akamai.net/f/50/31/6/static.gamespot.com/uploads/original/391/3912151/2441702-0720251747-origi.gif)

[2015-07-09 21:40] zachlatta opened #169 "Refund participants with financial aid"

[2015-07-09 22:29] maxwofford commented on #46
We're live:
![screenshot 2015-07-09 at 3 28 47 pm](https://cloud.githubusercontent.com/assets/5891442/8608387/514dfa0a-264f-11e5-875b-68e45ab3da1b.png)

[2015-07-09 23:41] maxwofford commented on #159
@TheThirdOne @zachlatta Currently blocking on maestro's recieveSms function not working.

[2015-07-10 00:46] TheThirdOne commented on #159
Which commit are you on? I would expect some of them to not work.

[2015-07-10 07:19] #169 closed, assigned to zachlatta

[2015-07-10 15:50] #124 closed, assigned to zachlatta

[2015-07-10 15:55] zachlatta commented on #46
I'll send a few small wording changes in a bit.

[2015-07-10 20:06] zachlatta commented on #160
_quietly steals issue_

![tumblr_mi3475nqe91rk1skro2_r1_400](https://cloud.githubusercontent.com/assets/992248/8628061/798bd874-2704-11e5-9993-7427fb2b3858.gif)

[2015-07-11 00:05] zachlatta commented on #151
I guess I'll take this over now that it's the weekend. @andreadeng, what should I buy?

[2015-07-11 00:05] zachlatta commented on #152
I guess I'll take this over now that it's the weekend.

[2015-07-11 00:05] zachlatta commented on #156
I guess I'll take this over now that it's the weekend.

[2015-07-11 08:27] maxwofford commented on #151
@zachlatta Quick list of stuff from previous cohorts:
- Bananas
- Peanut butter
- Strawberry preserves
- Cherios
- Milk
- Soy milk
- Variety pack of oatmeal
- Sandwich bread

[2015-07-11 08:27] zachlatta commented on #151
Great, thanks so much!

##

Zach Latta
Executive Director of hackEDU https://hackedu.us
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Sat, Jul 11, 2015 at 1:27 AM, Max Wofford notifications@github.com
wrote:

[2015-07-11 08:30] #157 closed, assigned to zachlatta

[2015-07-12 21:04] maxwofford commented on #159
Going to hold off on this until after the first workshop (portfolio workshop).

EDIT: This is taken off the cohort 3 milestone because it will need to be fine-tuned for the students after we get feedback on the first workshop.

[2015-07-12 21:10] zachlatta commented on #160
I've gone ahead and wrote the source code for this in #170. @MaxWofford and I decided on removing this from https://github.com/hackedu/hack-camp/milestones/Prepare%20for%20Cohort%203 because we'll need to tune the instructions to the hackers' knowledge, and we won't know where they're at until the cohort is in session.

[2015-07-12 21:12] zachlatta commented on #151
Went ahead and placed the Instacart order. Delivers later today.

[2015-07-12 21:16] zachlatta commented on #147
Any updates on this?

[2015-07-12 21:17] zachlatta commented on #155
Removed from milestone because #150 was also taken off the milestone.

[2015-07-12 21:18] zachlatta opened #171 "Finalize schedule for first day"
/cc @hackedu/hack-camp

[2015-07-12 21:20] maxwofford commented on #161
Taking this off the [milestone](https://github.com/hackedu/hack-camp/milestones/Prepare%20for%20Cohort%203) because it doesn't need to be completed by Monday.

/cc @zachlatta

[2015-07-12 21:23] maxwofford commented on #161
I might want to fork @ssun098's [task-list](https://github.com/ssun098/task-list) app for this.

[2015-07-12 22:01] maxwofford commented on #46
@zachlatta You can make changes [here](https://script.google.com/macros/d/MdzQ1ey8oJtgIX6iWbbnHsPDp8aFBtR4M/edit?uiv=2&mid=ACjPJvFcI2Q9PdeiSYdsRn2SICrDyWmrTlEs9-LB7ZARB6_cUIV4ThC8biTAELAzO39IXDCrpr6H1jH_6PHli2KIa2qSLh0gPYbk6PnPE3MozInVO7_mrKXRLR1AxneF0c70BsLAsEBxo4U)

[2015-07-12 22:16] maxwofford commented on #171
Just created our day-to-day schedule, which includes a high-level overview for the first day: https://docs.google.com/spreadsheets/d/1GllOjbicx20nrZa-8H2xFW4RZebP3haB1A--vNAH_ZQ/edit?usp=sharing

[2015-07-12 22:16] zachlatta commented on #152
Send an email out! https://groups.google.com/d/msg/hack-camp-cohort-3/pMzbz7I1WHg/p_a8hbiegnsJ

[2015-07-12 22:16] #152 closed, assigned to zachlatta

[2015-07-12 22:38] #171 closed, assigned to maxwofford

[2015-07-12 22:39] #156 closed, assigned to maxwofford

[2015-07-12 22:41] maxwofford commented on #147
/cc @hackedu/hack-camp  Removing this from [Cohort 3 milestone](https://github.com/hackedu/hack-camp/milestones/Prepare%20for%20Cohort%203)  because it is too late to admit anyone for cohort 3.

[2015-07-12 22:42] zachlatta opened #172 "Set up Mission Bay classroom"

[2015-07-12 22:47] zachlatta commented on #147
:thumbsup:

On Sun, Jul 12, 2015 at 3:41 PM, Max Wofford notifications@github.com
wrote:

[2015-07-12 22:56] zachlatta opened #173 "Prepare "welcome to Hack Camp" workshop"

[2015-07-12 22:56] zachlatta commented on #46
Awesome! Went ahead and changed the text around a bit.

On Sun, Jul 12, 2015 at 3:01 PM, Max Wofford notifications@github.com
wrote:

[2015-07-12 22:56] #46 closed, assigned to zachlatta

[2015-07-13 15:17] zachlatta commented on #172
We done did it!

![2015-07-13 08 16 02](https://cloud.githubusercontent.com/assets/992248/8653120/8c47dfa0-2937-11e5-8d93-8e6c46f04fab.jpg)
![2015-07-13 08 16 10](https://cloud.githubusercontent.com/assets/992248/8653124/9026d216-2937-11e5-9a43-f635505f44c6.jpg)

[2015-07-13 15:17] #172 closed, assigned to zachlatta

[2015-07-13 15:17] #151 closed, assigned to zachlatta

[2015-07-13 15:19] maxwofford commented on #158
Removed this from the [Prepare for Cohort 3](https://github.com/hackedu/hack-camp/milestones/Prepare%20for%20Cohort%203) milestone because it is not required by Monday.

[2015-07-13 15:29] zachlatta opened #174 "Create anonymous misconduct form"

[2015-07-13 15:42] jonleung commented on #174
@zachlatta One thing that is important thing is to be able to give feedback to other people without introducing shame. How do you plan for this to be executed?

[2015-07-13 15:43] #147 closed, assigned to nobody

[2015-07-13 15:47] jonleung commented on #121
@zachlatta, As discussed in standups, we need 34 accounts, one for each hack camp student.

[2015-07-13 15:48] maxwofford commented on #174
@zachlatta Please clarify what would be on this form :-)

[2015-07-13 16:17] #173 closed, assigned to zachlatta

[2015-07-13 16:38] jonleung commented on #125
Just emailed again

On Sunday, July 5, 2015, Zach Latta notifications@github.com wrote:

##

—
Sent from my mobile–apologies for brevity and any typos!

hackedu.us | 610-761-0083

[2015-07-13 20:40] andreadeng opened #175 "Create hackedu homepage website design"
-Illustrator mockup
-gh-pages prototype

[2015-07-13 20:45] andreadeng commented on #150
![hack_camp_logo-02](https://cloud.githubusercontent.com/assets/2925784/8660349/4bfa7024-2965-11e5-9dc1-67e1f89fb5ca.jpg)
Final hack camp logo? @zachlatta @jonleung @MaxWofford

[2015-07-13 20:47] andreadeng commented on #150
actually idk if the eyes look better like this
![hackcamplogo_dino-02](https://cloud.githubusercontent.com/assets/2925784/8660427/b459140e-2965-11e5-975b-15562b057bac.png)

[2015-07-14 06:55] zachlatta opened #177 "Scan Hack Camp waivers"
Can you scan the waivers for the 3rd cohort and put them into our Dropbox under the Hack Camp folder? I've left them on our table (next to all of the post-it notes) in the hackerspace.

Thanks :-).

[2015-07-14 15:30] zachlatta commented on #174
@jonleung give feedback to other participants? Or to the instructors?

@MaxWofford I'll just go ahead and create the form, won't clarify for now. Not entirely sure what I'd like on it yet.

[2015-07-15 00:11] andreadeng commented on #177
Yes I'll get to these!

[2015-07-15 18:21] jonleung commented on #174
@zachlatta, I just made same changes!

[2015-07-15 18:24] andreadeng commented on #177
Added to the dropbox!

[2015-07-15 18:28] maxwofford commented on #174
@zachlatta It will now notify us anytime something is submitted. [here](https://script.google.com/macros/d/MC-xxDXmv0Wz8y6FRxpNgwvDp8aFBtR4M/edit?uiv=2&mid=ACjPJvFRE2UnIg1OeWsnaWWGEgI94sDJ7xC2i5Lw1NJDfPYou5HdW5rU0BCishzAbWrYlWGTGjea4L3IZXsBIG8i_0Jb0ooEw4WY2TpbXxI5qVwJHvi3gnYnYts0Gnfbnpas_9-TxVMoFCc) is the script.

Give me a heads up if we want to change the fields, it might break something.

[2015-07-15 18:40] jonleung commented on #174
@maxwofford, also just an FYI:

You can subscribe to notifications through the standard user interface:
https://support.google.com/docs/answer/91588?hl=en

[2015-07-15 18:43] maxwofford commented on #174
@jonleung That would be too easy >:-)

[2015-07-15 21:12] zachlatta commented on #177
:thumbsup:

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Jul 14, 2015 at 5:11 PM, Andrea Deng notifications@github.com
wrote:

[2015-07-15 21:14] zachlatta commented on #150
I'm personally partial towards the red one without the dino, but I'm good
with most anything.

Thoughts @jonleung and @MaxWofford?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Mon, Jul 13, 2015 at 1:45 PM, Andrea Deng notifications@github.com
wrote:

[2015-07-16 05:08] jonleung opened #179 "Figure out cohort 4 payment"
Because the objective of the fourth cohort is to test to see if we can have another member of the hackEDU team reproduce the experience from the second and third cohorts from a set of materials, we may not be able to deliver the same quality of the hackEDU experience as earlier cohorts.

Also, under the __Who's Mentoring This__ section of the Hack Camp website, it states:

This will not be true fo

[2015-07-16 07:24] zachlatta commented on #177
Great! Thanks.

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Wed, Jul 15, 2015 at 11:24 AM, Andrea Deng notifications@github.com
wrote:

[2015-07-16 07:45] #174 closed, assigned to zachlatta

[2015-07-16 07:56] zachlatta commented on #149
Is this still super relevant now that we're not actively using CodeHS?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 3, 2015 at 1:24 PM, Jonathan Leung notifications@github.com
wrote:

[2015-07-16 08:30] zachlatta commented on #174
Great. Can I close this?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Wed, Jul 15, 2015 at 11:21 AM, Jonathan Leung notifications@github.com
wrote:

[2015-07-16 15:30] jonleung opened #180 "Create DOM Manipulation Workshop for Friday"
As discussed on Wednesday July 16th's evening meeting, Jonathan will be leading Friday and will create a DOM Manipulation workshop and make a PR [here](https://github.com/hackedu/hack-camp/tree/master/cohort_3/curriculum/workshops).

[2015-07-16 15:34] #158 closed, assigned to maxwofford

[2015-07-16 15:37] jonleung commented on #180
Will be working with @MaxWofford on this!

[2015-07-16 15:38] jonleung commented on #125
They said they can give us $100 for now, waiting on promocode

[2015-07-16 15:43] maxwofford commented on #179
@zachlatta, would you like to take lead on organizing this?

[2015-07-16 18:20] zachlatta commented on #179
What if we kept discussion for this here instead of scheduling a meeting?

I'd personally partial towards keeping payment the way it is, but
communicating to the hackers for cohort 4 (when we're accepting them) that
we won't be running this cohort. We could write a similar spiel for
@GemmaBusoni and send them that.

Thoughts?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http:/

[2015-07-16 18:21] zachlatta commented on #159
Closing in favor of #180.

[2015-07-16 18:24] zachlatta commented on #174
May it make sense for us to subscribe to notifications like this instead?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Wed, Jul 15, 2015 at 11:40 AM, Jonathan Leung notifications@github.com
wrote:

[2015-07-16 21:10] maxwofford opened #181 "Get in contact with c9.io"
We should open a line of communication with Cloud9 so we can be prepared when we run into blocking issues with their service.

[2015-07-16 21:11] maxwofford commented on #174
Think so! I'll disable the script if we decide to do that.

[2015-07-16 21:13] maxwofford commented on #159
@zachlatta :+1:

[2015-07-16 21:13] #159 closed, assigned to maxwofford

[2015-07-16 21:14] zachlatta commented on #181
Agreed. I can take lead on this.

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Thu, Jul 16, 2015 at 2:10 PM, Max Wofford notifications@github.com
wrote:

[2015-07-16 21:14] zachlatta commented on #181
Actually, I think it may make sense for us to move this to https://github.com/hackedu/meta.

[2015-07-16 21:14] maxwofford commented on #181
@zachlatta :+1:

[2015-07-16 21:15] maxwofford commented on #181
:tada:

[2015-07-16 21:15] #181 closed, assigned to nobody

[2015-07-17 15:36] #177 closed, assigned to nobody

[2015-07-17 15:36] jonleung commented on #150
@andreadeng @zachlatta I'm down with the block letters as well with the red : )

[2015-07-17 15:38] jonleung commented on #179
@zachlatta writing is good for me. I personally don't care if we change or don't change payment.

[2015-07-17 15:44] andreadeng opened #182 "Connect Zach with Daniel (Pleasanton code camp) via email to setup a time next week for him to visit Hack Camp"

[2015-07-17 15:57] zachlatta commented on #182
Looking forward to showing him around the place :-).

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 17, 2015 at 8:44 AM, Andrea Deng notifications@github.com
wrote:

[2015-07-17 15:59] zachlatta commented on #179
Alright, cool.

I'm partial towards still charging $595 and having @GemmaBusoni lead. I do
think it's important that we communicate to all the hackers (when we're
accepting them) that the next cohort will be run by her, and not us, and
include a bio of her.

Thoughts?

/cc @MaxWofford @andreadeng

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.

[2015-07-17 15:59] zachlatta commented on #150
@MaxWofford thoughts on block letters on red vs. dino?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 17, 2015 at 8:36 AM, Jonathan Leung notifications@github.com
wrote:

[2015-07-17 17:42] maxwofford commented on #150
@hackedu/hack-camp I'm good with either dino or red. Could I get a link to the red image?

[2015-07-17 17:43] maxwofford commented on #179
@zachlatta Think it is def important to tell them it will be run by @gemmabusoni. Think it will help set the mood and break down that teacher/student relationship our other cohorts have had.

[2015-07-17 17:45] zachlatta commented on #179
Agreed.

@GemmaBusoni - do you have a short bio anywhere that we could use?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 17, 2015 at 10:43 AM, Max Wofford notifications@github.com
wrote:

[2015-07-17 17:45] zachlatta commented on #150
@andreadeng?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 17, 2015 at 10:42 AM, Max Wofford notifications@github.com
wrote:

[2015-07-17 19:29] zachlatta commented on #175
Can we move this over to https://github.com/hackedu/website?

[2015-07-18 00:00] jonleung opened #184 "Create facilitator facing guidelines on how to problem solve"
As discussed on cohort 3 day 5 in post-mortem on July 17th

/cc @MaxWofford @zachlatta

[2015-07-18 00:34] #180 closed, assigned to nobody

[2015-07-18 15:56] jonleung opened #185 "Refactor Instagram workshop"
Iterate on feedback from Jonathan's personal notes

Add after each step, "now go do this in cloud9" yourself

Add more checkpoints and challenges

Add CSS

[2015-07-18 17:21] jonleung opened #186 "Discuss Che hacks fiscal sponsorship"

[2015-07-18 18:53] zachlatta commented on #186
Does it make sense to have this issue here? Perhaps putting it in `meta`
might make more sense?

On Saturday, July 18, 2015, Jonathan Leung notifications@github.com wrote:

##

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2015-07-18 18:54] zachlatta commented on #186
Also, would this discussion be about having us be the fiscal sponsor for
CHE Hacks?

On Saturday, July 18, 2015, Zach Latta zach@hackedu.us wrote:

##

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2015-07-18 18:54] zachlatta commented on #185
Can you include your notes, perhaps in this issue or a file somewhere?

Also, you don't need to refer to yourself in the third person when creating
issues ;-).

On Saturday, July 18, 2015, Jonathan Leung notifications@github.com wrote:

##

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2015-07-18 21:00] maxwofford commented on #180
@jonleung Kudos for working through this so quickly!

[2015-07-18 22:11] zachlatta commented on #180
Yeah – that was some diligent work.

Ship it! :shipit:

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Sat, Jul 18, 2015 at 2:00 PM, Max Wofford notifications@github.com
wrote:

[2015-07-20 15:35] andreadeng opened #187 "Add notes from berkeley coding camp to github"

[2015-07-20 19:24] zachlatta commented on #182
Replied to the intro!

[2015-07-20 19:24] #182 closed, assigned to nobody

[2015-07-20 19:26] zachlatta commented on #179
Discussed with @andreadeng this morning.

Let's go ahead and have them pay the $595 in full. I'll communicate this to @gemmabusoni.

[2015-07-20 19:26] #179 closed, assigned to nobody

[2015-07-20 19:27] zachlatta commented on #186
Created hackedu/meta#90 to replace this.

[2015-07-20 19:27] #186 closed, assigned to nobody

[2015-07-20 19:27] zachlatta commented on #160
Eh, for whomever ends up taking lead on this workshop, ignore the code I've written so far. Not important.

[2015-07-20 19:29] zachlatta commented on #150
Just discussed with @andreadeng in person and we're going to go ahead with the block letter red logo after she's made some adjustments.

She'll be posting iterations here.

/cc @andreadeng

[2015-07-20 19:34] #175 closed, assigned to nobody

[2015-07-20 19:34] zachlatta commented on #154
Updates on this?

[2015-07-20 19:35] zachlatta commented on #149
Closing for now due to lack of response.

[2015-07-20 19:35] #149 closed, assigned to zachlatta

[2015-07-20 19:35] zachlatta commented on #125
Updates on this?

[2015-07-20 19:35] zachlatta commented on #65
Closing for now due to lack of responses.

[2015-07-20 19:35] #65 closed, assigned to nobody

[2015-07-20 19:37] zachlatta opened #188 "Accept cohort 4"
The time has come to accept the hackers for cohort 4.

We'll want the following skill set breakdown:
- 7 with no coding experience
- 4 with some coding experience, but have not finished a project before
- 3 who have finished one or multiple projects

As we accept people for this cohort, make sure we communicate to them that @gemmabusoni will be running this session of the camp.

[2015-07-20 19:37] zachlatta opened #189 "Create Gemma bio"
Create a bio for @gemmabusoni to share with hackers that we're accepting.

[2015-07-20 19:38] zachlatta commented on #188
I've gone ahead and created #189 to track getting a bio for @gemmabusoni.

[2015-07-20 19:39] zachlatta opened #190 "Secure hackerspace/classroom"
Secure a space to house 14 people + hackEDU team for cohort 4.

[2015-07-21 00:52] zachlatta opened #191 "Create two conversation starters for tomorrow"
Create two conversation starters and share with @hackedu/hack-camp before tomorrow (07.20.15) starts.

[2015-07-21 15:27] zachlatta commented on #184
@jonleung want to take lead on this?

[2015-07-21 23:16] andreadeng commented on #150
![screen shot 2015-07-21 at 4 15 16 pm](https://cloud.githubusercontent.com/assets/2925784/8814651/bef71578-2fc3-11e5-85f5-2743ba4ded17.png)
Font options? for sticker/logo

[2015-07-21 23:21] maxwofford commented on #150
@andreadeng I'm partial to the last 3

[2015-07-21 23:37] zachlatta commented on #150
I like the last one the most. Any chance we could get the font a bit more bold?

[2015-07-22 00:52] #191 closed, assigned to nobody

[2015-07-22 00:52] zachlatta commented on #191
Closed due to the day being over.

[2015-07-22 00:54] zachlatta commented on #189
Here we are:

The next session of Hack Camp will be led by Gemma Busoni, a wonderfully energetic gal who loves building things. Between creating virtual reality games and working at a research lab at Caltech, she's a prolific attendee and organizer of [hackathons](https://en.wikipedia.org/wiki/Hackathon). She's previously organized [CodeDay LA](https://codeday.org/la) at [will.i.am](http://will.i.

[2015-07-22 00:57] #189 closed, assigned to zachlatta

[2015-07-22 01:05] zachlatta commented on #155
Moving this to the cohort 4 preparation milestone because if we order the stickers today they won't be here by the end of this cohort.

[2015-07-22 01:05] zachlatta commented on #150
Moving this to the cohort 4 preparation milestone because if we order the stickers today they won't be here by the end of this cohort.

[2015-07-22 01:47] maxwofford commented on #189
@zachlatta Are there any website changes that need to be done for this?

[2015-07-22 02:56] zachlatta commented on #189
Nope!

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Jul 21, 2015 at 6:47 PM, Max Wofford notifications@github.com
wrote:

[2015-07-22 15:32] maxwofford opened #194 "Create number guesser game workshop MVP"

[2015-07-22 15:33] zachlatta commented on #187
Closing because of 8ba6fa972002bef1e4aa07ab86d63d99a5961cde.

[2015-07-22 15:33] #187 closed, assigned to nobody

[2015-07-22 15:40] zachlatta commented on #154
@andreadeng can you break this up into multiple issues that we can put under a milestone?

[2015-07-22 16:07] #194 closed, assigned to zachlatta

[2015-07-22 16:20] maxwofford commented on #194
Thanks for the review @zachlatta!

[2015-07-22 17:06] MaxWofford commented on #160
@jonleung, how is this going?

[2015-07-22 17:39] andreadeng commented on #150
![screenshot 2015-07-22 10 38 18](https://cloud.githubusercontent.com/assets/2925784/8832416/d0e46ac0-305d-11e5-908e-335bfc4a702b.png)

top one is bolder and bottom one is EVEN bolder LOL @zachlatta @jonleung @MaxWofford

[2015-07-22 17:40] andreadeng commented on #161
i was talking to alyssa today and she said she really wants to make a task/to do iist app!

[2015-07-22 17:51] zachlatta commented on #161
Awesome!

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Wed, Jul 22, 2015 at 10:40 AM, Andrea Deng notifications@github.com
wrote:

[2015-07-22 18:57] selynna commented on #161
@MaxWofford I'm totally fine with you forking the task list, but it's not exactly the most functional...I think some features are still broken.  Is that okay?

[2015-07-22 19:14] zachlatta commented on #150
What if we went with the first one?

/cc @jonleung @MaxWofford @andreadeng

[2015-07-23 01:22] jonleung commented on #184
@zachlatta sounds good

[2015-07-23 01:26] jonleung commented on #125
@zachlatta Just followed up again!

[2015-07-23 01:27] jonleung commented on #185
@zachlatta, will add notes later, will need to dig them up

[2015-07-23 08:38] zachlatta commented on #185
:+1:

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Wed, Jul 22, 2015 at 6:27 PM, Jonathan Leung notifications@github.com
wrote:

[2015-07-23 08:38] zachlatta commented on #125
:+1:

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Wed, Jul 22, 2015 at 6:26 PM, Jonathan Leung notifications@github.com
wrote:

[2015-07-23 15:31] jonleung commented on #160
Added deliverable here: https://github.com/hackedu/hack-camp/pull/170

[2015-07-23 15:36] jonleung commented on #188
@andreadeng @zachlatta as discussed we may try to ask old cohorts to ask their friends to come apply to cohort 4 especially Selena's friend.

We'd really appreciate if you could refer 3 friends.

[2015-07-23 15:36] jonleung commented on #188
Closed accidentally, reopening

[2015-07-23 15:43] andreadeng commented on #150
![hackcamp_sticker-01](https://cloud.githubusercontent.com/assets/2925784/8854834/d7e7837a-3116-11e5-84ee-f33bd23577b6.png)

[2015-07-23 15:51] zachlatta commented on #150
:+1:

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Thu, Jul 23, 2015 at 8:43 AM, Andrea Deng notifications@github.com
wrote:

[2015-07-23 16:39] maxwofford commented on #150
Can this be closed?

[2015-07-23 17:10] zachlatta commented on #150
@andreadeng: can you commit the final version to this repo, perhaps to
`meta/logo.png`?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Thu, Jul 23, 2015 at 9:39 AM, Max Wofford notifications@github.com
wrote:

[2015-07-23 17:47] andreadeng commented on #137
![screenshot 2015-07-23 10 46 54](https://cloud.githubusercontent.com/assets/2925784/8857706/31088f6a-3128-11e5-9e71-7a5d47095e53.png)

shirt idea? @zachlatta @jonleung @MaxWofford

[2015-07-23 17:55] zachlatta commented on #137
Love it.

Can you try making the `hackEDU` on the back in Amaranth and bold?

Also, what does it look like if you slightly shift all of the text in the
`HACK` over to the right just a little bit (while keeping the background
mask in the same position).

##

Zach Latta
Executive Director of hackEDU https://hackedu.us/
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2015-07-23 20:11] zachlatta commented on #190
Just sent Kat and Ryan an email about this.

[2015-07-23 23:07] Jarred-Sumner commented on #137
How does this sound? http://teespring.com/zach-latta

[2015-07-23 23:11] zachlatta commented on #137
_oh no_

##

Zach Latta
Executive Director of hackEDU (https://hackedu.us)
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2015-07-23 23:12] Jarred-Sumner commented on #137
lmao

[2015-07-24 07:05] jonleung commented on #150
:+1:

[2015-07-24 17:35] maxwofford commented on #137
@andreadeng Would you please add the t-shirt logo as an svg to the logos directory when you are done with them?

[2015-07-27 16:06] #155 closed, assigned to zachlatta

[2015-07-27 16:07] #190 closed, assigned to zachlatta

[2015-07-27 16:08] jonleung commented on #125
We got the promotion code, I need to link it to a secure file in Dropbox

[2015-07-27 16:15] maxwofford commented on #121
Closed because we've decided against doing this in standups 7/27/2015

[2015-07-27 16:15] #121 closed, assigned to zachlatta

[2015-07-27 16:28] jonleung commented on #125
@MaxWofford @zachlatta, I added the promo code to secrets.txt in the Dropbox under "Twilio"

[2015-07-27 16:28] jonleung commented on #125
@MaxWofford do you want to try adding this promo code to your Twilio account?

[2015-07-27 16:33] maxwofford commented on #125
@jonleung This promo-code is only for trial accounts.

[2015-07-27 17:53] zachlatta commented on #125
I just created https://github.com/hackedu/gifts that you can add it to.

[2015-07-27 20:51] jonleung commented on #154
@andreadeng, hello, just pinging for updates : )

[2015-07-27 22:26] zachlatta commented on #184
I'm going to go ahead and close this for now. We can reopen if we decide it's important or very actionable.

[2015-07-27 22:26] #184 closed, assigned to nobody

[2015-07-27 22:26] zachlatta commented on #184
Also removing from the prepare for cohort 4 milestone.

[2015-07-27 22:26] zachlatta commented on #161
Closed by 696c7fe409c3d7b554733b36e913e414851cec32.

[2015-07-27 22:26] #161 closed, assigned to nobody

[2015-07-27 22:32] #160 closed, assigned to nobody

[2015-07-27 22:38] #150 closed, assigned to nobody

[2015-07-27 22:47] jonleung commented on #161
@zachlatta thanks!

[2015-07-27 22:51] jonleung opened #199 "Refactor portfolio workshop"
Deliverable: edit the HTML workshop and make a PR into the workshops folder in Cohort 4:

https://github.com/hackedu/hack-camp/tree/master/cohort_3/curriculum/workshops/portfolio

[2015-07-27 23:09] zachlatta opened #200 "Acquire keyfobs for all Hack Camp leaders"
We'll need to acquire four keyfobs in total.

[2015-07-27 23:09] zachlatta opened #201 "Create Slack"

[2015-07-27 23:10] zachlatta opened #202 "Introduce Gemma to Galvanize staff"
/cc @gemmabusoni

[2015-07-27 23:11] zachlatta opened #203 "Create hour-by-hour schedule for first day"
Create an hour-by-hour breakdown of the first day of Hack Camp.

Quick outline from our sprint planning session on 07.27.15:
- _Hackers arrive_
- _Galvanize tour_
- _Energizer_
- _Breakfast_
- _Introduction talk_
- _Workshop_
- _Lunch_
- _Energizer_
- _Creating groups_
- _Brainstorming projects_
- _Project time_
- _I have failed circle_
- _Demos_
- _Feedback form_
- _Hack!_

[2015-07-27 23:12] zachlatta opened #204 "Create outline for Hack Camp playbook"
Create an outline for the Hack Camp playbook ready for content insertion.

[2015-07-27 23:14] zachlatta opened #205 "Make sure all guidelines for the first day have been read through by leaders"
Make sure that all of the guidelines for all of the activities on the first day have been read through by the leaders. Perhaps leave a note in the playbook saying that this should be done before the day starts?

[2015-07-27 23:15] zachlatta opened #206 "Email Galvanize about the AC dripping and broken thermostat in Mission Bay"

[2015-07-27 23:20] zachlatta opened #207 "Create attendance sheet"
Create a sheet for attendance to be kept track of in.

[2015-07-27 23:20] zachlatta opened #208 "Create guidelines for managing hacker arrival on the first day"
Create a set of bullet-point guidelines for managing hacker arrival on the first day of camp.

[2015-07-27 23:23] zachlatta opened #209 "Select two energizers and create a guide for running them on the first day"
Let me know if you have any questions @andreadeng!

[2015-07-27 23:24] zachlatta opened #210 "Order breakfast food"
Order enough food for the first week of Hack Camp. I think we already have some of the stuff we need on the 3rd floor of Galvanize.

[2015-07-27 23:24] zachlatta opened #211 "Allocate an area for breakfast"
Allocate an area for breakfast every morning in Galvanize and add it to the playbook.

Perhaps communicate with Galvanize staff to try and secure a place that can support 14 hackers + leaders and us? That's a lot of people.

[2015-07-27 23:25] zachlatta opened #212 "Create guidelines for running breakfast"

[2015-07-27 23:27] zachlatta opened #213 "Create introduction talk guide"
Create a bullet-point breakdown of what the leaders should cover in the introduction talk on the first day (given after breakfast).

Make sure to include precedents we want to set (ex. this is a safe space, everything is optional) in this.

[2015-07-27 23:29] zachlatta commented on #199
:+1:

I'll make sure to include a clear place for where to put this in the `cohort_4` directory in #204.

[2015-07-27 23:30] zachlatta opened #214 "Create guidelines on running portfolio workshop"
The content for this will be created in #199.

---

Create facilitator-facing guidelines for running the portfolio workshop.

[2015-07-27 23:32] zachlatta opened #215 "Make sure that all organizers have completed the portfolio workshop before running it"
Add a note to the playbook to make sure all organizers have gone through the portfolio workshop before creating it.

[2015-07-27 23:33] zachlatta opened #216 "Create a help button application"
Create an application (perhaps a Slack bot?) that lets the hackers super easily ping the leaders for help without requiring a physical interaction.

[2015-07-27 23:33] zachlatta opened #217 "Create guidelines for facilitating lunch"

[2015-07-27 23:35] zachlatta opened #218 "Allocate a space for lunch"
Allocate a space for lunch (where tables and chairs can be set up) and add it to the playbook, so all the leaders know where it is.

[2015-07-27 23:35] zachlatta opened #219 "Create guidelines on creating groups for projects on the first day"

[2015-07-27 23:36] zachlatta opened #220 "Create guidelines to facilitate project brainstorming on the first day"

[2015-07-27 23:36] zachlatta opened #221 "Create guidelines for facilitating freeform project-time"

[2015-07-27 23:37] zachlatta opened #222 "Create guidelines for running the "I have failed circle" activity."

[2015-07-27 23:39] zachlatta opened #223 "Create guidelines for running demos"
Couple ideas for what to do in this from [the sprint discuss](https://github.com/hackedu/hack-camp/blob/45939797f6f579d89a560a80c72e3952eaffa052/cohort_4/prep/meetings/15-07-27_sprint_discuss.md):
- Do an example demo (to show what a demo looks like)
- Include how to do sticky note feedbacks

[2015-07-27 23:39] zachlatta opened #224 "Create feedback form for the first day"

[2015-07-27 23:40] zachlatta opened #225 "Create guidelines for ending the first day"
- Do the hack cheer
- Say anything for the following day

[2015-07-27 23:41] zachlatta opened #226 "Select two energizers and create a guide for running them on the second day"
Basically #209, but for the second day.

[2015-07-27 23:42] zachlatta opened #227 "Create feedback form for the second day."

[2015-07-27 23:45] zachlatta opened #228 "Select two energizers and create a guide for running them on the third day."
Basically #209, but for the third day.

[2015-07-27 23:46] zachlatta opened #229 "Create feedback form for the third day"

[2015-07-27 23:47] zachlatta opened #230 "Select two energizers and create a guide for running them on the fourth day"
Basically #209, but for the fourth day.

[2015-07-27 23:48] zachlatta opened #231 "Create feedback form for the fourth day"

[2015-07-27 23:51] zachlatta commented on #185
Going to go ahead and remove this from the prepare for cohort 4 milestone. We'll only be tackling the first four days of camp, as discussed.

[2015-07-27 23:55] zachlatta opened #232 "Create acceptance packet"

[2015-07-28 00:30] zachlatta opened #233 "Issue financial aid refunds"

[2015-07-28 01:41] zachlatta commented on #200
Sent an email to Galvanize staff about this.

[2015-07-28 01:44] zachlatta commented on #206
Emailed Kat.

[2015-07-28 01:55] zachlatta commented on #201
I've gone ahead and created a `#cohort-3` channel in our existing Slack for Hack Camp (https://hack-camp.slack.com).

I'll also add a note to make sure to invite all participants to it in the playbook.

[2015-07-28 02:08] zachlatta commented on #202
Decided against doing this and having @gemmabusoni go through @jonleung and myself for anything needed from the venue.

[2015-07-28 02:08] #202 closed, assigned to zachlatta

[2015-07-28 04:47] zachlatta commented on #200
They just got back to me and can give us keyfobs. Next step: email them about how to acquire them.

[2015-07-28 05:00] jonleung commented on #199
This is currently in progress. I finished what the final version will look like ([link](https://github.com/hackedu/hack-camp/blob/cohort_4-portfolio/cohort_4/playbook/workshops/portfolio/README.md)) and will need to make the tutorial that goes step by step tomorrow!

[2015-07-28 05:05] #205 closed, assigned to zachlatta

[2015-07-28 05:05] #215 closed, assigned to zachlatta

[2015-07-28 05:05] zachlatta commented on #200
Emailed. Waiting on their response.

[2015-07-28 15:32] zachlatta commented on #224
Done!

https://docs.google.com/a/zachlatta.com/forms/d/1FTBlvJdXRyfPyGheR3Sm6xWu1PQSMTNkZxPkC3jp0G4/edit

[2015-07-28 15:32] #224 closed, assigned to zachlatta

[2015-07-28 15:43] zachlatta commented on #227
Done. https://docs.google.com/a/zachlatta.com/forms/d/1_9K3b4Nwgn3-mFqMrrUObwiMHt_53y9LVNyCQAULn7I/edit

[2015-07-28 15:44] zachlatta commented on #229
Done. https://docs.google.com/a/zachlatta.com/forms/d/1kgCrsPuTFJ-404JdpFo3acomXmwvTIOJHXzOp_NoUeI/edit

[2015-07-28 15:44] zachlatta commented on #231
Done. https://docs.google.com/a/zachlatta.com/forms/d/1ASfJdmXGUVRdGJR6rmzedDQ2EDEL7Hc11JD0xjBJMp8/edit

[2015-07-28 15:52] maxwofford commented on #207
EDIT: Blocking on #188

@andreadeng Where can I get the most up-to-date list of accepted hackers?

The attendance sheet will be [here](https://docs.google.com/spreadsheets/d/1Em5tUQdm4dXnthtWr4zY4KR9Q6JZMV_Hl2n6G9Ti9Bg/edit#gid=0).

[2015-07-28 15:58] maxwofford commented on #224
:+1:

[2015-07-28 15:59] maxwofford commented on #227
:+1:

[2015-07-28 15:59] zachlatta commented on #207
Two quick things:
1. Perhaps the attendance sheet could be generic and be ready for @gemmabusoni  and the other leaders to add the hacker names to? Would prevent it from blocking on #188.
2. When you create this, can you link it to the `schedule.md` file we have over in https://github.com/hackedu/hack-camp/blob/2ef860cd82ef9dbe64f5dde2eff60e055aef04c0/cohort_4/playbook/schedule.md? It'd be pretty

[2015-07-28 16:05] zachlatta commented on #200
We're good! Going to get them from the front desk.

[2015-07-28 16:09] #204 closed, assigned to zachlatta

[2015-07-28 16:09] #201 closed, assigned to zachlatta

[2015-07-28 16:10] #227 closed, assigned to zachlatta

[2015-07-28 16:10] #229 closed, assigned to zachlatta

[2015-07-28 16:10] #231 closed, assigned to zachlatta

[2015-07-28 16:14] zachlatta commented on #203
Can you fill in the times in `cohort_4/playbook/schedule.md` for this?

[2015-07-28 16:16] zachlatta commented on #213
@jonleung can you wait on #208 to see the format for creating guidelines in?

[2015-07-28 16:16] zachlatta commented on #214
Also wait on #208 to see where to put these/how to structure them.

[2015-07-28 16:19] zachlatta commented on #220
Wait on #208 to see where to put this work.

[2015-07-28 16:21] zachlatta opened #237 "Decide if Andrea will be undercover"
We're thinking about having @andreadeng be an undercover hacker this next cohort to get a better understanding of issues (both curricular and social) that hackers run into and to go through the experience herself. She'd pretend to be a hacker with everyone else and the organizers would have to pretend with her.

@gemmabusoni - thoughts?

[2015-07-28 16:22] zachlatta commented on #221
Like the others, wait on #208 to see where to put this / how to structure it.

[2015-07-28 16:41] maxwofford commented on #207
@zachlatta Good point. :+1:

[2015-07-28 16:47] jonleung commented on #205
@zachlatta deliverable?

[2015-07-28 16:53] #232 closed, assigned to zachlatta

[2015-07-28 16:54] jonleung opened #239 "Waivers for Cohorts 1, 2, 3"
@andreadeng @zachlatta Are the waivers for cohorts 1, 2, and 3 these stored on our Dropbox somewhere? Do we have a waiver for each student? We need to keep these indefinitely for legal reasons.

[2015-07-28 17:26] maxwofford commented on #203
Addressed by #241

[2015-07-28 17:26] maxwofford commented on #207
Addressed by #238

[2015-07-28 17:27] #233 closed, assigned to zachlatta

[2015-07-28 17:29] zachlatta commented on #203
Closed by #241.

[2015-07-28 17:29] #203 closed, assigned to maxwofford

[2015-07-28 17:32] maxwofford commented on #207
My bad @zachlatta. Didn't mean to assign you :D.

[2015-07-28 17:33] #125 closed, assigned to nobody

[2015-07-28 17:44] jonleung opened #242 "Idea: Adding IFTTT's Maker Channel to Maestro"
@zachlatta I'm thinking of possibly including the IFTTT maker channel into this workshop. I'd love to talk to you and @TheThirdOne about the possibility of integrating the Maker channel into the Maestro API ([link to API](https://ifttt.com/maker)).

I think this would be particularly cool because it vastly expands the capabilities of what a student could do. In addition to text messages and phone

[2015-07-28 17:50] maxwofford commented on #208
@zachlatta Let's put this in playbook/activities.md. Just like how all the spacemacs docs are in a single README, I think it would be cool to have all our activities in one place.

[2015-07-28 17:57] zachlatta commented on #208
Agreed!

##

Zach Latta
Executive Director of hackEDU https://hackedu.us
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Jul 28, 2015 at 10:50 AM, Max Wofford notifications@github.com
wrote:

[2015-07-28 19:50] TheThirdOne commented on #242
It looks like it would be entirely possible to do this in maestro. Though, I'm not sure IFTTT maker is the best way.

[2015-07-28 20:15] zachlatta commented on #242
Err, I'm very hesitant about having this sort of dependency.

##

Zach Latta
Executive Director of hackEDU https://hackedu.us
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Tue, Jul 28, 2015 at 12:50 PM, Benjamin Landers <notifications@github.com

[2015-07-28 20:26] zachlatta commented on #239
Cohort 3's waivers are in `hack_camp/cohort_3_waivers` in the Dropbox.

[2015-07-28 20:27] zachlatta commented on #242
Also, shouldn't this issue be in the Maestro repository?

[2015-07-28 21:53] zachlatta commented on #200
Keyfobs acquired. They're in my bag.

[2015-07-28 21:54] zachlatta commented on #207
Should be closed by #238.

[2015-07-28 22:14] maxwofford commented on #207
Closed by https://github.com/hackedu/hack-camp/commit/442fbfe341edb727aa5f091941e77d8ef245280d

[2015-07-28 22:14] #207 closed, assigned to maxwofford

[2015-07-28 22:40] zachlatta commented on #208
Created PR #246 for this.

[2015-07-28 23:45] zachlatta commented on #205
@jonleung in the linked commit above.

[2015-07-29 16:05] #200 closed, assigned to zachlatta

[2015-07-29 16:10] zachlatta commented on #242
Closing due to being in wrong repository.

[2015-07-29 17:14] jonleung commented on #239
@zachlatta are these the filled out and signed waivers? They look like unfilled out waivers right now?

[2015-07-29 17:16] #208 closed, assigned to zachlatta

[2015-07-29 17:20] zachlatta commented on #210
Going to hold off on this until a day or two before camp starts, so the bananas stay fresh.

[2015-07-29 17:21] zachlatta commented on #210
So I guess you could say this is blocking on time not passing?

[2015-07-29 17:32] zachlatta commented on #239
They're filled out.

[2015-07-29 17:44] maxwofford commented on #242
@jonleung Would you like to migrate this issue over?
I think it'd be good if we only close an issue after it has been migrated.

cc/ @zachlatta @TheThirdOne

[2015-07-29 17:47] zachlatta commented on #217
Submitted a PR for this in #247.

[2015-07-29 17:51] zachlatta commented on #219
Seems to be covered in #243.

[2015-07-29 17:55] zachlatta commented on #242
Migrated to hackedu/maestro#21.

[2015-07-29 17:55] #242 closed, assigned to nobody

[2015-07-30 01:59] jonleung commented on #242
@zachlatta thanks!

[2015-07-30 15:59] #217 closed, assigned to zachlatta

[2015-07-30 16:03] jonleung commented on #199
Made significant headway. [Here's the current progress](https://github.com/hackedu/hack-camp/blob/cohort_4-portfolio/cohort_4/playbook/workshops/portfolio/README.md)

[2015-07-30 16:41] maxwofford commented on #221
This will be put into playbook/activities.md

[2015-07-30 17:50] maxwofford commented on #219
This is tied to #220, so I'm going to label this as blocking and keep #220 up-to-date.

[2015-07-30 17:51] maxwofford commented on #220
Could I get your feedback on #243 @jonleung?

[2015-07-30 19:59] jonleung commented on #220
@MaxWofford can you add a task to add the "how to demo" thing that we put together where the facilitators deliberately makes errors when demoing and asks the class how to correct theM?

Once the other document is added, you can link to it in this one.

[2015-07-31 02:43] #223 closed, assigned to maxwofford

[2015-07-31 02:44] maxwofford commented on #221
Closed by #253

[2015-07-31 02:44] #221 closed, assigned to maxwofford

[2015-07-31 02:54] maxwofford commented on #220
@jonleung Did we do that on the 3rd cohort? I'm not sure if demoing the incorrect way is a good use of time on the first day.

[2015-07-31 04:30] zachlatta commented on #211
Blocking on #256.

[2015-07-31 04:30] zachlatta commented on #212
Blocking on #256.

[2015-07-31 04:39] zachlatta commented on #218
Created #257 that closes this.

[2015-07-31 05:15] zachlatta commented on #225
Created #258 for this.

[2015-07-31 05:22] zachlatta commented on #237
I spoke with @gemmabusoni on IRC and she's all for it.

@andreadeng, you are now officially undercover. Please prepare your identity immediately, and do not, under any circumstances, break your cover.

![](https://raw.githubusercontent.com/hackedu/dinosaurs/179949058c452c095b77a4a83604d96977d71eb1/undercover_dinosaurs.png)

[2015-07-31 06:02] zachlatta commented on #216
Created #259 to address this.

[2015-07-31 06:05] zachlatta opened #260 "Refactor Maestro workshop"
Refactor our existing Maestro workshop for cohort 4.

It's totally fine if you decide to rewrite it or change what's created in the workshop. As long as we're introducing JavaScript and tying it into web development.

[2015-07-31 06:06] zachlatta opened #261 "Create guidelines for running Maestro workshop"
_Prerequisite: #260_

Create facilitator-facing guidelines for running the Maestro workshop.

[2015-07-31 10:31] zachlatta commented on #220
Closed by #243.

[2015-07-31 10:31] #220 closed, assigned to maxwofford

[2015-07-31 10:31] zachlatta commented on #219
Closed by #243.

[2015-07-31 10:31] #219 closed, assigned to maxwofford

[2015-07-31 10:39] zachlatta commented on #222
Closed by #249.

[2015-07-31 10:39] #222 closed, assigned to maxwofford

[2015-07-31 14:35] #218 closed, assigned to zachlatta

[2015-07-31 14:36] maxwofford commented on #218
Thanks for finishing this @zachlatta!

[2015-07-31 14:44] #216 closed, assigned to zachlatta

[2015-07-31 14:47] maxwofford commented on #237
I'd like to take a step back for a moment and realize I'm part of an organization that has not only just decided to disguise one of its members as a high schooler on an entirely open and public discussion thread... it already has a logo for doing so.

[2015-07-31 16:03] #237 closed, assigned to zachlatta

[2015-07-31 16:07] maxwofford commented on #206
Do you need an image of the water damaged tables?

[2015-07-31 16:08] maxwofford commented on #206
@jonleung Will talk to Kat in person (decided at standups today -jul 31).

[2015-07-31 16:12] maxwofford commented on #210
@zachlatta I think you can schedule deliveries with Instacart.

[2015-07-31 16:29] maxwofford opened #262 "Create guidelines for running a workshop"
This will go into `playbook/activities.md` under the workshops heading.

[2015-07-31 16:41] jonleung commented on #210
@zachlatta yup, I have scheduled with Instacart before!

[2015-07-31 16:46] jonleung commented on #206
@zachlatta I just talked to Kat and told her the tables were getting damaged. She seemed to take it seriously, but there were no actionable outcomes from our conversation. I'd still continue to follow up with her.

[2015-07-31 16:47] jonleung commented on #239
@zachlatta do we have the waivers from cohorts 1-2 in the Dropbox?

[2015-07-31 17:00] jonleung commented on #260
Looks good!

[2015-07-31 17:00] maxwofford commented on #206
Kat was just in mission bay to inspect the A/C. They are calling someone to come in and inspect it, but it sounds like this could take time.

[2015-07-31 17:44] #225 closed, assigned to zachlatta

[2015-07-31 18:03] #211 closed, assigned to zachlatta

[2015-07-31 18:03] #212 closed, assigned to zachlatta

[2015-07-31 18:06] zachlatta commented on #239
Not that I know of.

Status on these @andreadeng?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 31, 2015 at 9:47 AM, Jonathan Leung notifications@github.com
wrote:

[2015-07-31 18:14] maxwofford commented on #262
I don't know enough about the way workshops are being run this cohort to complete this task yet.

[2015-07-31 18:17] zachlatta commented on #262
Perhaps assign to @jonleung instead?

##

Zach Latta
Executive Director of hackEDU https://hackedu.us
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Fri, Jul 31, 2015 at 11:14 AM, Max Wofford notifications@github.com
wrote:

[2015-07-31 19:08] maxwofford commented on #206
@zachlatta I think we can safely close this issue.

[2015-07-31 19:09] #206 closed, assigned to zachlatta

[2015-07-31 19:23] zachlatta commented on #206
:+1:

On Friday, 31 July at 12:08 PM Max Wofford wrote:

[2015-07-31 20:41] zachlatta commented on #210
Order placed, delivery later today.

[2015-07-31 20:43] zachlatta opened #263 "Create schedule templates for the other three days in the first week"

[2015-07-31 20:44] zachlatta opened #264 "Add more information and a better overview to README"

[2015-08-02 02:32] #263 closed, assigned to zachlatta

[2015-08-03 00:45] jonleung commented on #262
Moved this back to todo because I want to briefly want to think about the introduction talk topics instead

[2015-08-03 01:26] maxwofford commented on #199
This has been squashed, and is sitting in #271 waiting for merge. Make sure to submit PRs to cohort_4-portfolio-merge

[2015-08-03 01:50] #264 closed, assigned to zachlatta

[2015-08-03 01:50] maxwofford commented on #199
@jonleung Why was this assigned to me?

[2015-08-03 06:29] maxwofford opened #279 "Create detailed group-forming guidelines"
This is based off feedback from @gemmabusoni that the group-forming guidelines weren't well explained. This will go in `playbook/activities.md`.

[2015-08-03 08:09] maxwofford opened #283 "Add code of conduct to Introduction Talk"

[2015-08-03 09:08] maxwofford commented on #199
This was closed by #271.

[2015-08-03 09:08] #199 closed, assigned to nobody

[2015-08-03 15:40] maxwofford opened #289 "Create mini Tuesday workshop on CSS"

[2015-08-03 15:44] maxwofford commented on #283
Closed by #286

[2015-08-03 15:44] #283 closed, assigned to maxwofford

[2015-08-03 16:56] zachlatta commented on #210
We found it!

[2015-08-03 16:56] #210 closed, assigned to zachlatta

[2015-08-03 17:54] zachlatta commented on #188
We've done this! Glad to have this over.

![](http://img2.wikia.nocookie.net/__cb20140813011251/degrassi/images/b/be/We-Did-It.gif)

[2015-08-04 05:46] zachlatta commented on #289
We decided against doing this in today's post-mortem.

Closing for now!

[2015-08-04 05:46] #289 closed, assigned to nobody

[2015-08-04 05:47] zachlatta commented on #239
Pinging @andreadeng again.

[2015-08-04 05:47] zachlatta commented on #137
@andreadeng any updates on this?

[2015-08-04 05:50] zachlatta opened #298 "Clarify `slackbot help` usage"
From @jonleung's comment in #259...

[2015-08-04 15:39] zachlatta opened #300 "Discuss Slack vs. IRC for team chat"

[2015-08-04 15:42] maxwofford opened #301 "Add general guidelines for speaking to hackers"
Include details on the following
- Speaking LOUDLY
- When to Slack
- When to announce individually
- When to announce to a group

[2015-08-04 15:43] maxwofford opened #302 "Add playbook guidelines on helping people"
How to ask the right questions (especially when working with people more advanced).

[2015-08-04 15:51] zachlatta opened #303 "Improve free-form project guidelines to account for when an odd number of people exists or someone shows up or misses a day"

[2015-08-04 15:53] zachlatta opened #304 "Add why we are putting people in groups"
Make sure to ping the current leaders when this is done.

[2015-08-04 15:54] zachlatta opened #305 "Add guideline for collecting acceptance forms"
Ping our leaders when this is done.

[2015-08-04 16:28] zachlatta opened #307 "Add links to day 2"

[2015-08-04 16:38] #307 closed, assigned to zachlatta

[2015-08-04 16:38] #298 closed, assigned to zachlatta

[2015-08-04 16:39] #305 closed, assigned to zachlatta

[2015-08-04 16:51] zachlatta commented on #300
We've decided on using IRC for all team communication.

[2015-08-04 16:51] #300 closed, assigned to zachlatta

[2015-08-04 17:01] zachlatta opened #310 "Create post-mortem agenda"
Send to everyone in IRC when this is done.

[2015-08-04 17:02] zachlatta opened #311 "Add explanation of why we collect feedback"

[2015-08-04 17:04] zachlatta opened #312 "Add guidelines on bringing up suggestions to hackers"
For example: encouraging two of our hackers to not use a template in their project.

[2015-08-04 17:43] #310 closed, assigned to zachlatta

[2015-08-04 20:33] jonleung opened #317 "Record human knot energizer in the playbook."
We did this energizer on August 4th. @ssun098 came up with it and will record it.

[2015-08-04 20:42] zachlatta commented on #317
Is there a reason this needs to be recorded vs. written out?

We haven't had much success with recording in the past.

##

Zach Latta
hackEDU | zach@hackedu.us

On Tue, Aug 4, 2015 at 1:33 PM, Jonathan Leung notifications@github.com
wrote:

[2015-08-05 04:32] zachlatta opened #318 "Arriving hackers should be greeted"

[2015-08-05 04:33] zachlatta opened #319 "Account for when people are running late"

[2015-08-05 04:34] zachlatta commented on #228
Assigning @jonleung as I believe we discussed in today's post-mortem.

[2015-08-05 04:38] zachlatta opened #320 "Add setup checklist for breakfast"

[2015-08-05 04:38] zachlatta opened #321 "Change breakfast to only require one person to set up"

[2015-08-05 04:39] zachlatta opened #322 "Order apples & additional breakfast supplies"
- Apples
- Milk
- Maybe yogurt?

[2015-08-05 04:39] zachlatta opened #323 "Change ending time of breakfast to 10:00 AM"

[2015-08-05 04:40] zachlatta opened #324 "Add when to start cleaning up breakfast"

[2015-08-05 04:40] zachlatta opened #325 "Say that all of the hackers are expected to clean up after themselves for breakfast"

[2015-08-05 04:41] zachlatta opened #326 "Add demo expectations for project time"
Add expectations for what hackers should have completed for demos (ex. shoot for having something working, you are not expected to have a finished project, _MVP_).

[2015-08-05 04:45] zachlatta opened #327 "Make sure that people/teams sit in different seats every day"
Perhaps a good place to add this would be the "hacker arrival" section.

If it's a workshop day, they can sit wherever, as long as it's a different seat. If it's a project day, make sure they sit with their team in a different location.

[2015-08-05 04:56] zachlatta opened #328 "Make brainstorming guidelines super clear"
We had some issues on Monday where the guidelines for brainstorming weren't very clear and it was difficult for the leaders.

We need to make sure that the brainstorming guidelines are incredibly clear for tomorrow's (08.05.15) brainstorming activity.

When this is resolved, make sure @gemmabusoni has a chance to read over the guidelines.

[2015-08-05 05:00] zachlatta opened #329 "Projector is kill"
Our projector is died. Oh no!

Let's get this fixed.

[2015-08-05 05:00] zachlatta commented on #329
I'm going to email Kat and Ryan from Galvanize about this.

[2015-08-05 05:01] zachlatta commented on #329
I also just received word from @jonleung on IRC that @MaxWofford is going to bring in a VGA cable tomorrow and @ssun098 is going to bring in a DVI cable.

[2015-08-05 05:01] zachlatta opened #330 "Daily schedules should have row for hackers submitting links to demos"

[2015-08-05 05:02] zachlatta opened #331 "Add written example of what a demo may look like"
Perhaps suggest writing a demo overview on a whiteboard.

[2015-08-05 05:03] zachlatta opened #332 "Make it clear that hackers should use the same anonymous passphrase as the previous day in feedback forms"

[2015-08-05 05:09] zachlatta opened #333 "Make sure hacker pairs (for projects) are assigned before brainstorming starts"
Add a guideline to make sure the title happens.

[2015-08-05 05:13] zachlatta opened #334 "Make sure announcements that activities are happening are made an hour (or so) in advance"
See the title.

Examples:
- Announce that lunch is happening at 12:30 PM at 11:30 AM.
- Announce that demos are happening at 4 PM at 3PM

[2015-08-05 05:15] zachlatta commented on #228
Talked with @jonleung and I'll actually take this.

[2015-08-05 05:31] #311 closed, assigned to zachlatta

[2015-08-05 09:23] zachlatta commented on #321
The current guidelines only requires one person to set breakfast up.

[2015-08-05 09:23] #321 closed, assigned to zachlatta

[2015-08-05 09:24] zachlatta commented on #320
The current guidelines already have a setup checklist, of sorts. Check it out! https://github.com/hackedu/hack-camp/blob/master/cohort_4/playbook/ACTIVITIES.md#breakfast

Specifically, see the "How to get it going" part.

[2015-08-05 09:24] #320 closed, assigned to zachlatta

[2015-08-05 10:53] zachlatta commented on #329
Emailed them! Waiting on a response now...

[2015-08-05 10:54] zachlatta commented on #319
Hmm, I'm starting to rethink this issue and wonder if it makes sense to actually do this.

@gemmabusoni do you feel like there's enough room in the playbook to use discretion when dealing with edge cases like this?

[2015-08-05 11:04] zachlatta commented on #328
I know we decided that this needs to be super clear for tomorrow and to reach that goal I'm feeling that, with the current state of the brainstorming section, it may need a complete restructure.

I feel like it's lacking:
- What the brainstorming actually is (as in, what parts does the activity consist of)
- What it's for (what are the outcomes of it? what is the broader goal?)
- How to run it

I

[2015-08-05 11:55] zachlatta commented on #303
Hmm, so I was thinking about this and I think this may warrant a group discussion to decide what we should do in this case, before I went ahead and implemented some guidelines.

Here's the current layout I'm thinking. I'd love to hear everyone's thoughts.
- Odd number of people -> one group has three people
- Someone who wasn't present during brainstorming (and therefore not on a team ) shows up -

[2015-08-05 11:55] zachlatta commented on #303
Blocking on not having external confirmation on this.

[2015-08-05 14:55] #331 closed, assigned to zachlatta

[2015-08-05 14:56] #330 closed, assigned to zachlatta

[2015-08-05 14:56] #326 closed, assigned to zachlatta

[2015-08-05 14:56] #334 closed, assigned to zachlatta

[2015-08-05 14:56] #333 closed, assigned to zachlatta

[2015-08-05 14:56] #301 closed, assigned to zachlatta

[2015-08-05 14:56] #323 closed, assigned to zachlatta

[2015-08-05 14:56] #324 closed, assigned to zachlatta

[2015-08-05 14:56] #325 closed, assigned to zachlatta

[2015-08-05 14:56] #302 closed, assigned to zachlatta

[2015-08-05 14:56] #318 closed, assigned to zachlatta

[2015-08-05 14:56] #327 closed, assigned to zachlatta

[2015-08-05 15:00] #228 closed, assigned to zachlatta

[2015-08-05 19:36] selynna commented on #317
Finished, so this issue can be closed when merged.

[2015-08-05 20:56] zachlatta commented on #317
Awesome! I'll go ahead and review/merge it.

##

Zach Latta
hackEDU| zach@hackedu.us

On Aug 5, 2015, 12:36 PM -0700, Selynna Sunnotifications@github.com, wrote:

[2015-08-06 01:09] maxwofford opened #348 "Update hacker arrival guidelines to include greeting tips"
Make it clear that people should be greeted with vigor and excitement in the hacker arrival guidelines.

[2015-08-06 01:11] maxwofford opened #349 "Remove Fortunately, Unfortunately and Slow Motion Samurai"
Remove Fortunately, Unfortunately and Slow Motion Samurai & update energizer links to reflect order:
1. Mumbled Messages
2. Ninja
3. Human Knot
4. Didn't do a fourth one

[2015-08-06 01:14] maxwofford opened #350 "Add energizer for pasta + marshmallow to playbook"
This includes prepping for it & anything it will need to be run

[2015-08-06 01:17] maxwofford opened #351 "Remove debugger section from Maestro workshop"

[2015-08-06 01:19] maxwofford opened #352 "Go to Safeway and buy milk, apples, and bananas"
This is assigned to @saescapa

EDIT: Don't forget to keep a receipt!

[2015-08-06 01:20] maxwofford opened #353 "File issue for c9 livereload problem (with steps to reproduce the issue)"
This is assigned to @saescapa

[2015-08-06 01:22] maxwofford opened #354 "Clarify the "why" behind brainstorming in guidelines"

[2015-08-06 01:23] maxwofford opened #355 "Explain the "why" and the "philosophy" behind project time"

[2015-08-06 01:24] maxwofford opened #356 "Add guidelines for demoing the result of the maestro workshop"

[2015-08-06 01:25] maxwofford opened #357 "File issues from workflowy onto github"
File issues from here - https://workflowy.com/#/a6401fa49e35

[2015-08-06 01:26] maxwofford commented on #354
@jonleung This may involve a complete re-write of the brainstorming guidelines to make _super clear_

[2015-08-06 01:28] maxwofford opened #358 "Create pairing guidelines"
Create section in playbook on pairing people. This likely includes:
1. Create spreadsheet
2. Manually pair people of "compatible" skill levels
3. Make sure the pairs are different every time

This is assigned to @ssun098

[2015-08-06 01:30] maxwofford opened #359 "Add part to the playbook on notifying hackers"
ex. Notifying people that links need to be collected for demos

[2015-08-06 01:31] maxwofford opened #360 "Add the question "What is something you've learned?" to the demo guidelines"

[2015-08-06 01:33] maxwofford opened #361 "Update demo guidelines to include mock demos"
@hackedu/hack-camp This is currently unassigned. Can anyone pick this up?

In the demo guidelines a leader should do an example demo of something (actually demo a project). Some demo tips can be found here: https://cl.ly/text/0w370t171I2S

[2015-08-06 01:34] maxwofford opened #362 "Make it clear that the anonymous passphrase should be the same every day"
Some people have been changing their anonymous passphrase from day to day. Update the feedback forms themselves to say what the anonymous passphrase is for in subtext.

[2015-08-06 01:36] maxwofford opened #363 "Create new activity called Morning Announcements after energizers"
This is assigned to @ssun098

The activity should include any feedback from the previous day we're acting on.

[2015-08-06 01:36] maxwofford opened #364 "Schedule should have specific links with specific times"
Ex. instead of just linking to the brainstorming session, speficically link to the yes and session, and then the post it note section

[2015-08-06 02:14] saescapa opened #365 "C9 Workspace Live Reload Glitch"
Some workspaces (2) from C9 have a glitch with live reload. The live reload would load a previous version of a file and displaying wrong content. Steps to reproduce: unsure. Steps to fix, force the file to load a complete different code and then re-replace it with original code. Can be fixed easily by copying code, deleting it, reload page and pasting code back.

[2015-08-06 02:23] maxwofford commented on #353
This is resolved by #365. Thanks @saescapa!

[2015-08-06 02:25] #353 closed, assigned to nobody

[2015-08-06 02:26] maxwofford commented on #365
@zachlatta Would you please look into this?

[2015-08-06 03:57] selynna commented on #352
@MaxWofford could you assign me to this?  @saescapa won't be here tomorrow morning.

[2015-08-06 03:58] selynna commented on #363
@MaxWofford could you assign me to this on the sidebar? It'll help me keep my issues slightly more organized.

[2015-08-06 04:00] selynna commented on #329
@zachlatta projector is working well - we took 2 hdmi cables from galvanize

[2015-08-06 04:19] maxwofford commented on #363
There you go @ssun098!

[2015-08-06 04:51] selynna commented on #358
@MaxWofford could you add me to this one too?

[2015-08-06 15:21] zachlatta commented on #363
:+1:

##

Zach Latta
hackEDU | zach@hackedu.us

On Wed, Aug 5, 2015 at 9:19 PM, Max Wofford notifications@github.com
wrote:

[2015-08-06 15:21] zachlatta commented on #329
Awesome to hear! I'll let Galvanize know.

##

Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

On Wed, Aug 5, 2015 at 9:00 PM, Selynna Sun notifications@github.com
wrote:

[2015-08-06 15:35] jonleung opened #371 "Add energizers for w1d4"
This includes energizers for morning and afternoon.

[2015-08-06 15:37] maxwofford opened #372 "Create energizers for day 4"

[2015-08-06 15:39] #329 closed, assigned to zachlatta

[2015-08-06 15:40] jonleung commented on #226
I need to add these to the playbook

[2015-08-06 15:41] maxwofford commented on #371
Duplicate of #372

[2015-08-06 15:41] #371 closed, assigned to maxwofford

[2015-08-06 15:42] jonleung commented on #260
I need to create a PR for this.

Then I need to create a new task to have people review the workshop to rid bugs as discussed on wed aug 5th.

[2015-08-06 15:47] maxwofford commented on #372
This includes linking the energizers in the agenda.

[2015-08-06 15:58] jonleung opened #373 "Add a "How to do a demo" presentation on w1d5"

[2015-08-06 16:23] #317 closed, assigned to zachlatta

[2015-08-06 16:44] zachlatta commented on #373
Duplicate of #361.

[2015-08-06 16:44] #373 closed, assigned to nobody

[2015-08-06 16:44] zachlatta commented on #361
Can you slot in a time to do this in W1D5's schedule?

[2015-08-06 16:46] zachlatta commented on #363
Closed by df88900432de6005c58eb59f7491393509936693.

[2015-08-06 16:46] #363 closed, assigned to nobody

[2015-08-06 16:58] zachlatta commented on #365
Certainly!

@saescapa any chance I could get steps to reproduce?

[2015-08-06 17:26] #362 closed, assigned to zachlatta

[2015-08-06 17:47] saescapa commented on #365
@zachlatta unfortunately I don't know how to reproduce this glitch.

[2015-08-06 17:48] zachlatta commented on #332
Closed by #375.

[2015-08-06 17:48] #332 closed, assigned to nobody

[2015-08-06 17:48] #188 closed, assigned to nobody

[2015-08-06 17:48] #213 closed, assigned to nobody

[2015-08-06 17:48] #209 closed, assigned to nobody

[2015-08-06 17:48] #352 closed, assigned to nobody

[2015-08-06 17:54] zachlatta opened #377 "Create schedule for day 5"
`SCHEDULE.md` currently has schedule tables for days 1 - 4. We need to create one for day 5.

[2015-08-06 18:11] zachlatta commented on #365
Alright, I'll take a look at it and see what I can do. It'll be more
difficult for me to fix without instructions to reproduce.

On Thu, Aug 6, 2015 at 10:47 AM, Samuel Escapa notifications@github.com
wrote:

##

##

Zach Latta
http://zachlatta.com
https://github.com/zachlatta
https://twitter.com/zachlatta

[2015-08-06 18:18] zachlatta opened #378 "Create energizers for day 5"

[2015-08-06 18:24] zachlatta commented on #279
Could this fall under #328?

[2015-08-06 18:24] zachlatta commented on #279
16543bfa0be307f409bf31abbf80caec3e49c721 also adds some more info on hacker pairing. Perhaps that would close this?

[2015-08-06 18:25] zachlatta commented on #279
Thoughts @gemmabusoni?

[2015-08-06 18:29] zachlatta commented on #358
Closed by 16543bfa0be307f409bf31abbf80caec3e49c721.

[2015-08-06 18:29] #358 closed, assigned to nobody

[2015-08-06 18:31] zachlatta commented on #357
What's the status of this?

[2015-08-06 18:34] zachlatta commented on #322
@ssun098 bought food at Safeway this morning. Thank you!

[2015-08-06 18:34] #322 closed, assigned to zachlatta

[2015-08-07 01:38] maxwofford opened #380 "Add 3 new energizers for Friday"

[2015-08-07 01:39] maxwofford opened #381 "Add energizers field to EOD feedback form"

[2015-08-07 01:40] maxwofford opened #382 "Adjust schedule for lunch timing"

[2015-08-07 01:41] maxwofford opened #383 "Add MVP of culture section to project time"
This will likely include examples of scenarios we have run into previously. This should include right and wrong ways to approach different situations.

One example of this could be holding up energizers on a single hacker who is not ready to go to energizers.

"I'm confused about what I'm supposed to do , I don't know where the line is, what I'm supposed to say. @gemmabusoni." Getting people to do

[2015-08-07 01:43] maxwofford opened #384 "Add playbook section for periodic club leader instigated break activities"

[2015-08-07 01:44] maxwofford opened #385 "Create hacker pairs for Friday workshop and add to spreadsheet"

[2015-08-07 01:45] maxwofford opened #386 "Give speech to hackers about how feedback forms make everyone's lives better"

[2015-08-07 01:45] maxwofford opened #387 "Update post-mortem guides"

[2015-08-07 09:20] maxwofford commented on #381
This is updated at https://docs.google.com/forms/d/1c7XHYycvHP-t2DvESeji_ct-6g19QRtXOZdoAZ3hlvM/edit

[2015-08-07 09:20] #381 closed, assigned to maxwofford

[2015-08-07 10:38] #380 closed, assigned to maxwofford

[2015-08-07 10:38] #382 closed, assigned to maxwofford

[2015-08-07 10:50] jonleung commented on #354
Closed by #391

[2015-08-07 10:50] #354 closed, assigned to nobody

[2015-08-07 10:52] jonleung commented on #304
Closed by #391 @gemmabusoni @ssun098

[2015-08-07 10:57] jonleung commented on #361
@gemmabusoni

[2015-08-07 11:08] #349 closed, assigned to zachlatta

[2015-08-07 11:38] zachlatta opened #393 "Create day 5 feedback form"

[2015-08-07 11:42] zachlatta commented on #386
Should this be added to the playbook?

[2015-08-07 11:44] zachlatta commented on #393
@MaxWofford I see you created feedback forms for W1D5. I wasn't sure if you had set the response destination to the central `Feedback` sheet we have, so I went ahead and created a new feedback form and copied over the question you added to it (removing the form you created).

[2015-08-07 11:51] #393 closed, assigned to zachlatta

[2015-08-07 12:14] jonleung commented on #214
closed because it is not that relevant anoymore

[2015-08-07 12:14] #214 closed, assigned to nobody

[2015-08-07 12:24] jonleung commented on #312
Closing with #397

[2015-08-07 20:25] zachlatta commented on #386
A gentle nudge :-).

On Thu, Aug 6, 2015 at 6:45 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-08 01:23] maxwofford opened #403 "Buy new milk and cereal"

[2015-08-08 01:25] maxwofford opened #404 "Create 3 new energizers and link schedule for day 6"

[2015-08-08 01:26] maxwofford opened #405 "Create schedule for Cohort 4 day 6"

[2015-08-08 01:29] maxwofford opened #406 "Include demo instructions on the whiteboard"
During demos, a list of things to be talked about (failures, what you built, etc.) should be on the whiteboard, along with guidelines for feedback for the hackers.

This should also be included in the playbook.

[2015-08-08 01:32] maxwofford opened #407 "Update feedback form for Cohort 4 day 6"
Remove energizer question on feedback form and add a project time question on feedback form.

[2015-08-08 01:38] #357 closed, assigned to nobody

[2015-08-08 01:38] jonleung commented on #357
Closed because it doesn't make sense to have a personal todo task in a team repo

[2015-08-08 01:40] maxwofford opened #408 "Add advanced-to-beginner pairing guidelines to playbook"

[2015-08-08 04:17] maxwofford commented on #364
I don't have time for this.

[2015-08-08 04:19] maxwofford commented on #403
Will hold off on this until Sunday so the food stays good.

[2015-08-08 04:22] maxwofford commented on #405
Awaiting merge

[2015-08-08 04:25] maxwofford commented on #407
This is now at https://docs.google.com/forms/d/1y7WLP55aigI7Kf90wiy9z41xnqem-ltmT0myXJINzH0/edit

[2015-08-08 04:25] #407 closed, assigned to maxwofford

[2015-08-08 22:33] selynna opened #410 "Create resources guide for playbook"
Mainly git blame for now?

[2015-08-09 11:58] maxwofford commented on #408
Assigning `blocking` tag while awaiting merge

[2015-08-09 11:59] maxwofford commented on #403
It is now Sunday. I will get the food when the store opens...

![](https://raw.githubusercontent.com/hackedu/dinosaurs/master/restaurant_dinosaur.png)

[2015-08-09 20:02] selynna opened #413 "Talk with Gisela"
Getting insight as to how she teaches beginners

[2015-08-09 20:13] zachlatta commented on #403
Where are you headed to? Safeway is 24 hours and relatively cheap.

[2015-08-09 20:17] zachlatta commented on #408
Left a couple comments. Assigning back to you...

On Sun, Aug 9, 2015 at 4:58 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 20:18] zachlatta commented on #408
The pull request, that is.

On Sun, Aug 9, 2015 at 1:17 PM, Zach Latta zach@hackedu.us wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 20:21] zachlatta commented on #410
What do you mean by this?

On Sat, Aug 8, 2015 at 3:33 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 20:36] maxwofford commented on #403
@zachlatta Thanks! Looks like I'll be headed there.

[2015-08-09 20:38] zachlatta commented on #403
Awesome! Sounds good.

On Sun, Aug 9, 2015 at 1:36 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 20:40] maxwofford commented on #403
@zachlatta Did we need almond milk, soy, or dairy?

[2015-08-09 20:41] maxwofford commented on #410
`19:20:00 <ssun> er people caught typos so i taught some people git blame and i figured it would be a good idea to write up something people can refer to`

[2015-08-09 20:41] zachlatta commented on #403
Not that I know of. @jonleung?

On Sun, Aug 9, 2015 at 1:40 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 20:42] zachlatta commented on #410
Mmm, gotcha. How is `git blame` useful in the case of fixing the typos, out
of curiosity?

On Sun, Aug 9, 2015 at 1:41 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 20:53] selynna commented on #410
@zachlatta they can leave line notes so we can see where we have typos, and fix them accordingly. Does that make sense at all...?

[2015-08-09 20:53] selynna commented on #413
Wait uh how do i assign multiple people

[2015-08-09 21:37] zachlatta commented on #413
You can't. Only one assignee per issue on GitHub :-).

On Sun, Aug 9, 2015 at 1:53 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 21:39] zachlatta commented on #410
I think I'm still a bit confused.

`git blame` shows you which commit added each line of code. Here's an excerpt from `ACTIVITIES.md`:

[code]

How does this let them leave line notes?

[2015-08-09 21:41] maxwofford commented on #403
Got both soy and dairy.

[2015-08-09 21:42] maxwofford commented on #403
I'll close this when I bring them to Galvanize.

[2015-08-09 21:43] selynna commented on #410
When you click on the specific commit you can scroll to the line you need
changed and add line notes, right?

On Sun, Aug 9, 2015 at 2:39 PM Zach Latta notifications@github.com wrote:

[2015-08-09 21:59] zachlatta commented on #403
Awesome, sounds good.

On Sun, Aug 9, 2015 at 2:42 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 22:00] zachlatta commented on #410
Ah – that's just browsing a commits's diff/tree on GitHub (which isn't a
feature of git). git blame is actually part of git.

On Sun, Aug 9, 2015 at 2:43 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 22:05] selynna commented on #410
Oh okay that makes sense.  But you can use git blame to get to the commit
tree and add line notes, right?

On Sun, Aug 9, 2015 at 3:00 PM Zach Latta notifications@github.com wrote:

[2015-08-09 22:17] zachlatta commented on #410
All git blame does is annotate the file. See
http://git-scm.com/docs/git-blame for the specifics.

On Sun, Aug 9, 2015 at 3:05 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-09 22:53] zachlatta commented on #407
I reworded the project time question to say "How can we improve today's project time?" instead of "How was today's project time bad?" and I changed the response destination of the form to the central feedback spreadsheet we have.

[2015-08-09 23:21] zachlatta opened #414 "Add link to day 6's feedback form"
It's over at https://docs.google.com/a/zachlatta.com/forms/d/1y7WLP55aigI7Kf90wiy9z41xnqem-ltmT0myXJINzH0

[2015-08-09 23:28] zachlatta opened #416 "Link to brainstorming section is broken"
The link to the brainstorming section in https://github.com/hackedu/hack-camp/blob/schedule-for-cohort-4-day-6/cohort_4/playbook/ACTIVITIES.md#freeform-projects is broken.

[2015-08-09 23:29] #405 closed, assigned to maxwofford

[2015-08-09 23:29] zachlatta commented on #350
Has this been done?

[2015-08-09 23:30] zachlatta opened #417 "Create/link energizers for day 6"
#409 added a schedule for everything but the energizers for day 6. We need to create/link them.

[2015-08-09 23:31] saescapa commented on #413
So who is assigned to this? All of us?

[2015-08-09 23:31] selynna commented on #413
@gemmabusoni

On Sun, Aug 9, 2015 at 4:31 PM Samuel Escapa notifications@github.com
wrote:

[2015-08-10 01:49] #414 closed, assigned to zachlatta

[2015-08-10 02:04] #406 closed, assigned to nobody

[2015-08-10 02:05] maxwofford commented on #403
I take that back. The issue says `buy`, so I'll close this.

[2015-08-10 02:05] #403 closed, assigned to maxwofford

[2015-08-10 02:06] maxwofford commented on #404
@gemmabusoni What can I do to help this get done?

[2015-08-10 02:32] maxwofford commented on #416
Just tested the link. There is no `brainstorming` heading anywhere in the document anymore.

[2015-08-10 03:18] zachlatta commented on #416
Yeah. I think the new one is #project-formation or something along those
lines.

On Sun, Aug 9, 2015 at 7:32 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-10 04:06] zachlatta opened #418 "Send all Hack Camp applicants an email updating them"
We've yet to update all of the Hack Camp applicants. We need to write and send an email to all of them letting them know we've accepted all cohorts and that if we didn't accept them this year, we encourage them to apply to join hackEDU at our website and hopefully will see them next Hack Camp (or something along those lines).

[2015-08-10 15:33] zachlatta commented on #387
Going to take care of this today.

[2015-08-10 15:36] jonleung commented on #383
Waiting on @MaxWofford to review and merging #419

[2015-08-10 15:40] jonleung commented on #372
@MaxWofford, updates on this? I remember that you said that you didn't want to do tasks from the past that are primarily used as documentation for what we have done. What do you think the next steps are @MaxWofford ?

[2015-08-10 15:42] jonleung commented on #303
Thoughts @jonleung @MaxWofford @gemmabusoni @ssun098 @andreadeng?

[2015-08-10 15:45] jonleung commented on #359
Closed in 303cc6e0

[2015-08-10 15:45] #359 closed, assigned to nobody

[2015-08-10 15:48] jonleung commented on #279
Thoughts @ssun098, I believed that you brought this up initially?

[2015-08-10 15:52] #386 closed, assigned to nobody

[2015-08-10 15:53] jonleung commented on #386
Closed because @ssun098 did this last week.

[2015-08-10 15:54] jonleung commented on #384
Example: "I'm going to play ping pong now, anyone want to join?"

[2015-08-10 15:56] jonleung commented on #417
Duplicate of #404

[2015-08-10 15:56] #417 closed, assigned to nobody

[2015-08-10 16:18] maxwofford commented on #384
@jonleung Is that context, or an example?

[2015-08-10 16:21] maxwofford commented on #372
@jonleung This is sitting in a PR currently. I think it would be okay to finish this after Hack Camp.

[2015-08-10 18:09] jonleung commented on #262
Closing because I decided not to do it because I think that the guidelines in each individual workshop are sufficient.

[2015-08-10 18:09] #262 closed, assigned to nobody

[2015-08-10 18:19] gemmabusoni commented on #413
Taking place after lunch today.

[2015-08-10 19:10] maxwofford commented on #404
Because energizers have already happened in the morning, I vote we close the issue once #421 is closed.

[2015-08-10 19:25] zachlatta commented on #404
I'm partial towards adding them to the playbook before closing. I think
it's very important that we document all of our work, since we only have
one shot at cohort 4.

On Mon, Aug 10, 2015 at 12:10 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-10 19:35] maxwofford commented on #404
@zachlatta Sounds good. It seems like documentation for the playbook is not part of prepping for the cohort 4 day 6. I'm going to remove it from the milestone for now.

[2015-08-10 22:42] #416 closed, assigned to zachlatta

[2015-08-11 00:26] saescapa commented on #365
Sometimes, Live Reload would break and completely stop. When Live Reload stops, the hackers can't see their website, they get an error. (http://i.imgur.com/LDPm5cg.jpg). So the hackers would just click on the "Run" button which would initialize an Apache server. It looks like the Apache server for some reason interacts strangely with Live Reload, that prevents it from reloading the updated files.

[2015-08-11 00:30] zachlatta opened #424 "Send nightly diffs of the playbook to leaders"
@MaxWofford want to work together and set up a cron job of sorts for this?

[2015-08-11 00:44] zachlatta commented on #424
Or we could manually write out changelogs each night and email them.

[2015-08-11 01:35] maxwofford opened #425 "Buy bananas"
![](http://vignette3.wikia.nocookie.net/thefakegees/images/f/f5/566px-Dancing_Banana.gif)![](http://vignette3.wikia.nocookie.net/thefakegees/images/f/f5/566px-Dancing_Banana.gif)![](http://vignette3.wikia.nocookie.net/thefakegees/images/f/f5/566px-Dancing_Banana.gif)![](http://vignette3.wikia.nocookie.net/thefakegees/images/f/f5/566px-Dancing_Banana.gif)![](http://vignette3.wikia.nocookie.net/thef

[2015-08-11 01:35] #387 closed, assigned to zachlatta

[2015-08-11 01:40] maxwofford commented on #424
I'll take point on sending these out.

[2015-08-11 01:42] maxwofford opened #426 "Decide on 3 energizers"
I think the actionable thing here is for @gemmabusoni to write a comment that includes the 3 energizers being run tomorrow.

[2015-08-11 01:44] maxwofford opened #427 "Messenger workshop finalization"
The final step to this is merging #420

[2015-08-11 01:45] maxwofford opened #428 "Create schedule for cohort 4 day 7"
This includes creating and linking feedback forms

[2015-08-11 01:47] maxwofford opened #429 "Send out email with changelog"

[2015-08-11 02:45] maxwofford commented on #429
This will have to be done after all the other issues are closed.

[2015-08-11 03:03] maxwofford commented on #428
Awaiting merge

[2015-08-11 03:04] maxwofford commented on #425
@gemmabusoni  Is there anything else I should pick up while getting bananas?

[2015-08-11 03:30] maxwofford commented on #425
Bananas confirmed ![](https://dl.pushbulletusercontent.com/TdPlMR6xLWSYPChFVph4AkGPRPa6na3D/20150810_202808.jpg)

[2015-08-11 04:42] #425 closed, assigned to maxwofford

[2015-08-11 05:18] #351 closed, assigned to nobody

[2015-08-11 05:21] #356 closed, assigned to nobody

[2015-08-11 05:21] jonleung commented on #261
Done https://github.com/hackedu/hack-camp/pull/434

[2015-08-11 05:21] #261 closed, assigned to nobody

[2015-08-11 05:22] jonleung commented on #427
Done https://github.com/hackedu/hack-camp/tree/squashed_messenger

[2015-08-11 05:29] maxwofford commented on #427
@jonleung Shouldn't #420 be merged first?  Reopening for the time being.

EDIT: meant #432

[2015-08-11 05:43] jonleung commented on #427
@MaxWofford, do you mean #432 ?

[2015-08-11 05:44] jonleung commented on #384
@MaxWofford edited my comment based on your comment

[2015-08-11 06:43] maxwofford commented on #427
@jonleung Yep! My bad. Just edited the comment.

[2015-08-11 06:49] maxwofford commented on #429
My bad^

Thought I was in another issue

[2015-08-11 08:12] #428 closed, assigned to maxwofford

[2015-08-11 09:58] maxwofford commented on #427
This was closed by #432. Thanks @jonleung!

[2015-08-11 09:58] #427 closed, assigned to nobody

[2015-08-11 10:41] gemmabusoni commented on #426
2 Truths and a Lie http://www.icebreakers.ws/small-group/two-truths-and-a-lie.html

Duck, Duck, Goose

Card on Your Head - One hacker is given a card (realistically, a sticky note) with a noun written on it (duck, cat, Kung Fury, Zach Latta, etc.); said hacker cannot read the card and must stick it to their forehead. The other hackers must then do their best to describe the noun, while the hacker

[2015-08-11 10:44] maxwofford commented on #426
@gemmabusoni Thanks for this!

[2015-08-11 10:44] #426 closed, assigned to nobody

[2015-08-11 10:48] gemmabusoni opened #436 "New Pairings for Day 7"
Create new hacker pairs for the upcoming workshop.

[2015-08-11 10:48] gemmabusoni commented on #436
Finished; done semi-randomly.

https://docs.google.com/spreadsheets/d/1qltbF0R-kWNzMjgip2dBx7a5MRXjGbFqe0bna69jKxc/edit#gid=0

[2015-08-11 10:48] #436 closed, assigned to nobody

[2015-08-11 10:52] maxwofford commented on #429
We did it!

[2015-08-11 10:52] #429 closed, assigned to maxwofford

[2015-08-11 16:59] selynna opened #440 "Fix Pairings on Schedule"
Not in right slot

[2015-08-11 18:10] selynna opened #443 "Contributing guidelines not clear"
Needs to indicate that you need to assign someone to a pull request for them to merge it.

[2015-08-11 18:47] zachlatta commented on #413
Did this happen?

[2015-08-11 18:57] saescapa commented on #413
Yes, we forgot to close it.

[2015-08-11 18:58] saescapa commented on #413
Gemma has talked to Gisela. Closed.

[2015-08-11 18:58] #413 closed, assigned to nobody

[2015-08-11 21:35] maxwofford commented on #440
@ssun098 Would you please elaborate on that? What is the right slot?

[2015-08-11 21:36] maxwofford commented on #443
@zachlatta?

[2015-08-12 01:06] maxwofford opened #453 "Create schedule for cohort 4 day 8"
This includes slotting a time for the safety talk 10:00-10:15am.
This also includes a time for the example (Orbit) demo that @ssun098 is showing.
This also includes a slot for the morning announcements on feedback that @gemmabusoni is giving.

[2015-08-12 01:09] maxwofford opened #454 "Email Kat about why the classroom door was locked"
important thing is to make sure this doesn't happen again

[2015-08-12 01:11] maxwofford opened #455 "Decide on 3 energizers for cohort 4 day 8"
I think the actionable thing here is for @ssun098  to write a comment that includes the 3 energizers being run tomorrow.

[2015-08-12 01:12] maxwofford opened #456 "Add cohort 4 day 7 energizers to playbook"
@zachlatta

We need to document the energizers in #426 in the playbook.

[2015-08-12 01:13] maxwofford opened #457 "Prep for safety talk on cohort 4 day 8"
@ssun098 Is it okay if you take point on this?

/cc @gemmabusoni

[2015-08-12 01:23] maxwofford opened #458 "Make sure orbit demo is shown"
@ssun098 Feel free to pint @jonleung if this is not clear.

[2015-08-12 01:24] maxwofford opened #459 "Create feedback forms for the rest of cohort 4"

[2015-08-12 01:30] maxwofford opened #460 "Email Michael about becoming an organizer for cohort 4"

[2015-08-12 01:42] maxwofford opened #461 "Aquire pizza rolls"
![](http://sd.keepcalm-o-matic.co.uk/i/keep-calm-and-eat-pizza-rolls.png)

[2015-08-12 01:45] maxwofford opened #462 "Address feedback in morning announcements"
This is related for #461

@gemmabusoni If you want, you can just comment the points you want to bring up here.

[2015-08-12 02:00] jonleung commented on #454
I just emailed Kat of Galvanize and am waiting on a response.

[2015-08-12 02:00] #454 closed, assigned to nobody

[2015-08-12 02:29] jonleung opened #463 "Write a section in the Playbook that explains about how one might address hacker disruptiveness"
Send this guide to @gemmabusoni @ssun098, and @saescapa to read over and give feedback.

Make sure to add this into the schedule as well.

[2015-08-12 05:58] selynna commented on #457
@MaxWofford yep of course!

[2015-08-12 06:12] maxwofford commented on #457
@ssun098 So that I'm clear on what you have to do for this, what needs to be done before tomorrow to close this issue?

[2015-08-12 06:17] maxwofford opened #464 "Create feedback form for cohort 4 day 8"
This is slightly redundant to #459, but this issue needs to be closed before day 8

[2015-08-12 06:21] maxwofford commented on #453
Currently blocking on #455 & #464

[2015-08-12 06:23] selynna commented on #457
@MaxWofford talk with Gemma and go over suggestions that Jonathan made.

[2015-08-12 06:41] maxwofford commented on #457
@ssun098 Cool! Before closing the issue, would you please comment with the outcomes of the discussion with @gemmabusoni ?

[2015-08-12 06:51] selynna commented on #455
Duck duck goose (originally for 8/11 but we didn't do it)

Can it! - Have participants sit in a circle with their feet extended. Place a can on the foot of one of the participants. The object is to move the can around the circle without touching the can with your hands or having it fall. The can must be on at least one foot of each participant. We could also do this as a competition between 2 grou

[2015-08-12 06:51] #455 closed, assigned to nobody

[2015-08-12 06:52] maxwofford commented on #455
Thanks @ssun098 !

[2015-08-12 06:58] maxwofford commented on #461
Closing this for the time being. The pizza rolls have been acquired by @gemmabusoni

[2015-08-12 06:58] #461 closed, assigned to nobody

[2015-08-12 07:03] maxwofford commented on #464
@zachlatta If you just comment here with the link to the feedback for for day 8, I'll add it to the schedule.

[2015-08-12 07:04] maxwofford opened #465 "Send out summary email for cohort 4 day 8"
This should include [schedule](https://github.com/hackedu/hack-camp/issues/453), the section on [hacker disruption](https://github.com/hackedu/hack-camp/issues/463), and the [feedback form](https://github.com/hackedu/hack-camp/issues/464).

EDIT: grammar

[2015-08-12 07:09] maxwofford opened #466 "Update post-mordem guidelines in playbook"
This includes adding how discussion times work and that whoever is taking point on the meeting must take point on recording issues on GitHub.

[2015-08-12 08:24] maxwofford commented on #463
This is addressed by #463

@jonleung Said he was going to bed right now, so I will remove this from the milestone.

[2015-08-12 08:35] maxwofford commented on #465
This is blocking on the https://github.com/hackedu/hack-camp/milestones/Cohort%204%20Day%208

[2015-08-12 08:37] selynna commented on #457
SInce @gemmabusoni is asleep, @MaxWofford :

• Hack camp needs to be a safe environment for everyone, so jokes such as calling people names cross the line.  bring up "x is gay" example and why that is not okay.
• Stress that these jokes are the opposite of the type of culture we want at Hack Camp - we aim to be accepting of all, and by saying "x is something" will definitely make them feel uncomfo

[2015-08-12 08:37] #457 closed, assigned to nobody

[2015-08-12 08:45] maxwofford commented on #453
This is closed by #467

[2015-08-12 08:45] #453 closed, assigned to maxwofford

[2015-08-12 09:01] maxwofford commented on #465
I'm headed to bed, and will send out the email right now.

[2015-08-12 09:10] maxwofford commented on #464
[Found it](https://docs.google.com/a/zachlatta.com/forms/d/1bIkPi1IWIf34WXMHxivQDOqCWBIOq2SVUl_OFw2e_9c)! Also added to [the schedule](https://github.com/hackedu/hack-camp/pull/468/files)

[2015-08-12 09:10] #464 closed, assigned to zachlatta

[2015-08-12 09:14] maxwofford commented on #465
This email has been sent out.

[2015-08-12 09:14] #465 closed, assigned to maxwofford

[2015-08-12 15:46] jonleung commented on #454
Updates on this are Kat said she would take care of it.

Door was still locked on Wed Aug 12.

I emailed Kat about it again.

[2015-08-12 15:48] selynna commented on #460
@gemmabusoni not sure if this is worth? there's only 2 days left for him to help out

[2015-08-12 17:33] zachlatta commented on #465
Alright, I failed at getting the feedback form in.

Will do it ASAP.

On Wednesday, 12 August at 12:04 AM Max Wofford wrote:

[2015-08-12 22:01] zachlatta commented on #443
I'm tracking contribution guideline improvements in hackedu/hackedu#42. I'd bias against adding that you need to assign someone to a pull request for them to merge it because I don't think we want to make that a required part of our workflow.

I'm thinking that ideally if someone submits a pull request, a contributor of the repo will initiate the merge process (whether that's reviewing the PR them

[2015-08-12 22:01] zachlatta commented on #443
Going to close this for now. Let's bring up any additional comments in the linked issue above.

[2015-08-12 22:01] #443 closed, assigned to nobody

[2015-08-13 00:46] maxwofford opened #469 "Document 3 energizers for cohort 4 day 9"
@ssun098 Feel free to comment with the energizers here!

[2015-08-13 01:12] maxwofford opened #471 "Review todo workshop and submit fixes"
@gemmabusoni You can find the workshop in https://github.com/hackedu/hack-camp/tree/master/cohort_4/playbook/workshops/todo

[2015-08-13 01:15] maxwofford opened #472 "Update demos whiteboard guide"
This includes encouraging the hackers to both take part in their presentation

[2015-08-13 01:16] maxwofford opened #473 "Create schedule for cohort 4 day 9"

[2015-08-13 01:16] maxwofford opened #474 "Send out email with changelog for cohort 4 day 9"

[2015-08-13 02:46] maxwofford commented on #226
This is closed by #397.

[2015-08-13 02:46] #226 closed, assigned to nobody

[2015-08-13 04:16] selynna commented on #469
Systems game: walking around a designated space (room, field, lot), everyone secretly chooses two people, and try to remain exactly in between both of them.

Pulse Race: in two lines, holding hands. Everyone has eyes closed except leader of each line. A beach ball or other object is placed at opposite end of lines from leaders. Facilitator stands by leaders and flips a coin. If tails, do nothing.

[2015-08-13 04:17] #469 closed, assigned to nobody

[2015-08-13 04:18] selynna commented on #458
@MaxWofford can i close this?

[2015-08-13 04:57] maxwofford commented on #458
@ssun098 Go right ahead!

[2015-08-13 04:59] #458 closed, assigned to nobody

[2015-08-13 09:58] #472 closed, assigned to maxwofford

[2015-08-13 09:59] #473 closed, assigned to maxwofford

[2015-08-13 10:09] maxwofford commented on #474
This was just sent out!

[2015-08-13 10:09] #474 closed, assigned to maxwofford

[2015-08-13 16:42] zachlatta commented on #473
:+1:

Looks good.

On Thu, Aug 13, 2015 at 2:59 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 16:42] zachlatta commented on #473
Can the branch be deleted?

On Thu, Aug 13, 2015 at 9:41 AM, Zach Latta zach@hackedu.us wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 17:00] zachlatta commented on #458
Should we add this to the playbook?

On Wed, Aug 12, 2015 at 9:59 PM, Selynna Sun notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 17:06] selynna commented on #458
Sure, that would be a good idea.  ALthough stress that it doesn't
necessarily have to be the orbit demo if you're referencing that
specifically.

On Thu, Aug 13, 2015 at 10:00 AM Zach Latta notifications@github.com
wrote:

[2015-08-13 17:10] selynna commented on #469
apparently we're doing mafia after lunch

Source: http://www.wikihow.com/Play-Mafia

[2015-08-13 17:11] zachlatta commented on #378
Do any of you guys remember which energizers we did on Friday?

/cc @gemmabusoni @ssun098 @saescapa

[2015-08-13 17:16] zachlatta opened #481 "Add day 8 and 9 energizers to playbook"
- https://github.com/hackedu/hack-camp/issues/455
- https://github.com/hackedu/hack-camp/issues/469

[2015-08-13 21:31] zachlatta commented on #471
What's the status on this?

On Wed, Aug 12, 2015 at 6:12 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 21:37] zachlatta commented on #429
go team!

:shipit:

On Tue, Aug 11, 2015 at 3:52 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 21:41] zachlatta commented on #384
Do we still want to do this?

On Mon, Aug 10, 2015 at 10:44 PM, Jonathan Leung notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 21:51] zachlatta commented on #365
Hmm, gotcha. Yeah, the live reload scripts conflicts with Cloud9's Apache
server.

One option may be to create a Cloud9 custom runner for the live reload
script (see https://docs.c9.io/docs/custom-runners).

On Mon, Aug 10, 2015 at 5:26 PM, Samuel Escapa notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 21:57] zachlatta commented on #404
Sounds good! Apologies for the delay.

On Mon, Aug 10, 2015 at 12:35 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 21:58] zachlatta commented on #413
Any insights @gemmabusoni?

On Tue, Aug 11, 2015 at 11:58 AM, Samuel Escapa notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 21:59] zachlatta commented on #372
Can you link the PR?

On Mon, Aug 10, 2015 at 9:21 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 22:03] zachlatta commented on #279
Did #391 help address this?

On Mon, Aug 10, 2015 at 8:48 AM, Jonathan Leung notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-13 23:08] zachlatta commented on #459
Closed by #479.

[2015-08-13 23:08] #459 closed, assigned to zachlatta

[2015-08-14 00:31] maxwofford opened #482 "Acquire marshmallows"

[2015-08-14 00:32] maxwofford opened #483 "Cohort 4 day 10 energizers"
/cc @gemmabusoni @ssun098

[2015-08-14 00:33] maxwofford opened #484 "Send out updates email for cohort 4 day 10"

[2015-08-14 00:35] maxwofford opened #485 "Send out email to take notes on cohort 4"

[2015-08-14 00:36] maxwofford opened #486 "Cohort 4 day 10 schedule"

[2015-08-14 00:37] maxwofford opened #487 "Create end of camp feedback form for cohort 4"

[2015-08-14 00:39] maxwofford opened #488 "Acquire ice cream"
![](http://www.littlebabysicecream.com/wp-content/uploads/2014/06/Little-Babys-Ice-Cream-This-Is-A-Special-Time-Video-Still.jpg)

[2015-08-14 05:06] selynna commented on #488
![dino ice cream](https://cloud.githubusercontent.com/assets/7741746/9267675/96787550-4207-11e5-9ee8-43e3bbc25abe.png)

[2015-08-14 07:53] maxwofford commented on #372
@zachlatta I can't find this currently. Perhaps we should revisit this on Monday?

[2015-08-14 07:54] maxwofford commented on #384
Not high leverage right now, but we may want to revisit this Monday.

[2015-08-14 08:12] maxwofford commented on #485
This was just sent out.

[2015-08-14 08:12] #485 closed, assigned to maxwofford

[2015-08-14 08:19] #486 closed, assigned to maxwofford

[2015-08-14 08:32] maxwofford commented on #487
This is within the scope of #459

[2015-08-14 08:32] #487 closed, assigned to zachlatta

[2015-08-14 15:28] maxwofford opened #490 "Switch 9th and 10th day feedback forms for cohort 4"

[2015-08-14 15:38] #490 closed, assigned to maxwofford

[2015-08-14 15:39] maxwofford commented on #484
This was sent out last night

[2015-08-14 15:40] #484 closed, assigned to maxwofford

[2015-08-14 15:43] selynna opened #492 "Energizers for Cohort 4 Day 10"
Mafia
Telephone
Human Knot

[2015-08-14 15:44] #492 closed, assigned to selynna

[2015-08-15 02:21] maxwofford opened #493 "Add feedback form in every workshop"

[2015-08-15 09:42] maxwofford commented on #488
This was aquired

[2015-08-15 09:42] #488 closed, assigned to zachlatta

[2015-08-16 15:21] jonleung opened #494 "Obtain testimonials from Hack Camp organizers"
Hack Camp organizers seemed to have an awesome time. Getting and sharing their testimonials will probably be very impactful for donors and would be a great marketing resource to convince future Hack Camp organizers (and perhaps club leaders) to apply.

Here are the steps that I foresee:
- [ ] Write the questions
- [ ] Send the questions to @gemmabusoni @ssun098 @saescapa
- [ ] Each organizer then

[2015-08-16 15:26] jonleung opened #495 "Get hacker projects on to shipped.hackedu.us"
Currently http://shipped.hackedu.us/
- does not have that many projects listed
- does not contain projects that are reflective of what beginner hackers could do.

I've had people tell me they actually visit this page so I think it would be valuable to have more projects on there (because we tell people we have 1,300 hackers). It would also be nice if they are representative of what a beginner coul

[2015-08-16 15:43] jonleung opened #496 "Send reminders to team about post program surveys for Hack Camp"
One of the things that All Star Code did was continue to follow up with hackers after their summer program ended. This allowed them to know what lasting effect the program had on the hackers.

Here are some potential things we could measure in the hackers
- number of hackathons attended
- number of projects shipped
- something softer that asks if they've been coding
- what are you currently doing

[2015-08-16 20:58] jonleung opened #497 "Add a line to kill apache before running livereload script"
Before trying to start the live_reload server

We can run this code first which pre-emptively kills any apache processes: https://gist.github.com/gmmorris/796400

before trying to start he live_reload.

Killing the apache server is important because it will block the live_reload from running on the right port otherwise if it is running.

[2015-08-17 17:38] maxwofford opened #498 "Close all hack-camp issues"
![](http://i.imgur.com/dm6iEr5.jpg)

Hack Camp is over! Time to tidy up the place.
/cc @hackedu/hack-camp

[2015-08-17 17:48] zachlatta opened #499 "Add link to final Hack Camp feedback form"
Add a link to the [post program questionnaire](https://docs.google.com/a/zachlatta.com/forms/d/1C04DICTvylS_sDutVkzwe-e-MgxzABp9PGC0XPZVCkA) to the playbook.

[2015-08-17 17:56] maxwofford opened #500 "Create task list for prepping for first club meetings"
Create bullet-point list of what needs to happen from now until first meeting for the following:
- @saescapa
- @xeonjake
- Lowell's club
- @amysorto

Put notes from each call (containing bullet points) in https://github.com/hackedu/hackedu/tree/master/meta/labs_program/meetings.
Track progress of this task (like saying when a call with one of the people is happening) by commenting on this issue.

[2015-08-17 17:57] maxwofford commented on #500
@jonleung Has volunteered to take point on reaching out to @amysorto and Lowell's club.

[2015-08-17 17:58] maxwofford opened #501 "Write out objective for labs program and clubs we're running in SF"

[2015-08-17 17:59] maxwofford commented on #501
Moved to https://github.com/hackedu/hackedu/issues/46

[2015-08-17 17:59] #501 closed, assigned to zachlatta

[2015-08-17 18:01] maxwofford commented on #500
Moved to https://github.com/hackedu/hackedu/issues/47

[2015-08-17 18:01] #500 closed, assigned to maxwofford

[2015-08-17 18:35] #499 closed, assigned to nobody

[2015-08-17 18:53] #440 closed, assigned to nobody

[2015-08-17 19:00] maxwofford commented on #483
@ssun098 What energizers did we run on the last day?

[2015-08-17 19:01] maxwofford commented on #482
This was finished on the last day.

[2015-08-17 19:01] #482 closed, assigned to nobody

[2015-08-17 19:02] maxwofford commented on #377
Added by https://github.com/hackedu/hack-camp/commit/6695213b0875a6355064f711a4729181f8c7d687

[2015-08-17 19:02] #377 closed, assigned to maxwofford

[2015-08-17 19:03] maxwofford commented on #404
@gemmabusoni What energizers did we run this day?

[2015-08-17 23:36] maxwofford commented on #495
@jonleung Could I get your feedback on this for a fb post?

---

Hey everyone! Now that Hack Camp is over it would be awesome for you to show off your projects. We've built a site to let you display your projects and would really appreciate it if you could add your projects.
https://shipped.hackedu.us/

[2015-08-17 23:56] maxwofford commented on #497
@zachlatta Thoughts?

[2015-08-17 23:58] maxwofford commented on #496
Perhaps the actionable things for this are to send reminders to ourselves 1 month, 6 months, and 12 months in the future?

[2015-08-17 23:59] maxwofford commented on #481
@zachlatta Any updates on documenting this?

[2015-08-18 00:00] jonleung commented on #495
@MaxWofford It sounds like you're asking them to do a favor for us and that it won't be beneficial for them. One thing that I've found helpful to convince someone to do something is to is make clear the value for that person.

[2015-08-18 00:15] maxwofford commented on #466
Closing this issue because post-mordem guidelines won't be used after Hack Camp. @jonleung Objections?

[2015-08-18 00:15] #466 closed, assigned to maxwofford

[2015-08-18 00:16] maxwofford commented on #365
@zachlatta Could this be fixed by #497?

[2015-08-18 00:23] zachlatta commented on #481
Still need to get to this, I'm going to order the ZenHub so it reflects my
queue.

On Mon, Aug 17, 2015 at 4:59 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-18 00:25] zachlatta commented on #496
If our #1 objective for this next semester is to run the labs program and
get the club playbook to the point where we're confident starting new clubs
with it, I'm not sure if it makes sense to do this as well.

I agree that it'd certainly be nice to do this sort of follow up with our
hackers from the summer, but I'm worried that our time could be better
spent elsewhere. Thoughts @hellyeah?

On Mon

[2015-08-18 00:26] zachlatta commented on #497
This sounds dangerous.

What if we make a custom Cloud9 runner for the live reload script (so they
can start the live reload script by clicking the green run button) instead?

On Mon, Aug 17, 2015 at 4:56 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-18 00:27] maxwofford commented on #497
@zachlatta Just curious, can this be done by the end of this week?

[2015-08-18 00:28] maxwofford commented on #497
@zachlatta Also, if killing apache is bad, it's probably okay to close this issue.

[2015-08-18 00:36] zachlatta opened #505 "Create a custom Cloud9 runner for the live reload script"
The current live reload script ([link](https://github.com/hackedu/hack-camp/blob/0064b188f86a08e8b211e85ffa70c85fc82639c0/cohort_3/curriculum/bin/live_reload)) conflicts with Cloud9's built in Apache server and hackers from previous cohorts have had a tendency to accidentally start the Apache server, breaking the live reload script.

Instead of manually running the live reload script from the term

[2015-08-18 00:37] zachlatta commented on #365
Going to track the creation of the custom runner in #505. That'll close this.

[2015-08-18 00:37] zachlatta commented on #497
I think I can finish this by the end of this week, if I work hard. I'll
close this issue for now and focus on the runner. Tracking that in #505.

On Mon, Aug 17, 2015 at 5:28 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-18 00:37] #497 closed, assigned to nobody

[2015-08-18 00:47] zachlatta commented on #466
I'd actually be partial towards doing this for the sake of recording as
much as possible. I'm happy to take point on this.

Is the flow of the meeting as follows? Please correct any mistakes.
1. Go through each item in the schedule and if anyone has anything they
   want done for the following day, they bring it up. This is only for
   discussing actionables. If someone wants to discuss something,

[2015-08-18 01:14] maxwofford commented on #495
@jonleung How's this:

---

Hey everyone! The best part of my first hackathon was finishing it. After working on [Shibay](https://dogelabs.github.io/shibay/) for so long, I got to show it off by putting it online. Even though my project didn't work, putting it somewhere 'out in the world' was really rewarding. I'd like to invite you to do the same by showing off your projects from Hack Camp at htt

[2015-08-18 01:20] selynna commented on #495
@MaxWofford @jonleung wouldn't it still be better to say that we'd appreciate them doing so, in addition to the other stuff? I think we should be stressing that it is valuable for both them and us, and not just them.

[2015-08-18 01:35] maxwofford commented on #466
@zachlatta Small detail:
Play upbeat music very quietly (instrumental/tropical house is best).

[2015-08-18 03:58] maxwofford commented on #385
This seems no longer relevant.

[2015-08-18 03:58] #385 closed, assigned to nobody

[2015-08-18 03:59] maxwofford commented on #384
This was never revisited. Closing this for now.

[2015-08-18 03:59] #384 closed, assigned to nobody

[2015-08-18 04:00] maxwofford commented on #364
This is no longer relevant. Closing for the time being. If anyone has any objections, feel free to reopen!

[2015-08-18 04:00] #364 closed, assigned to nobody

[2015-08-18 04:02] maxwofford commented on #360
Closed by https://github.com/hackedu/hack-camp/commit/5b4b8648985a2360f26170b8b7a05594e6b70489

[2015-08-18 04:02] #360 closed, assigned to nobody

[2015-08-18 17:31] zachlatta commented on #424
Can we close this?

[2015-08-18 17:35] zachlatta commented on #494
Want to take point on this?

[2015-08-18 17:35] zachlatta commented on #495
What if we messaged them individually to get them to do this? I feel like this may be more effective in a one-on-one context.

[2015-08-18 18:07] maxwofford commented on #424
Yep! Don't think this is needed anymore.

[2015-08-18 18:07] #424 closed, assigned to maxwofford

[2015-08-18 18:07] maxwofford commented on #460
I don't think this is needed anymore! Closing this for now :)

[2015-08-18 18:07] #460 closed, assigned to nobody

[2015-08-18 18:08] maxwofford commented on #462
Don't think this is needed anymore. Closing for now

[2015-08-18 18:08] #462 closed, assigned to nobody

[2015-08-18 18:09] maxwofford commented on #495
I agree @zachlatta, I'll get on this today.

[2015-08-18 18:11] maxwofford commented on #496
@jonleung Perhaps the actionable thing right now that gives us the most free bandwidth this week is to send 3 follow-up-thens: in 1 month, 6 months, and 12 months in the future.

[2015-08-18 18:15] maxwofford commented on #494
This seems like it might take time away from setting up the Labs program. What if we set up a follow-up-then for this?

[2015-08-18 18:40] jonleung commented on #279
Closing because
- lack of activity
-  there seem to be much higher leverage issues to fix

[2015-08-18 18:40] #279 closed, assigned to nobody

[2015-08-18 18:42] jonleung commented on #418
@zachlatta do you want to take this task?

[2015-08-18 18:43] jonleung commented on #493
Closing because I am choosing not to do this until we have finalized the workshops.

[2015-08-18 18:44] jonleung commented on #319
Closing because
- lack of activity
-  there seem to be much higher leverage issues to fix

[2015-08-18 18:44] #319 closed, assigned to nobody

[2015-08-18 18:45] jonleung commented on #154
Closing because this is no longer doable.

[2015-08-18 18:45] #154 closed, assigned to nobody

[2015-08-18 18:48] jonleung commented on #494
@MaxWofford, I'll see if I can quickly do this.

[2015-08-18 18:48] jonleung commented on #494
@zachlatta I took point.

[2015-08-18 18:48] jonleung commented on #496
@MaxWofford this sounds good! Do you want to take lead on this?

[2015-08-18 19:06] selynna commented on #495
@MaxWofford would you like me to help out with doing so?

[2015-08-18 19:16] #312 closed, assigned to nobody

[2015-08-18 19:17] #304 closed, assigned to nobody

[2015-08-18 19:18] #355 closed, assigned to nobody

[2015-08-18 19:18] #185 closed, assigned to nobody

[2015-08-18 19:18] #328 closed, assigned to nobody

[2015-08-18 19:28] zachlatta commented on #463
@MaxWofford did you mean to link to this issue?

[2015-08-18 19:30] zachlatta commented on #303
Ping?

[2015-08-18 19:35] zachlatta commented on #378
Ping?

[2015-08-18 19:36] zachlatta commented on #471
Going to close this due to lack of progress.

[2015-08-18 19:36] #471 closed, assigned to nobody

[2015-08-18 23:23] maxwofford commented on #463
well... closing #463 would certainly address the issue brought up by #463

[2015-08-18 23:25] maxwofford commented on #463
@zachlatta I think I meant to put #419

[2015-08-18 23:30] maxwofford commented on #495
@ssun098 That would be awesome! Who would you like to reach out to?

[2015-08-18 23:31] #456 closed, assigned to zachlatta

[2015-08-18 23:37] maxwofford commented on #496
@jonleung Sending the email right now. They will go to jonathan@hackedu.us

[2015-08-18 23:49] maxwofford commented on #493
@jonleung Won't we need to do this for the Labs program? Would putting it in the icebox work for the time being?

[2015-08-18 23:51] maxwofford commented on #279
![](https://i.imgur.com/8rJqE6b.png)

Fine with this

[2015-08-18 23:56] maxwofford commented on #319
Sounds good!
![](https://s3.amazonaws.com/giphygifs/media/D7Qzw12q9s8Tu/giphy.gif)

[2015-08-18 23:58] maxwofford commented on #408
@zachlatta Made the changes to #411

[2015-08-19 00:20] maxwofford commented on #495
Messaging everyone individually for cohort 4 right now.
EDIT: Doing the same for cohort 2 right now.
EDIT: Now cohort 1
EDIT: Going to cohort 3 now.

[2015-08-19 00:23] MaxWofford commented on #495
Doing the same for cohort 2 right now.

[2015-08-19 00:28] maxwofford commented on #495
@ssun098: You're a hacker too! Feel free to upload any of your projects at https://shipped.hackedu.us

[2015-08-19 00:34] maxwofford commented on #495
Just contacted all the cohorts.

![](http://cdn.meme.am/instances/57298678.jpg)

[2015-08-19 00:43] #495 closed, assigned to maxwofford

[2015-08-19 00:46] maxwofford commented on #185
@hellyeah Why was this closed?

[2015-08-19 00:47] MaxWofford commented on #304
@hellyeah Was this closed because it is no longer relevant?

[2015-08-19 00:54] maxwofford commented on #496
These reminders were sent.

[2015-08-19 00:54] #496 closed, assigned to maxwofford

[2015-08-19 00:54] maxwofford commented on #494
@jonleung Updates on this? If it still has to be done, what if we sent a followupthen for this?

[2015-08-19 03:21] maxwofford commented on #378
`we did the marshmallow thing, telephone, and something else`
-- @ssun098

[2015-08-19 03:23] maxwofford commented on #404
Chatting with @ssun098 about this right now. I can take point.

[2015-08-19 03:24] maxwofford commented on #350
Talking to @ssun098 about this. I can take point on this.

[2015-08-19 03:27] maxwofford commented on #404
We did musical chairs, and human octopus on this day.

human octopus: partners link arms and touch backs and try to stand

[2015-08-19 07:50] Mamadou888 opened #509 "There is no README in the workshops directory of the playbook"
I'm not sure what order the workshops should be in because there is no outline.

[2015-08-19 15:46] zachlatta commented on #303
Pinging again...

[2015-08-19 15:47] zachlatta commented on #365
Hmm, what are everyone's thoughts on just not using the live reload script entirely and having the hackers just manually refresh the page each time? It seems like it may be more trouble than it's worth at this stage.

Also, for me to effectively create a custom Cloud9 runner for this, I'd need to test it by running through existing workshops, which would take a significant amount of time. We also

[2015-08-19 15:57] #408 closed, assigned to maxwofford

[2015-08-19 17:05] #509 closed, assigned to zachlatta

[2015-08-19 17:53] #361 closed, assigned to zachlatta

[2015-08-19 17:55] maxwofford commented on #365
@zachlatta I agree. It seems too early to decide to use C9 in all our curriculum anyways.

[2015-08-19 17:56] maxwofford commented on #365
@zachlatta Feel free to add a `wontfix` tag and close this + #505 if you want.

[2015-08-19 18:01] maxwofford commented on #260
@jonleung Is this a high leverage enough task while we are working on the Labs program?

[2015-08-19 18:09] selynna commented on #483
@MaxWofford mafia both times

[2015-08-19 18:16] zachlatta commented on #260
Has the work been done and all we're waiting on is having a PR submitted to
get the work merged?

On Wed, Aug 19, 2015 at 11:01 AM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-19 18:18] #505 closed, assigned to zachlatta

[2015-08-19 18:19] zachlatta commented on #365
Alright, I'm just going to go ahead and close this issue and leave the current inclusion of the live reload script in the workshops as-is. Let me know if anyone has any objections!

[2015-08-19 18:19] #365 closed, assigned to zachlatta

[2015-08-19 18:20] maxwofford commented on #483
@ssun098 Thanks!

[2015-08-19 20:06] zachlatta commented on #303
@jonleung pinging again...

[2015-08-19 20:50] maxwofford commented on #303
@zachlatta I'd say go for it for the time being. We can revise the current model once we start testing it in the Labs.

[2015-08-19 21:29] jonleung commented on #303
I agree with @MaxWofford's comment above.

[2015-08-19 21:33] selynna commented on #303
Looks good! Sorry I was in class

[2015-08-19 22:27] jonleung commented on #260
@MaxWofford, I agree with you. I don't think this is a high leverage task while we are working on the Labs program. I am moving this issue to backlog.

**Details:**

I refactored the Cohort 3 Maestro workshop to Cohort 4's Maestro workshop (as can be seen [here](https://github.com/hackedu/hack-camp/blob/master/cohort_4/playbook/workshops/maestro/README.md)).

There are problems in Cohort 4's Maest

[2015-08-20 02:25] jonleung commented on #494
@MaxWofford I agree this may take time away from setting up for the labs program. I, however, think it is still important. The longer we wait to do this, the more organizers will forget their experience. So, my thoughts are to leave it in backlog, and if we get to it, we'll get to it.

[2015-08-20 02:27] jonleung commented on #495
@MaxWofford :+1:

[2015-08-20 02:33] jonleung commented on #493
@MaxWofford, putting this issue in the icebox is a good idea! I've went ahead and put this issue in the icebox and reopened the issue.

[2015-08-20 03:04] zachlatta commented on #303
Cool! Thanks.

I'll get started on this.

[2015-08-20 03:05] zachlatta commented on #303
Whoops, accidentally unassigned myself!

[2015-08-20 03:38] zachlatta commented on #303
Alright. After reading through this a bit more and reading through the sections of the playbook on project formation and pairing, I'm thinking it doesn't make sense to include this in the playbook, especially considering that we didn't run Hack Camp with these guidelines. Personally, I'd rather have this playbook be a snapshot of Hack Camp than have as much content as possible.

I'm going to close

[2015-08-20 03:38] #303 closed, assigned to zachlatta

[2015-08-20 04:27] #418 closed, assigned to zachlatta

[2015-08-20 04:28] zachlatta commented on #418
Done!

Sent it out. If you have access to our email transparency Google Group, here's a link to it https://groups.google.com/forum/#!topic/hackedu-emails/SyTC0lILetc.

[2015-08-20 04:44] maxwofford commented on #494
@jonleung Have we been consistent with following up on issues in our backlog?

Sending a followupthen is something that will trigger us to revisit it at a relevant time.

[2015-08-20 15:59] jonleung commented on #494
@MaxWofford, feel free to send a Follow Up Then. I have also made a note in my own personal task management system. I also think that we should leave this issue in the backlog. But, if you feel strongly about it, feel free to close it or perform any action you think is appropriate. Thanks!

[2015-08-20 16:26] zachlatta commented on #378
@gemmabusoni, do you remember what the other energizer we did on Friday was?

On Tue, Aug 18, 2015 at 8:21 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 16:29] zachlatta commented on #494
I'm happy to take lead on asking @gemmabusoni, @ssun098, and @saescapa
these. @jonleung if you send me a list of questions, I can get on a call
with them and ask them. @hellyeah may also be a good person to do this.

If you feel strongly that this is important, I don't mind dedicated about
an hour of our time to get this done.

On Thu, Aug 20, 2015 at 8:59 AM, Jonathan Leung notifications@github.c

[2015-08-20 16:30] zachlatta commented on #496
@MaxWofford, @gemmabusoni: has everyone filled out the post-program
questionnaires yet?

On Tue, Aug 18, 2015 at 5:54 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 16:31] zachlatta commented on #185
@MaxWofford: I believe @hellyeah closed this during standups and @jonleung
would have more insight into why this was closed.

On Tue, Aug 18, 2015 at 5:46 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 16:32] zachlatta commented on #495
Sweet, thanks @MaxWofford!

Can we close this?

On Wed, Aug 19, 2015 at 7:27 PM, Jonathan Leung notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 16:55] jonleung commented on #185
@MaxWofford, it will take too long to fix the workshop. If I try to fix the workshop, I will not complete the objectives for the Labs program.

Here is what needs fixing:

We need to shorten the initial preface. There is too much reading before the student gets a chance to write any code.

/cc @zachlatta @hellyeah

[2015-08-20 17:06] hellyeah commented on #494
I think it would only make sense for me to do this, if we're going to get them to write their testimonials on the Medium publication. I'm very down for that though. Let me know.

[2015-08-20 17:07] hellyeah commented on #185
If someone links me to this, I have enough time today to do 1 round of editing for brevity. Beyond that, I don't think we have time to devote to his before bm.

[2015-08-20 17:17] zachlatta commented on #319
I love that GIF.

On Tue, Aug 18, 2015 at 4:56 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 17:18] jonleung commented on #494
@hellyeah, I would be totally down you to take lead on this!

Not sure if it's helpful but [here are a list of questions](https://docs.google.com/forms/d/1k6c83s5m1EMEkoKI-VeIhSkwjq_GqHoM91MKkCg6JKQ/viewform) I made to prompt Hack Camp organizers for testimonials.

/cc @zachlatta

[2015-08-20 17:18] zachlatta commented on #279
As long as I got my coffee, I'm happy.

FRESH POTS. https://www.youtube.com/watch?v=fhdCslFcKFU

On Tue, Aug 18, 2015 at 4:51 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 17:19] jonleung commented on #185
@hellyeah, I vote that we don't work on this now.

[2015-08-20 17:20] zachlatta commented on #494
Down with having @hellyeah take this!

[2015-08-20 17:22] zachlatta commented on #496
Ignore my previous comment... misread the issue.

[2015-08-20 17:24] zachlatta commented on #463
Update: during today's standups @jonleung said he had the work for this
done and just needs to submit a pull request.

On Tue, Aug 18, 2015 at 4:25 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 18:04] zachlatta commented on #466
Was that part of the meeting flow? I personally found it kind of
distracting when you did that.

On Mon, Aug 17, 2015 at 6:35 PM, Max Wofford notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 18:39] selynna commented on #350
@MaxWofford do you still need more information on this?

[2015-08-20 18:51] zachlatta opened #516 "Refund Hack Camp tuition"

[2015-08-20 21:48] hellyeah commented on #494
I'm not sure what timeline makes sense here, but it does seem time-sensitive in that we want them to reflect on this now.

Would next week be too late to hop on calls with all of them about writing these posts?

[2015-08-20 21:48] hellyeah commented on #185
sounds good. not top priority.

[2015-08-20 21:52] hellyeah commented on #516
I'm curious why yall are refunding tuition.

[2015-08-20 21:55] zachlatta commented on #516
We gave scholarships to many students who indicated that they'd need financial aid :-).

[2015-08-20 21:56] zachlatta commented on #516
We're not going to refund everyone though.

[2015-08-20 22:07] zachlatta commented on #494
I don't think it'd be too late, but we should get it on the calendar now.

On Thu, Aug 20, 2015 at 2:48 PM, David Fontenot notifications@github.com
wrote:

##

Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 22:08] zachlatta commented on #494
I'm happy to take point on this.

On Thu, Aug 20, 2015 at 3:07 PM, Zach Latta <zach@hackedu.us> wrote:

--
Zach Latta
hackEDU | zach@hackedu.us

[2015-08-20 22:36] zachlatta commented on #516
Done!

[2015-08-20 22:36] #516 closed, assigned to zachlatta

[2015-08-21 00:40] jonleung commented on #463
@zachlatta @MaxWofford, I've made the appropriate edits and squashed my commits in #441 and assigned @zachlatta to the PR.

[2015-08-21 00:44] jonleung commented on #260
Because I don't think this is a high leverage task while we are working on the Labs program, I've actually decided to close this issue because:
1. one of our objectives for this week is to close all the Hack Camp issues
2. don't know when I'd get to this task